{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container search-employer-page">
        <h2 class="text-center">{{ 'searchEmployer.title'|trans }}</h2>
        <br>
        <div>{{ 'searchEmployer.discover'|trans }}</div>

        <input type="text" id="myInput" onkeyup="showEmployer()" placeholder="Search for names.." title="Type in a name" class="search-employer">

        <ul id="myUL">

            {% for employer in employers %}
                    {% if employer.phone is not null %}
                        <a target="_blank" href="{{ path('show_employer', {'id':employer.id}) }}" class="col-md-4 featured-offer zoom  thump-employer">
                            <div class="thumbnail featured-offer-item" >
                                <div class="header-thumb-employer">
                                    {% if employer.logo.imageName is not null %}
                                        {% set image =  'uploads' ~ vich_uploader_asset(employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                    {% else %}
                                        {% set image = 'images/logo-default.png' %}
                                    {% endif %}
                                    <img src="{{ asset(image) }}" class="employer-thumb-logo" />
                                    <h3 class="employer-title">{{ employer.name }}</h3>
                                </div>
                                {% if employer.coverImage.imageName is not null %}
                                    {% set image =  'uploads' ~ vich_uploader_asset(employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                {% else %}
                                    {% set image = 'images/default_cover_image6.jpg' %}
                                {% endif %}
                                <div class="caption" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});min-height: 185px;">
                                </div>
                                <div class="thumb-employer-info">
                                    {{ employer.description}}
                                </div>
                            </div>
                        </a>
                    {% endif %}
            {% endfor %}</div>
        </ul>
    </div>

    <script>
        function showEmployer() {
            let input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            a = ul.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            for (i = 0; i < a.length; i++) {
                let h = a[i].getElementsByClassName("employer-title")[0];
                if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";

                }
            }
        }
    </script>


{% endblock %}