{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ employer.name }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}

    <div class="jumbotron employer-jumbotron">
        <div>
            <div class="container-logo-employer">
                {% if employer.logo.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% else %}
                    {% set image = 'images/logo-default.png' %}
                {% endif %}
                <img class="logo-employer" src="{{ asset(image) }}"/>
            </div>
            <h2>{{ employer.name }}</h2>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div style="height: 38px;">
                {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                    <a href="{{ path('create_notification', {'type':'notification.employer', 'id':employer.id}) }}" class="jobnow-button add-employer-notification">ajouter au notificaions</a>
                {% endif %}
                {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
                    <a href="{{ path('edit_employer', {'id':employer.id}) }}" class="btn btn-primary add-employer-notification">{{ 'dashboard.employer.editProfile'|trans }}</a>
                {% endif %}
            </div>
            <hr>
            <div class="col-md-8">
                <div class="shadow-box fade-in-right animated">
                    <div class="article-title">{{ 'form.registration.description'|trans }}</div>
                    <p class="description-employer">{{ employer.description |nl2br}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box fade-in-right animated">
                    <div class="article-title">{{ 'employer.show.lastOffers'|trans }}</div>
                    {% if offers[0] is defined %}
                        <ul class="last-job-list">
                            <li>
                                <a class="link-offer-employer" href="{{ path('show_offer', {'id':offers[0].id, 'url':offers[0].offerUrl}) }}">
                                    <div class="slide-button">
                                        <div><b>{{ offers[0].title }}</b></div>
                                        <div class="job-meta"><span>{{ offers[0].contractType.name |trans }}</span> - <span>{{ offers[0].location }}</span></div>
                                    </div>
                                </a>
                            </li>
                            {% if offers[1] is defined %}
                                <li>
                                    <a class="link-offer-employer" href="{{ path('show_offer', {'id':offers[1].id, 'url':offers[1].offerUrl}) }}">
                                        <div class="slide-button">
                                            <div><b>{{ offers[1].title }}</b></div>
                                            <div class="job-meta"><span>{{ offers[1].contractType.name |trans }}</span> - <span>{{ offers[1].location }}</span></div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if offers|length > 2 %}
                            <hr class="hr-last-offer">
                            <a href="{{ path('search_page_offer', {'employer':employer.name}) }}" class="jobnow-button">{{ 'employer.show.allOffers'|trans }}</a>
                        {% endif %}
                    {% else %}
                        <div class="no-recent-offers">
                            {{ 'employer.show.noOffer'|trans }}
                        </div>
                    {% endif %}
                </div>

                <div class="shadow-box fade-in-left animated">
                    <div class="article-title"><i class="fa fa-tag"></i> Tags</div>
                    {% if tags is defined and tags|length >0 %}
                        <ul class="last-job-list">
                            {% for tag in tags %}
                                <li>
                                    <a  href="{{ path('search_page_offer', {'tags':[tag.name], 'employer':employer.name}) }}">
                                        {{ tag.name|trans }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="no-recent-offers">
                            {{ 'employer.show.noTag'|trans }}
                        </div>
                    {% endif %}
                </div>

                {%  if (app.user.roles is not defined) or (app.user.roles is defined and 'ROLE_EMPLOYER' not in app.user.roles) %}
                    <div class="shadow-box">
                        <button class="spontaneous-button jobnow-button">{{ 'employer.show.spontaenous.title'|trans }}</button>
                        <form method="post" action="{{ path('apply_spontaneous', {'id':employer.id}) }}" id="spontaneous-form" enctype="multipart/form-data" style="display:none;">
                            <div class="inside-offer-apply">
                                <div>
                                    {{ 'offer.apply.addCV' | trans }}<input name="cv" type="file" class="spontaneous-cv">
                                </div>
                                <textarea  name="comment" id="comment-input" placeholder="{{ 'offer.apply.coverLetter' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}" rows="10" cols="70"></textarea>
                                <input type="submit" class="jobnow-button submit-apply" value="{{ 'offer.apply.send' | trans }}">
                            </div>
                        </form>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    {% if employer.location is not null and map is defined and map is not null %}
        <div class="container">
            <div class="shadow-box fade-in-left animated">
                <h3>{{ employer.location }}</h3>
                {{ ivory_google_map(map) }}
                {{ ivory_google_api([map]) }}
            </div>
        </div>
    {% endif %}

    <script>
        $(".spontaneous-button").click(function() {
            $(".spontaneous-button").text(($(".spontaneous-button").text() == "{{ 'employer.show.spontaenous.title' | trans }}") ? "{{ 'offer.apply.close' | trans }}" : "{{ 'employer.show.spontaenous.title' | trans }}").fadeIn();
            $("#spontaneous-form").slideToggle("medium");
        });
    </script>
    <style>
        #spontaneous-form{
            margin-top: 10px;
        }
        .spontaneous-cv{
            margin-top: 5px;
            margin-bottom: 10px;
            width: 100%;
        }
        {% if employer.coverImage.imageName is not null %}
            {% set image =  'uploads' ~ vich_uploader_asset(employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
        {% else %}
            {% set image = 'images/default_cover_image6.jpg' %}
        {% endif %}
        .employer-jumbotron::after{
            content: '';
            background-image:url({{ asset(image) }});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
    </style>

{% endblock %}