{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ employer.name }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron employer-jumbotron">
        <div>
            <div class="container-logo-employer">
                <img class="logo-employer" src="/jobnowlu/web/uploads{{ vich_uploader_asset(employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>
            </div>
            <div class="title-employer">{{ employer.name }}</div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div style="height: 38px;">
                <a href="{{ path('create_notification', {'type':'employer', 'id':employer.id}) }}" class="jobnow-button add-employer-notification">ajouter au notificaions</a>
            </div>
            <hr>
            <div class="col-md-8">

                <p class="description-employer">{{ employer.description }}</p>
                <h3>{{ 'employer.show.whyus'|trans }}</h3>
                <p class="whyus-employer">{{ employer.whyUs }}</p>
            </div>
            <div class="col-md-4">
                {% if offers[0] is defined %}
                    <div class="last-offers">
                        <div class="article-title">{{ 'employer.show.lastoffers'|trans }}</div>
                        <ul class="last-job-list">
                            <li>
                                <a class="link-offer-employer" href="{{ path('show_offer', {'id':offers[0].id}) }}">
                                    <div class="slide-button">
                                        <div><b>{{ offers[0].title }}</b></div>
                                        <div class="job-meta"><span>{{ offers[0].contractType.name |trans }}</span> - <span>{{ offers[0].location }}</span></div>
                                    </div>
                                </a>
                            </li>
                            {% if offers[1] is defined %}
                                <li>
                                    <a class="link-offer-employer" href="{{ path('show_offer', {'id':offers[1].id}) }}">
                                        <div class="slide-button">
                                            <div><b>{{ offers[1].title }}</b></div>
                                            <div class="job-meta"><span>{{ offers[1].contractType.name |trans }}</span> - <span>{{ offers[1].location }}</span></div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <hr class="hr-last-offer">
                        <a href="{{ path('search_page_offer', {'employer':employer.name}) }}" class="jobnow-button">Toute nos offres</a>
                    </div>
                {% endif %}

                {% if employer.tag is defined and employer.tag|length >0 %}
                    <div class="last-offers">
                        <div class="article-title"><i class="fa fa-tag"></i> Tags</div>
                        <ul class="last-job-list">
                            {% for tag in employer.tag %}
                                <li>
                                    <a  href="{{ path('create_candidate') }}">
                                        {{ tag.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>

        </div>
        <!--{{ dump(status) }}-->

        {{ ivory_google_map(map) }}
        {{ ivory_google_api([map]) }}
    </div>

    <style>

        .employer-jumbotron::after{
            content: '';
            background-image:url('/jobnowlu/web/uploads{{ vich_uploader_asset(employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}