{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'pro.addCollaborator.title' | trans }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_pro') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.pro.return' | trans }}</a>
    {% endif %}

    <div class="container rendezvous-container">

        <div class="shadow-box col-md-12">
            {{ 'pro.addCollaborator.type'|trans }}
            {{ form_start(form, {attr: {id: form.vars.id}}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-md-6 add-collaborator-button">
                        {{ form_widget(form.submit, { 'label': 'email.send' }) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <style>
        .add-collaborator-button{
            margin-top: 29px;
        }
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/dashboard.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .stripe-container{
            margin-top: 25px !important;
        }
    </style>

{% endblock %}