{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'pro.addCollaborator.list'|trans }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_pro') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.pro.return' | trans }}</a>
    {% endif %}
    <div class="container rendezvous-container">
        <a class="btn btn-primary" href="{{ path('add_collaborator') }}">{{ 'pro.addCollaborator.title'|trans }}</a>

        <h2>{{ 'pro.addCollaborator.list'|trans }}</h2>

        <table class="table table-bordered table-striped well">
            <tr>
                <th>{{ 'form.registration.email'|trans }}</th>
                <th>{{ 'pro.addCollaborator.access.title'|trans }}</th>
                <th>{{ 'dashboard.action'|trans }}</th>
            </tr>

            {% for collaborator in collaborators %}
                <tr>
                    <td>{{ collaborator.username }}</td>
                    <td>{% if collaborator.main %}{{ 'pro.addCollaborator.access.total'|trans }}{% else %}{{ 'pro.addCollaborator.access.simple'|trans }}{% endif %}</td>
                    <td>
                        <a href="{{ path('archive_collaborator', { 'id': collaborator.id }) }}">
                            <button type="button" class="btn btn-danger">{{ 'dashboard.pro.archiveOffer'|trans }}</button>
                        </a>
                        <a href="{{ path('change_access_collaborator', { 'id': collaborator.id }) }}">
                            <button type="button" class="btn btn-primary">{{ 'pro.addCollaborator.access.changeAccess'|trans }}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{%  endblock %}