{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} -
{% endblock %}

{% block body %}

    <div class="container search-pro-page">
        <h2 class="text-center">{{ 'searchPro.title'|trans }}</h2>
        <br>
        <div class="shadow-box">{{ 'searchPro.discover'|trans }}</div>

        <input style="margin-top: 16px;" type="text" id="myInput" onkeyup="showPro()" placeholder="{{ 'searchPro.type'|trans }}" title="Type in a name" class="search-pro">

        <ul id="myUL">

            {% for pro in pros %}
                    {% if pro.phone is not null %}
                        <a target="_blank" href="{{ path('show_pro', {'id':pro.id}) }}" class="col-md-4 col-sm-6 featured-offer zoom  thump-pro">
                            <div class="thumbnail featured-offer-item" style="margin-right: 0;margin-left: 0;">
                                <div class="header-thumb-pro">
                                    {% if pro.logo.imageName is not null %}
                                        {% set image =  'uploads' ~ vich_uploader_asset(pro.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                    {% else %}
                                        {% set image = 'images/logo-default.png' %}
                                    {% endif %}
                                    <img src="{{ asset(image) }}" class="pro-thumb-logo" />
                                    <h3 class="pro-title">{{ pro.name }}</h3>
                                </div>
                                {% if pro.coverImage.imageName is not null %}
                                    {% set image =  'uploads' ~ vich_uploader_asset(pro.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                {% else %}
                                    {% set image = 'images/default_cover_image6.jpg' %}
                                {% endif %}
                                <div class="caption" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});min-height: 185px;background-position: center center;">
                                </div>
                                <div class="thumb-pro-info">
                                    {{ pro.description}}
                                </div>
                            </div>
                        </a>
                    {% endif %}
            {% endfor %}</div>
        </ul>
    </div>

    <script>
        function showPro() {
            let input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            a = ul.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            for (i = 0; i < a.length; i++) {
                let h = a[i].getElementsByClassName("pro-title")[0];
                if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";

                }
            }
        }
    </script>


{% endblock %}