{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ pro.name }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) and app.user.pro == pro %}
        <a href="{{ path('dashboard_pro') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.pro.return' | trans }}</a>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-pro">{{ pro.name }}</div>
                <div class="article-title">{{ pro.location }} {{ pro.zipcode }} {{ pro.city }}</div>
                {% if pro.images.first != false and pro.images.first.imageName is not null and pro.images|length > 1%}

                    <div id="myCarousel-{{ pro.id }}" class="carousel-show-pro carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% set i = 0 %}
                            {% for image in pro.images %}
                                <li data-target="#myCarousel-{{ pro.id }}" data-slide-to="{{ i }}" class="carousel-dot {% if i == 0 %}active{% endif %}"></li>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set i = 0 %}
                            {% for image in pro.images %}
                                <div class="item {% if i == 0 %}active{% endif %}">
                                    <img class="image-show-pro" src="{{ asset('uploads' ~ vich_uploader_asset(image, 'imageFile', 'AppBundle\\Entity\\Image')) }}">
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel-{{ pro.id }}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel-{{ pro.id }}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% else %}
                    {% if pro.images.first != false and pro.images.first.imageName is not null %}
                        {% set image =  'uploads' ~ vich_uploader_asset(pro.images.first, 'imageFile', 'AppBundle\\Entity\\Image') %}
                    {% else %}
                        {% set image = 'images/default_cover_image6.jpg' %}
                    {% endif %}
                    <img class="image-show-pro" src="{{ asset(image) }}">

                {% endif %}
                <div class="shadow-box">
                    <p class="description-show-pro">{{ pro.description |nl2br}}</p>
                    <p class="show-button-container"><a class="show-description">{{ 'pro.show.showMore'|trans }}</a></p>
                </div>

                <div class="article-title show-button-container">{{ 'pro.show.takeOnline'|trans }}</div>

                {% for category,services in serviceArray %}
                    <div class="article-title">{{ category }}</div>
                    <div class="shadow-box category-container">
                        {% for service in services %}
                            <div class="service-container" data-href="{{ path('reservation_page',{'proId':pro.id, 'serviceId':service.id}) }}">
                                <div class="service-info-container-choose">
                                    <div class="service-name">
                                        {{ service.name }}
                                    </div>
                                    <div class="container-price-length">
                                        <div class="other-service-info">
                                            {{ service.price }}€
                                        </div>
                                        <div class="length-info">
                                            {% set hours = service.length // 60 %}
                                            {% set minutes = service.length % 60 %}
                                            {% if hours >= 1 %}
                                                {{ hours }}h {{ minutes }}min
                                            {% else %}
                                                {{ minutes }}min
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                                <div class="other-service-info">
                                    <a>{{ 'pro.show.choose'|trans }}</a>
                                </div>
                            </div>


                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                        <div class="shadow-box">
                            <div id="map"></div>
                        </div>

                <div class="shadow-box">
                    <div class="article-title"><i class="fas fa-clock"></i>{{ 'pro.show.openingHour'|trans }}</div>
                    {% if pro.generalSchedule is null %}
                        <div class="no-recent-offers">
                            {{ 'offer.notCommunicated'|trans }}
                        </div>
                    {% else %}
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Monday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[0]["open"] == '' and pro.generalSchedule[0]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[0]["open"] }}-{{ pro.generalSchedule[0]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Tuesday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[1]["open"] == '' and pro.generalSchedule[1]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[1]["open"] }}-{{ pro.generalSchedule[1]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Wednesday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[2]["open"] == '' and pro.generalSchedule[2]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[2]["open"] }}-{{ pro.generalSchedule[2]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Thursday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[3]["open"] == '' and pro.generalSchedule[3]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[3]["open"] }}-{{ pro.generalSchedule[3]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Friday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[4]["open"] == '' and pro.generalSchedule[4]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[4]["open"] }}-{{ pro.generalSchedule[4]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Saturday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[5]["open"] == '' and pro.generalSchedule[5]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[5]["open"] }}-{{ pro.generalSchedule[4]["close"] }}{% endif %}</div></div>
                        <div class="container-day-general-schedule"><div class="title-day"><i class="fas fa-square"></i>{{ 'Sunday'|trans }}</div><div class="info-day-general-schedule">{% if pro.generalSchedule[6]["open"] == '' and pro.generalSchedule[6]["close"] == '' %}Fermé{% else %}{{ pro.generalSchedule[6]["open"] }}-{{ pro.generalSchedule[6]["close"] }}{% endif %}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if location[0] is defined %}
        <div id="map"></div>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var location = {lat: {{ location[0] }}, lng: {{ location[1] }}};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 17, center: location, mapTypeControl: false, fullscreenControl: false});
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({position: location, map: map});
            }
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY8KoA6XgncXKSfDq7Ue7R2a1QWFSFxjc&callback=initMap">
        </script>
    {% endif %}

    <style>
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
        .fa-clock{
            margin-right: 10px;
        }
        .fa-square{
            margin-right: 10px;
            font-size: 11px;
        }
        .title-day{
            margin-top: 10px;
            margin-right: 45px;
            width: 120px;
        }
        .info-day-general-schedule{
            margin-top: 10px;
        }
        .container-day-general-schedule{
            display: flex;
        }
        .show-button-container{
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }
        .show-button-container a{
            cursor: pointer;
            text-decoration: initial !important;
        }
        .description-show-pro{
            max-height: 80px;
            overflow: hidden;
        }
        .carousel-show-pro{
            margin-bottom: 20px;
        }
        .service-container{
            display: flex;
            padding: 10px;
            border: #ddd 1px solid;
            cursor: pointer;
        }
    </style>
    <script>
        $('.show-description').on('click', function () {
            if($(this).hasClass('expended')){
                $(this).html('{{ 'pro.show.showMore'|trans }}').removeClass('expended');
                $('.description-show-pro').css('max-height', '80px');
            }else {
                $(this).html('{{ 'pro.show.showLess'|trans }}').addClass('expended');
                $('.description-show-pro').css('max-height', 'none');
            }

        });

        $(".service-container").on("click ", function(e){
            window.location.href = $(this).data('href');
        });

    </script>

{% endblock %}