{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ pro.name }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) and app.user.pro == pro %}
        <a href="{{ path('dashboard_pro') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.pro.return' | trans }}</a>
    {% endif %}

    <div class="jumbotron pro-jumbotron">
        <div>
            <div class="container-logo-pro">

                    {% set image = 'images/logo-default.png' %}
                <img class="logo-pro" src="{{ asset(image) }}"/>
            </div>
            <h2>{{ pro.name }}</h2>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div style="height: 38px;">
                {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                    <a href="{{ path('create_notification', {'type':'notification.pro', 'id':pro.id}) }}" class="rendezvous-button add-pro-notification">ajouter au notificaions</a>
                {% endif %}
                {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) and app.user.pro == pro %}
                    <a href="{{ path('edit_pro', {'id':pro.id}) }}" class="btn btn-primary add-pro-notification">{{ 'dashboard.pro.editProfile'|trans }}</a>
                {% endif %}
            </div>
            <hr>
            <div class="col-md-8">
                <div class="shadow-box fade-in-right animated">
                    <div class="article-title">{{ 'form.registration.description'|trans }}</div>
                    <p class="description-pro">{{ pro.description |nl2br}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-box fade-in-right animated">
                    <div class="article-title">{{ 'pro.show.lastOffers'|trans }}</div>

                        <div class="no-recent-offers">
                            {{ 'pro.show.noOffer'|trans }}
                        </div>
                </div>

                <div class="shadow-box fade-in-left animated">
                    <div class="article-title"><i class="fa fa-tag"></i> Tags</div>

                        <div class="no-recent-offers">
                            {{ 'pro.show.noTag'|trans }}
                        </div>
                </div>


            </div>

        </div>
    </div>
    {% if pro.location is not null and map is defined and map is not null %}
        <div class="container">
            <div class="shadow-box fade-in-left animated">
                <h3>{{ pro.location }}</h3>
                {{ ivory_google_map(map) }}
                {{ ivory_google_api([map]) }}
            </div>
        </div>
    {% endif %}

    <style>
        #spontaneous-form{
            margin-top: 10px;
        }
        .spontaneous-cv{
            margin-top: 5px;
            margin-bottom: 10px;
            width: 100%;
        }
            {% set image = 'images/default_cover_image6.jpg' %}
        .pro-jumbotron::after{
            content: '';
            background-image:url({{ asset(image) }});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
    </style>

{% endblock %}