<form method="post" action="{{ path('rendezvous_contact') }}" class="form-horizontal clearfix">

    <input type="hidden" value="{{ type }}" name="type" id="type-input">
    <input type="hidden" value="{{ emailTo }}" name="emailTo" id="emailTo-input">
    <table style="width: 100%;">
        <tr>
            <th class="label-contact-us">
                <label>{{ 'contact.name'|trans }}</label>
            </th>
            <td class="td-contact-us">
                <input class="form-control" name="name" type="text" id="name-input">
            </td>
        </tr>
        <tr>
            <th class="label-contact-us">
                <label>{{ 'contact.email'|trans }}</label>
            </th>
            <td class="td-contact-us">
                <input class="form-control" name="email" type="text" id="email-input">
            </td>
        </tr>
        <tr>
            <th class="label-contact-us">
                <label>{{ 'contact.message'|trans }}</label>
            </th>
            <td class="td-contact-us">
                <textarea  style="resize: vertical" class="form-control" name="message" id="message-input"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" class="rendezvous-button send-contact" value="{{ 'email.send' | trans }}">

</form>

