
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'contact.us.title' | trans }}</h2>
    </div>
    <div class="container rendezvous-container">
        <div>
            <h2>{{ 'contact.us.subTitle' | trans }}</h2>
            <h3>{{ 'contact.form' | trans }}</h3>
            <hr>
            {{ render(controller(
                'AppBundle\\Controller\\ContactController::contactAction'
            )) }}
        </div>

        <div >
            <h3>{{ 'contact.location' |trans }}</h3>
            <div class="location-info">
                <strong>RendezVous Sàrl</strong><br>
                228 Route d’Esch<br>
                L-1471 Luxembourg<br><br>
                <strong>{{ 'contact.openingHours' |trans }}</strong><br>
                <strong>{{ 'contact.monday' |trans }}</strong><br>
                <strong>{{ 'contact.saturday' |trans }}</strong>
            </div>
        </div>

    </div>

    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/contact.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .location-info{
            text-align: center;
            font-size: 17px;
            margin-top: 25px;
        }
    </style>

{% endblock %}




