<form method="post" action="{{ path('jobnow_contact') }}" class="form-horizontal clearfix">

    <input type="hidden" value="{{ type }}" name="type" id="type-input">
    <input type="hidden" value="{{ emailTo }}" name="emailTo" id="emailTo-input">
    <table style="width: 100%;">
        <tr>
            <th class="label-contact-us">
                <label>Votre nom</label>
            </th>
            <td class="td-contact-us">
                <input class="input-contact" name="name" type="text" id="name-input" title="{{ 'form.offer.search.keyword' | trans }}">
            </td>
        </tr>
        <tr>
            <th class="label-contact-us">
                <label>Votre email</label>
            </th>
            <td class="td-contact-us">
                <input class="input-contact" name="email" type="text" id="email-input" title="{{ 'form.offer.search.location' | trans }}">
            </td>
        </tr>
        <tr>
            <th class="label-contact-us">
                <label>Votre message</label>
            </th>
            <td class="td-contact-us">
                <textarea  style="resize: vertical" class="input-contact" name="message" id="message-input" title="{{ 'form.offer.search.location' | trans }}"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" class="jobnow-button send-contact" value="{{ 'email.send' | trans }}">

</form>

