<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<style type="text/css">
    .logo-rendezvous{
        width: 250px;
    }
    .header-mail{
        background-color: #272f3b;
        text-align: center;
        height: 100px;
    }
    .footer-mail{
        background-color: #272f3b;
        padding-top: 30px;
        padding-bottom: 20px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .container{
        width: 600px;
        margin: auto;
        font-family: 'Open Sans','Open Sans',Arial,sans-serif;
    }
    .container-mail{
        width: 100%;
    }
    .content-mail{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .social-netwok-container{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    a{
        color: #ff9600;
        text-decoration-color: #ff9600 ;
    }
    .location{
        color: white !important;
        text-decoration: none !important;
    }
    .other-footer{
        margin-top: 20px;
    }
    .logo-facebook{
        width: 30px;
        margin-right: 10px;
    }
    .logo-linkedin{
        width: 34px;
    }
</style>
<div class="container">
    <div class="container-mail">
        <div class="header-mail">
            <a href="https://rendezvous.lu{{ path('rendezvous_home') }}"><img  style="width: 190px;" class="logo-rendezvous" src="https://rendezvous.lu/images/logo_rendezvous.png"></a>
        </div>

        <div class="content-mail">
            <h3>{{ 'email.cancel.pro'| trans}}</h3>

            <div class="other-footer">
                <div>{{ 'email.reservation.pro.name'| trans}} {{ rendezvous.client.user.lastname }}</div>
                <div>{{ 'email.reservation.pro.service'| trans}} {{ rendezvous.service.name }} {{ 'email.reservation.pro.with'| trans}} {{ rendezvous.user.username }}</div>
                <div>{{ rendezvous.startDate|date('d/m/Y h:i') }} - {{ rendezvous.endDate|date('d/m/Y h:i') }}</div>
            </div>
        </div>


        <div class="footer-mail">
            {% if link is defined  %}
                <div class="social-netwok-container">
                    <a href="https://www.facebook.com/rendezvous.lu/"><img class="logo-facebook" src="https://rendezvous.lu/images/logo-facebook.png"></a>
                    <a href="https://www.linkedin.com/company/rendezvous-luxembourg/"><img class="logo-linkedin" src="https://rendezvous.lu/images/logo-linkedin.png"></a>
                </div>
            {% endif %}
            <div class="other-footer">
                <div>{{ 'email.footer.contact'| trans({'%link_start%' : '<a href="mailto:support@athome.lu">', '%link_end%' : '</a>'}) |raw}}</div>
                {#<div>{{ 'email.footer.consult'| trans({'%link_start%' : '<a href="'~path('privacy_page')~'">', '%link_end%' : '</a>'}) |raw}}</div>#}
            </div>
            <div class="other-footer">
                © 2018 Rendezvous.lu
            </div>
            <div class="other-footer">
                <div class="location"><a href="" style="text-decoration:none;color: white;">228 Route d’Esch</a></div>
                <div class="location"><a href="" style="text-decoration:none;color: white;">L-1471 Luxembourg</a></div>
            </div>
        </div>
    </div>
</div>
