<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<style type="text/css">
    .logo-jobnow{
        width: 250px;
    }
    .header-mail{
        background-color: #272f3b;
        text-align: center;
        height: 100px;
    }
    .footer-mail{
        background-color: #272f3b;
        padding-top: 30px;
        padding-bottom: 20px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .container{
        width: 600px;
        margin: auto;
        font-family: 'Open Sans','Open Sans',Arial,sans-serif;
    }
    .container-mail{
        width: 100%;
    }
    .content-mail{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .social-netwok-container{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    a{
        color: #ff9600;
        text-decoration-color: #ff9600 ;
    }
    .location{
        color: white !important;
        text-decoration: none !important;
    }
    .other-footer{
        margin-top: 20px;
    }
    .logo-facebook{
        width: 30px;
        margin-right: 10px;
    }
    .logo-linkedin{
        width: 34px;
    }
</style>
<div class="container">
    <div class="container-mail">
        <div class="header-mail">
            <a href="https://jobnow.lu{{ path('jobnow_home') }}"><img  style="width: 190px;" class="logo-jobnow" src="https://jobnow.lu/images/logo_jobnow.png"></a>
        </div>

        <div class="content-mail">
            <div>{{ 'form.offer.invalid.mail'| trans({'%title%' : offer.title}) |raw}}</div>

            <div class="other-footer">Id : {{ offer.id }}</div>
            <div class="other-footer">{{ 'form.offer.invalid.message'| trans }}</div>
            <div class="other-footer">{{ message|nl2br }}</div>
            <div class="other-footer">
                <a href="https://jobnow.lu{{ path('fos_user_security_login') }}">
                    {{ 'header.login.title'|trans }}
                </a>
            </div>
        </div>

        <div class="footer-mail">
            <div class="social-netwok-container">
                <a href="https://www.facebook.com/jobnow.lu/"><img class="logo-facebook" src="https://jobnow.lu/images/logo-facebook.png"></a>
                <a href="https://www.linkedin.com/company/jobnow-luxembourg/"><img class="logo-linkedin" src="https://jobnow.lu/images/logo-linkedin.png"></a>
            </div>

            <div class="other-footer">
                <div>{{ 'email.footer.contact'| trans({'%link_start%' : '<a href="mailto:support@athome.lu">', '%link_end%' : '</a>'}) |raw}}</div>
                {#<div>{{ 'email.footer.consult'| trans({'%link_start%' : '<a href="'~path('privacy_page')~'">', '%link_end%' : '</a>'}) |raw}}</div>#}
            </div>
            <div class="other-footer">
                © 2018 Jobnow.lu
            </div>
            <div class="other-footer">
                <div class="location"><a href="" style="text-decoration:none;color: white;">228 Route d’Esch</a></div>
                <div class="location"><a href="" style="text-decoration:none;color: white;">L-1471 Luxembourg</a></div>
            </div>
        </div>
    </div>
</div>
