{% if data is not defined or data|length == 0%}
<li class="no-offer search-result animated fadeIn">
    <div>Sorry but there is no offer for this search</div>
    <div>Do you want to be alerted in case of new offer ?</div>
    <div class="shadow-box search-alert-email-container no-offer-alert">
        <form method="post" action="{{ path('create_search_notification') }}" id="alert-search-offer">
            <div class="row">
                <input type="hidden" name="type" id="type-input" value="notification.search">
                <input type="hidden" name="id" id="id-input" value="{{ searchParam }}">
                <div class="col-md-8 col-sm-8"><input class="form-control" name="mail" type="text" id="mail-input" placeholder="email" title="email"></div>
                <div class="col-md-4 col-sm-4"><input type="submit" class="jobnow-button" value="Créer une alerte"></div>
                <div class="col-md-4 error-field" style="color: red;display: none;"></div>
            </div>
        </form>
    </div>
</li>
{% else %}
    <span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
    <div class="row display-number">
        <div class="col-md-6">
            {{ 'searchPage.display'|trans({'%numberOfItem%':'<b>'~numberOfItem~'</b>', '%countResult%':'<b>'~countResult~'</b>'})|raw }}
        </div>
    </div>

    <div class="shadow-box search-alert-email-container" style="width: 96%;">
        <form method="post" action="{{ path('create_search_notification') }}" id="alert-search-offer">
            <div class="row">
                <input type="hidden" name="type" id="type-input" value="notification.search">
                <input type="hidden" name="id" id="id-input" value="{{ searchParam }}">
                <div class="col-md-8 col-sm-8"><input class="form-control" name="mail" type="text" id="mail-input" placeholder="email" title="email"></div>
                <div class="col-md-4 col-sm-4"><input type="submit" class="jobnow-button searchOffer" value="Créer une alerte"></div>
                <div class="col-md-12 error-field" style="color: red;display: none;"></div>
            </div>
        </form>
    </div>

    {#<div class="search-map shadow-box">#}
        {#{{ ivory_google_map(map) }}#}
        {#{{ ivory_google_api([map]) }}#}
    {#</div>#}
    {% set count = 1 %}
    {% set adOrder = 0 %}

    {% for offer in data %}
        {% if count == 1 and ads is not empty and ads[adOrder] is defined and data|length <7 %}


            <li class="search-result animated fadeIn">
                {{ 'homepage.ourPartners'|trans }}
                <a class='offer-element ad' href="{{ ads[adOrder].link }}" target="_blank">
                    {% if ads[adOrder].description is not null and ads[adOrder].link is not empty %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-employer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;">
                            <div class="layer layer-offer-element animated">
                            </div>
                        </div>
                        {% if ads[adOrder].logo.imageName is not null %}<img class="logo-employer-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ads[adOrder].logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="offer-element-details">
                                <div class="offer-element-name">{{ ads[adOrder].title }}</div>
                                <div class="offer-element-title">{{ ads[adOrder].description}}</div>
                            </div>
                        </div>
                    {% else %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-employer-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;"></div>
                    {% endif %}
                </a>
            </li>

            {% set adOrder = adOrder + 1 %}
        {% endif %}
        {% set count = count + 1 %}
        <li class="search-result animated fadeIn draggable" data-info='[["{{ offer.title }}","{{ path('show_offer', {'id': offer.id, 'url':offer.offerUrl}) }}"],"{{ offer.employer.name }}","{{ offer.wage }}","{{ offer.experience }}","{{ offer.benefits|join(' | ') }}","{{ offer.availableDate|date('d/m/Y') }}","{{ offer.contractType.name }}"]' data-title="{{ offer.title }}" data-id="{{ offer.id }}" data-logo="{% if offer.employer.logo.imageName is not null%}{{asset('uploads' ~ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') )}}{% else %}{{ asset('images/logo-default.png') }}{% endif %}">
            <a class='offer-element' href="{{ path('show_offer', {'id': offer.id, 'url':offer.offerUrl}) }}">
                {% if offer.image is not null and offer.image.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(offer.image, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% elseif offer.employer.coverImage.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% elseif offer.employer.logo.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% else %}
                    {% set image = 'images/default_cover_image6.jpg' %}
                {% endif %}
                <div class="background-employer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;">
                    <div class="layer layer-offer-element animated">
                    </div>
                </div>
                {% if offer.employer.logo.imageName is not null and offer.employer.coverImage.imageName is not null %}<img class="logo-employer-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') )}}"/>{% endif %}
                <div class="offer-search-element">
                    <div class="offer-element-details">
                        <div class="offer-element-name">{{ offer.employer.name }}<span class="offer-item-experience other-element"><i class="fa fa-address-book" aria-hidden="true"></i>{{ offer.experience | trans }}</span></div>
                        <div class="offer-element-title">{{ offer.title |truncate(80, true)}}</div>
                        <div class="offer-element-other">
                            <span class="other-element offer-item-contract item-contract-{{ offer.contractType.name }}">{{ offer.contractType.name | trans }}</span>
                            <span class="other-element offer-location"><i class="fa fa-map-marker"></i>{{ offer.location |truncate(20, true)}}</span>
                            <span class="other-element offer-date"><i class="fa fa-clock-o"></i>{{ offer.startDate|time_diff }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% if (count-1) % 7 == 0 and ads is not empty and ads[adOrder] is defined %}

            <li class="search-result animated fadeIn">
                {{ 'homepage.ourPartners'|trans }}
                <a class='offer-element ad' href="{{ ads[adOrder].link }}" target="_blank">
                    {% if ads[adOrder].description is not null and ads[adOrder].link is not empty %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-employer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;">
                            <div class="layer layer-offer-element animated">
                            </div>
                        </div>
                        {% if ads[adOrder].logo.imageName is not null %}<img class="logo-employer-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ads[adOrder].logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="offer-element-details">
                                <div class="offer-element-name">{{ ads[adOrder].title }}</div>
                                <div class="offer-element-title">{{ ads[adOrder].description}}</div>
                            </div>
                        </div>
                    {% else %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-employer-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;"></div>
                    {% endif %}
                </a>
            </li>

            {% set adOrder = adOrder + 1 %}
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    $(".offer-element").on("mouseenter ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
    });
    $(".offer-element").on("mouseleave ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
    });

    $('#alert-search-offer').submit(function(e) {
        e.preventDefault();
        e.returnValue = false;
        let form = this;
        let mail = $.trim($('#mail-input').val());
        let test = new RegExp('^[a-zA-Z0-9.!#$%&\'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$');

        if (mail  === '') {
            $('.error-field').html('empty mail');
            $('.error-field').show();
        }else if(!test.test(mail)){
            $('.error-field').html('email not valid');
            $('.error-field').show();
        }else {
            let url = "{{ path('notification_already_exist') }}";

            $.ajax({
                url: url,
                data: {mail:mail,type:'notification.search',id:{{ searchParam |json_encode|raw}}}
            }).done(function( data ) {
                if(data == 'true'){
                    $('.error-field').html('this notification already exist');
                    $('.error-field').show();
                }else{
                    // actually submit the form
                    form.submit();
                }

            });
        }
    });
</script>
