{% for offer in data %}
    {% if offer.isActive() or offer.slot is not null %}
        <span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
        <li>
            <a class='offer-element' href="{{ path('show_offer', {'id': offer.id}) }}">
                {% if offer.employer.logo is not null %}<img src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}" height="50" width="50"/>{% endif %}
                <div class="offer-search-element">
                    <div class="job-title-employer">
                        <div>{{ offer.title }}</div>
                        <div>{{ offer.employer.name }}</div>
                    </div>

                    <span>{{ offer.location }}</span>
                </div>

            </a>
        </li>
    {% endif %}
{% endfor %}
