{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Search offer
{% endblock %}

{% block body %}

    <div class="container well">

        <h3>{{ 'dashboard.title' | trans }}</h3>

        <h3>{{ 'dashboard.employer.myOffers' | trans }}</h3>
        <form method="post" action="" id="search-offer-form">
            <div>
                <input value="{{ keyword }}" type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                <input value="{{ location }}" type="text" id="location-input" placeholder="{{ 'form.offer.search.location' | trans }}" title="{{ 'form.offer.search.location' | trans }}">
                <select title="Employer" id="employer-input">
                    <option value="">Employer</option>
                    {% for employer in employers %}
                        <option value="{{ employer.name }}" {% if employer.name == chosenEmployer %}selected{% endif %}>{{ employer.name |truncate(20, true)}}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary searchOffer" value="Search">
                <ul class="contractType-list">
                    {% for type in contractType %}
                        <li class="contract-type">
                            <input type="checkbox" name="filter_job_type[]" class="type-contract-checkbox" value="{{ type.name }}" checked="checked" id="job_type_{{ type.name }}">
                            {{  type.name | trans }}
                        </li>
                    {% endfor %}
                </ul>
                <select id="number-of-offer">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="100">100</option>
                </select>
            </div>
        </form>
        <ul id="myUL">

        </ul>

        <div id="paginator-offer">

        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-activate">
            <input type="hidden" name="offerDeleteId" id="offerId" value=""/>
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes-activate">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function searchOffer(row, totalItem) {
                let loader = '<div id="loading">\n' +
                    '                <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>\n' +
                    '            </div>';
                $("#myUL").html(loader);
                let keyword = $("#keyword-input").val();
                let location = $("#location-input").val();
                let employer = $("#employer-input").val();

                let url = window.location.href;
                let type = $('input:checkbox:checked.type-contract-checkbox').map(function () {
                    return this.value;
                }).get();
                url = url.replace("search-page-offer", 'search-offer');
                $.ajax({
                    url: url,
                    data: {keyword:keyword,location:location,employer:employer,type:type,row:row,number:totalItem}
                }).done(function( data ) {
                    $('#loading').hide();

                    $("#myUL").html(data);
                    let total = $('#hidden-search-info').data('total');
                    let page = $('#hidden-search-info').data('page');
                    let str = '<a onClick="onPage('+(page==1?1:(page-1))+')" href="#">&laquo;</a>'

                    for (i = 1; i <= total; i++) {
                        str += '<a onClick="onPage(' + i + ')" class="offer-page-link ' + (i == page?'selected-page':'') + '" href="#">' + i + '</a>';
                    }

                    str += '<a onClick="onPage('+(page==total?total:(page+1))+')" href="#">&raquo;</a>';
                    document.getElementById("paginator-offer").innerHTML = str;

                });
            }

            window.onload = function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            };

            $("#search-offer-form input[type='submit']").click(function(e) {
                    e.preventDefault();
                    let total = $('#number-of-offer').val();
                    searchOffer(1,total);
            });

            $(".type-contract-checkbox").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $("#employer-input").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $('#number-of-offer').change(function() {
                let page = $('#hidden-search-info').data('page');
                let total = this.value;
                searchOffer(page,total);
            });


            function onPage(page){
                let total = $('#number-of-offer').val();
                searchOffer(page,total);
            }

            $(".modal-btn-no").on("click", function(){
                $(".modal").modal('hide');
            });

        </script>

    </div>

{% endblock %}