{% if data is not defined or data|length == 0%}
<li class="no-offer search-result animated fadeIn">
    Sorry but there is no offer for this search
</li>
{% endif %}
<span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
<div class="display-number">
    Displaying <b>{{ numberOfItem }}</b> of <b>{{ countResult }}</b> Jobs
</div>
{% for offer in data %}
    {% if offer.isActive() or offer.slot is not null %}

        <li class="search-result animated fadeIn">
            <a class='offer-element' href="{{ path('show_offer', {'id': offer.id}) }}">
                <div class="background-employer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url('/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');">
                    <div class="layer layer-offer-element animated">
                    </div>
                </div>
                {% if offer.employer.logo is not null %}<img class="logo-employer-in-offer-search" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>{% endif %}
                <div class="offer-search-element">
                    <div class="offer-element-details">
                        <div class="offer-element-name">{{ offer.employer.name }}<span class="offer-item-experience other-element"><i class="fa fa-address-book" aria-hidden="true"></i>{{ offer.experience | trans }}</span></div>
                        <div class="offer-element-title">{{ offer.title |truncate(80, true)}}</div>
                        <div class="offer-element-other">
                            <span class="other-element offer-item-contract item-contract-{{ offer.contractType.name }}">{{ offer.contractType.name | trans }}</span>
                            <span class="other-element"><i class="fa fa-map-marker"></i>{{ offer.location }}</span>
                            <span class="other-element"><i class="fa fa-clock-o"></i>{{ offer.startDate|time_diff }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    {% endif %}
{% endfor %}

<script>
    $(".offer-element").on("mouseenter ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
    });
    $(".offer-element").on("mouseleave ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
    });
</script>
