{% if data is not defined or data|length == 0%}
<li class="no-offer search-result animated fadeIn">
    <div>Sorry but there is no offer for this search</div>
    <div>Do you want to be alerted in case of new offer ?</div>
    <div class="shadow-box search-alert-email-container no-offer-alert">
        <form method="post" action="{{ path('create_search_notification') }}" id="alert-search-offer">
            <div class="row">
                <input type="hidden" name="type" id="type-input" value="notification.search">
                <input type="hidden" name="id" id="id-input" value="{{ searchParam }}">
                <div class="col-md-8"><input class="form-control" name="mail" type="text" id="mail-input" placeholder="email" title="email"></div>
                <div class="col-md-4"><input type="submit" class="jobnow-button" value="Créer une alerte"></div>
            </div>
        </form>
    </div>
</li>
{% else %}
    <span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
    <div class="row display-number">
        <div class="col-md-6">
        Displaying <b>{{ numberOfItem }}</b> of <b>{{ countResult }}</b> Jobs
        </div>
    </div>

    <div class="shadow-box search-alert-email-container" style="width: 96%;">
        <form method="post" action="{{ path('create_search_notification') }}" id="alert-search-offer">
            <div class="row">
                <input type="hidden" name="type" id="type-input" value="notification.search">
                <input type="hidden" name="id" id="id-input" value="{{ searchParam }}">
                <div class="col-md-8"><input class="form-control" name="mail" type="text" id="mail-input" placeholder="email" title="email"></div>
                <div class="col-md-4"><input type="submit" class="jobnow-button" value="Créer une alerte"></div>
            </div>
        </form>
    </div>

    {#<div class="search-map shadow-box">#}
        {#{{ ivory_google_map(map) }}#}
        {#{{ ivory_google_api([map]) }}#}
    {#</div>#}
    {% for offer in data %}
        {% if offer.isActive() or offer.slot is not null %}

            <li class="search-result animated fadeIn">
                <a class='offer-element' href="{{ path('show_offer', {'id': offer.id, 'url':offer.offerUrl}) }}">
                    {% if offer.image is not null and offer.image.imageName is not null %}
                        {% set image =  'uploads' ~ vich_uploader_asset(offer.image, 'imageFile', 'AppBundle\\Entity\\Image') %}
                    {% elseif offer.employer.coverImage.imageName is not null %}
                        {% set image =  'uploads' ~ vich_uploader_asset(offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                    {% elseif offer.employer.logo.imageName is not null %}
                        {% set image =  'uploads' ~ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                    {% else %}
                        {% set image = 'images/default_cover_image6.jpg' %}
                    {% endif %}
                    <div class="background-employer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url('/jobnowlu/web/{{ image }}');">
                        <div class="layer layer-offer-element animated">
                        </div>
                    </div>
                    {% if offer.employer.logo.imageName is not null and offer.employer.coverImage.imageName is not null %}<img class="logo-employer-in-offer-search" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>{% endif %}
                    <div class="offer-search-element">
                        <div class="offer-element-details">
                            <div class="offer-element-name">{{ offer.employer.name }}<span class="offer-item-experience other-element"><i class="fa fa-address-book" aria-hidden="true"></i>{{ offer.experience | trans }}</span></div>
                            <div class="offer-element-title">{{ offer.title |truncate(80, true)}}</div>
                            <div class="offer-element-other">
                                <span class="other-element offer-item-contract item-contract-{{ offer.contractType.name }}">{{ offer.contractType.name | trans }}</span>
                                <span class="other-element offer-location"><i class="fa fa-map-marker"></i>{{ offer.location |truncate(20, true)}}</span>
                                <span class="other-element"><i class="fa fa-clock-o"></i>{{ offer.startDate|time_diff }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    $(".offer-element").on("mouseenter ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
    });
    $(".offer-element").on("mouseleave ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
    });
</script>
