{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Search offer
{% endblock %}

{% block body %}

    <div class="jumbotron searchpage-jumbotron">
        <h2>{{ 'offer.search.title' | trans }}</h2>

        <form method="post" action="" id="search-offer-form" class="homepage-search-bar">
            <div>
                <input value="{{ keyword }}" type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                <input value="{{ location }}" type="text" id="location-input" placeholder="{{ 'form.offer.search.location' | trans }}" title="{{ 'form.offer.search.location' | trans }}">
                <select title="Employer" id="employer-input">
                    <option value="">Employer</option>
                    {% for employer in employers %}
                        <option value="{{ employer.name }}" {% if employer.name == chosenEmployer %}selected{% endif %}>{{ employer.name |truncate(20, true)}}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="jobnow-button searchOffer" value="Search">
                <ul class="contractType-list">
                    {% for type in contractType %}
                        <li class="contract-type">
                            <input type="checkbox" name="filter_job_type[]" class="type-contract-checkbox" value="{{ type.name }}" checked="checked" id="job_type_{{ type.name }}">
                            {{  type.name | trans }}
                        </li>
                    {% endfor %}
                </ul>
                <select id="number-of-offer">
                    <option value="20" selected>20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </form>
    </div>

    <style>
        .searchpage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/jobnow-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>


    <div class="container">

        <ul id="myUL">

        </ul>

        <div id="paginator-offer">

        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-activate">
            <input type="hidden" name="offerDeleteId" id="offerId" value=""/>
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes-activate">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function searchOffer(row, totalItem) {
                let loader = '<div id="loading">\n' +
                    '                <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>\n' +
                    '            </div>';
                $(".search-result").removeClass('fadeIn').addClass('fadeOut');
                //$("#myUL").html(loader);
                let keyword = $("#keyword-input").val();
                let location = $("#location-input").val();
                let employer = $("#employer-input").val();

                let url = window.location.href;
                let type = $('input:checkbox:checked.type-contract-checkbox').map(function () {
                    return this.value;
                }).get();
                url = url.replace("search-page-offer", 'search-offer');
                $.ajax({
                    url: url,
                    data: {keyword:keyword,location:location,employer:employer,type:type,row:row,number:totalItem}
                }).done(function( data ) {
                    if(detectmob()){
                        let $el = $('.searchpage-jumbotron');  //record the elem so you don't crawl the DOM everytime
                        let bottom = $el.position().top + $el.outerHeight(true) - 50;
                        $('html, body').animate({
                            scrollTop: bottom
                        }, 500);
                    }
                    $('#loading').hide();

                    $("#myUL").html(data);
                    let total = $('#hidden-search-info').data('total');
                    let page = $('#hidden-search-info').data('page');
                    let str = '<a onClick="onPage('+(page==1?1:(page-1))+')" href="#">&laquo;</a>'

                    for (i = 1; i <= total; i++) {
                        str += '<a onClick="onPage(' + i + ')" class="offer-page-link ' + (i == page?'selected-page':'') + '" href="#">' + i + '</a>';
                    }

                    str += '<a onClick="onPage('+(page==total?total:(page+1))+')" href="#">&raquo;</a>';
                    document.getElementById("paginator-offer").innerHTML = str;
                });
            }

            window.onload = function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            };

            $("#search-offer-form input[type='submit']").click(function(e) {
                    e.preventDefault();
                    let total = $('#number-of-offer').val();
                    searchOffer(1,total);
            });

            $(".type-contract-checkbox").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $("#employer-input").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $('#number-of-offer').change(function() {
                let page = $('#hidden-search-info').data('page');
                let total = this.value;
                searchOffer(page,total);
            });


            function onPage(page){
                let total = $('#number-of-offer').val();
                searchOffer(page,total);
            }

            $(".modal-btn-no").on("click", function(){
                $(".modal").modal('hide');
            });

            function detectmob() {
                if( navigator.userAgent.match(/Android/i)
                    || navigator.userAgent.match(/webOS/i)
                    || navigator.userAgent.match(/iPhone/i)
                    || navigator.userAgent.match(/iPad/i)
                    || navigator.userAgent.match(/iPod/i)
                    || navigator.userAgent.match(/BlackBerry/i)
                    || navigator.userAgent.match(/Windows Phone/i)
                ){
                    return true;
                }
                else {
                    return false;
                }
            }

        </script>

    </div>

{% endblock %}