{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Search offer
{% endblock %}

{% block body %}
    <style>
        * {
            box-sizing: border-box;
        }

        #keyword-input, #location-input {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 40%;
            font-size: 16px;
            padding: 12px 20px 12px 13px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        .searchOffer{
            margin-left: 10px;
        }
        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myUL li .offer-element {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
        }

        #myUL li .offer-element:hover:not(.header) {
            background-color: #eee;
        }
        .offer-element{
            display: table;
            width: 100%;
        }
        .element-offer-list{
            margin-left: 5px;
            margin-right: 5px;
            float: right;
        }
        .description-offer-dashboard{
            margin-top: 20px;
        }
        .collapse-offer-info{
            display: none;
        }
        .archived-offer{
            background-color: #dad9d9 !important;
        }
        .show-archived{
            float: left;
            margin-top: 15px;
        }
        .offer-search-element{
            width: 90%;
            margin-left: 3%;
            display: inline-block;
        }
        .job-title-employer{
            vertical-align: middle;
            display: inline-block;
            margin-right: 3%;
            margin-bottom: 0;
            width: 45%;
        }
        .contractType-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #number-of-offer {
            margin: 14px 16px;
        }
        .contract-type {
            float: left;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .selected-page {
            background-color: #dedede !important;
        }
        #paginator-offer {
            display: table;
            margin: 0 auto;
            margin-top: 10px;
        }

        #paginator-offer a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        #paginator-offer a.active {
            color: white;
        }

        #paginator-offer a:hover:not(.active) {background-color: #ddd; !important;}

        #loading {
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

    <div class="container well">

        <h3>{{ 'dashboard.title' | trans }}</h3>

        <h3>{{ 'dashboard.employer.myOffers' | trans }}</h3>
        <form method="post" action="" id="search-offer-form">
            <div>
                <input type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                <input type="text" id="location-input" placeholder="{{ 'form.offer.search.location' | trans }}" title="{{ 'form.offer.search.location' | trans }}">
                <input type="submit" class="btn btn-primary searchOffer" value="Search">
                <ul class="contractType-list">
                    {% for type in contractType %}
                        <li class="contract-type">
                            <input type="checkbox" name="filter_job_type[]" class="type-contract-checkbox" value="{{ type.name }}" checked="checked" id="job_type_{{ type.name }}">
                            {{  type.name | trans }}
                        </li>
                    {% endfor %}
                </ul>
                <select id="number-of-offer">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="100">100</option>
                </select>
            </div>
        </form>
        <ul id="myUL">

        </ul>

        <div id="paginator-offer">

        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-activate">
            <input type="hidden" name="offerDeleteId" id="offerId" value=""/>
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes-activate">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function searchOffer(row, totalItem) {
                let loader = '<div id="loading">\n' +
                    '                <div class="loader"></div>\n' +
                    '            </div>';
                $("#myUL").html(loader);
                let keyword = $("#keyword-input").val();
                let location = $("#location-input").val();
                let url = window.location.href;
                let type = $('input:checkbox:checked.type-contract-checkbox').map(function () {
                    return this.value;
                }).get();
                url = url.replace("search-page-offer", 'search-offer');
                $.ajax({
                    url: url,
                    data: {keyword:keyword,location:location,type:type,row:row,number:totalItem}
                }).done(function( data ) {
                    $('#loading').hide();

                    $("#myUL").html(data);
                    let total = $('#hidden-search-info').data('total');
                    let page = $('#hidden-search-info').data('page');
                    let str = '<a onClick="onPage('+(page==1?1:(page-1))+')" href="#">&laquo;</a>'

                    for (i = 1; i <= total; i++) {
                        str += '<a onClick="onPage(' + i + ')" class="offer-page-link ' + (i == page?'selected-page':'') + '" href="#">' + i + '</a>';
                    }

                    str += '<a onClick="onPage('+(page==total?total:(page+1))+')" href="#">&raquo;</a>';
                    document.getElementById("paginator-offer").innerHTML = str;

                });
            }

            window.onload = function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            };

            $("#search-offer-form input[type='submit']").click(function(e) {
                    e.preventDefault();
                    let total = $('#number-of-offer').val();
                    searchOffer(1,total);
            });

            $(".type-contract-checkbox").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $('#number-of-offer').change(function() {
                let page = $('#hidden-search-info').data('page');
                let total = this.value;
                searchOffer(page,total);
            });


            function onPage(page){
                let total = $('#number-of-offer').val();
                searchOffer(page,total);
            }

            $(".modal-btn-no").on("click", function(){
                $(".modal").modal('hide');
            });

        </script>

    </div>

{% endblock %}