
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron offer-jumbotron">
        <h2>{{ offer.title }}</h2>
        <h3 class="page-subtitle">
            <div class="job-title">{{ offer.contractType.name |trans }}</div>
            <div class="job-title">{{ offer.location }}</div>
            <div class="updated-date">Postée le {{ offer.creationDate |date('Y-m-d')}}</div>
            <div class="offer-company-name"><a class="button-company-name" href="{{ path('show_employer', {'id':offer.employer.id}) }}">{{ offer.employer.name }}</a></div>
            {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                <a data-toggle="tooltip" data-placement="top" title="{{ 'favorite.add' | trans }}" href="{{ path('create_favorite', {'id':offer.id}) }}"><i class="fa fa-star"></i></a>
            {% endif %}
        </h3>
    </div>

    <div class="container">

        <div class="apply-div-form">
            <button class="btn btn-primary apply-button">{{ 'offer.apply.title' | trans }}</button>

            <div class="container">
                <form method="post" action="{{ path('apply_offer', {'id':offer.id}) }}" id="search-offer-homepage" enctype="multipart/form-data" style="display:none;">
                    <div class="inside-offer-apply">
                        <div class="inside-offer-apply-cv">
                            {{ 'offer.apply.addCV' | trans }}<input name="cv" type="file" id="cv">
                        </div>
                        <textarea  name="comment" id="comment-input" placeholder="{{ 'offer.apply.coverLetter' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}" rows="10" cols="70"></textarea>
                        <input type="submit" class="btn btn-primary submit-apply" value="{{ 'offer.apply.send' | trans }}">
                    </div>
                </form>
            </div>

        </div>

        <div class="col-sm-6 col-md-9" style="padding-right:24px;">
            <div class="row about-the-offer fade-in-right animated shadow-box">
                <h1>{{ 'offer.about' | trans }}</h1>
                <div class="col-sm-4 col-md-4">
                    <h3>Wage</h3>
                    {{ offer.wage |trans }}
                    {% if offer.benefits|length > 0 %}
                        <h3>Benefice</h3>
                        {% for benefits in  offer.benefits %}
                            <span>{{ benefits |trans }}</span>
                        {% endfor %}
                    {% endif %}


                </div>
                <div class="col-sm-4 col-md-4">
                    <h3>Experience</h3>
                    {{ offer.experience |trans }}
                    <h3>Diploma</h3>
                    {{ offer.diploma |trans }}
                </div>
                <div class="col-sm-4 col-md-4">
                    <h3>Date de démarage</h3>
                    {{ offer.availableDate |date('d/m/Y')}}
                    {% if offer.license|length > 0 %}
                        <h3>Permis</h3>
                        {% for license in  offer.license %}
                            <span>{{ license |trans }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row job-description fade-in-left animated shadow-box">
                <h1>{{ 'offer.jobDescription' | trans }}</h1>
                {{ offer.description| raw }}
            </div>
        </div>

        <div class="col-sm-6 col-md-3" style="margin-bottom: 50px;">
            <div class="floating-employer fade-in-right animated">
                <div class="header-floating-employer ">
                    {{ offer.employer.name|upper }}
                </div>
                <img class="floating-employer-logo" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>
                <div class="floating-employer-description">
                    {{ offer.employer.whyUs| raw }}
                    <hr class="hr-floating-employer">
                </div>

                <a href="{{ path('show_employer', {'id': offer.employer.id}) }}" class="jobnow-button">Voir la page de l'entreprise</a>
            </div>

            {% if offer.tag is defined and offer.tag|length >0 %}
                <div class="shadow-box fade-in-left animated">
                    <div class="article-title"><i class="fa fa-tag"></i> Tags</div>
                    <ul class="last-job-list">
                        {% for tag in offer.tag %}
                            <li>
                                <a  href="{{ path('search_page_offer', {'tags':[tag.name]}) }}">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if similarOfferArray[0] is defined %}
                <div class="shadow-box fade-in-right animated">
                    <div class="article-title">{{ 'employer.show.lastoffers'|trans }}</div>
                    <ul class="last-job-list">
                        <li>
                            <a class="link-offer-employer" href="{{ path('show_offer', {'id':similarOfferArray[0].id}) }}">
                                <div class="slide-button">
                                    <div><b>{{ similarOfferArray[0].title }}</b></div>
                                    <div class="job-meta"><span>{{ similarOfferArray[0].contractType.name |trans }}</span> - <span>{{ similarOfferArray[0].location }}</span></div>
                                </div>
                            </a>
                        </li>
                        {% if similarOfferArray[1] is defined %}
                            <li>
                                <a class="link-offer-employer" href="{{ path('show_offer', {'id':similarOfferArray[1].id}) }}">
                                    <div class="slide-button">
                                        <div><b>{{ similarOfferArray[1].title }}</b></div>
                                        <div class="job-meta"><span>{{ similarOfferArray[1].contractType.name |trans }}</span> - <span>{{ similarOfferArray[1].location }}</span></div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <hr class="hr-last-offer">
                    <a href="{{ path('search_page_offer', {'tags':tags}) }}" class="jobnow-button">Toute nos offres</a>
                </div>
            {% endif %}
        </div>



    </div>
    <style>
        .offer-jumbotron::after{
            content: '';
            background-image:url('/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>
    <script>

        $(".apply-button").click(function() {
            {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                $("#search-offer-homepage").slideToggle("medium");
            {% else %}
                window.location.replace('{{ path('apply_offer', {'id':0}) }}');
            {% endif %}

        });
    </script>

{% endblock %}