
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron offer-jumbotron">
        <h2>{{ offer.title }}</h2>
        <h3 class="page-subtitle">
            <div class="job-title">{{ offer.contractType.name |trans }}</div>
            <div class="job-title">{{ offer.location }}</div>
            <div class="updated-date">Postée le {{ offer.creationDate |date('Y-m-d')}}</div>
            <div class="offer-company-name"><a class="button-company-name" href="{{ path('show_employer', {'id':offer.employer.id}) }}">{{ offer.employer.name }}</a></div>
            <a data-toggle="tooltip" data-placement="top" title="{{ 'favorite.add' | trans }}" href="{{ path('create_favorite', {'id':offer.id}) }}"><i class="fa fa-star"></i></a>
        </h3>
    </div>

    <div class="container">

        <!-- <div class="container candidate-body">
            <ul class="nav nav-pills nav-candidate">
                <li class="active">
                    <a  href="#1" data-toggle="tab">Description</a>
                </li>
                <li><a href="#2" data-toggle="tab">Experience</a>
                </li>
                <li><a href="#3" data-toggle="tab">Autre</a>
                </li>
            </ul>

            <div class="tab-content candidate-content">
                <div class="tab-pane active" id="1">
                    <h3>{{ offer.description }}</h3>
                </div>
                <div class="tab-pane" id="2">
                    <h3>{{ offer.experience }}</h3>
                </div>
                <div class="tab-pane" id="3">
                </div>
            </div>
        </div>-->

        <div class="apply-div-form">
            <button class="btn btn-primary apply-button">{{ 'offer.apply.title' | trans }}</button>

            <div class="container">
                <form method="post" action="{{ path('apply_offer', {'id':offer.id}) }}" id="search-offer-homepage" enctype="multipart/form-data" style="display:none;">
                    <div class="inside-offer-apply">
                        <div class="inside-offer-apply-cv">
                            {{ 'offer.apply.addCV' | trans }}<input name="cv" type="file" id="cv">
                        </div>
                        <textarea  name="comment" id="comment-input" placeholder="{{ 'offer.apply.coverLetter' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}" rows="10" cols="70"></textarea>
                        <input type="submit" class="btn btn-primary submit-apply" value="{{ 'offer.apply.send' | trans }}">
                    </div>
                </form>
            </div>

        </div>

        <div class="col-sm-6 col-md-8">
            <div class="row about-the-offer fade-in-right animated">
                <h1>About the offer</h1>
                <div class="col-sm-6 col-md-6">
                    <h4>Wage</h4>
                    {{ offer.wage |trans }}
                    <h4>Experience</h4>
                    {{ offer.experience |trans }}
                </div>
                <div class="col-sm-6 col-md-6">
                    <h4>Diploma</h4>
                    {{ offer.diploma |trans }}
                    <h4>Tags</h4>
                    {% for tag in  offer.tag %}
                        <a class="tag-offer" href="{{ path('search_page_offer', {'tags':[tag.name]}) }}"><i class="fa fa-tag"></i>{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="row job-description fade-in-left animated">
                <h1>Job description</h1>
                {{ offer.description| raw }}
            </div>
        </div>

        <div class="col-sm-6 col-md-4 floating-employer fade-in-right animated">
            <div class="header-floating-employer ">
                {{ offer.employer.name|upper }}
            </div>
            <img class="floating-employer-logo" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>
            <div class="floating-employer-description">
                {{ offer.employer.whyUs| raw }}
                <hr class="hr-floating-employer">
            </div>

            <a href="{{ path('show_employer', {'id': offer.employer.id}) }}" class="jobnow-button">Voir la page de l'entreprise</a>
        </div>


    </div>
    <style>
        .offer-jumbotron::after{
            content: '';
            background-image:url('/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>
    <script>

        $(".apply-button").click(function() {
            {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                $("#search-offer-homepage").slideToggle("medium");
            {% else %}
                window.location.replace('{{ path('create_candidate') }}');
            {% endif %}

        });
    </script>

{% endblock %}