{% if data is not defined or data|length == 0%}
<li class="no-offer search-result animated fadeIn">
    <div>Sorry but there is no pro for this search</div>

</li>
{% else %}
    <span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
    <div class="row display-number">
        <div class="col-md-6">
            {{ 'searchPage.display'|trans({'%numberOfItem%':'<b>'~numberOfItem~'</b>', '%countResult%':'<b>'~countResult~'</b>'})|raw }}
        </div>
    </div>

    {% set count = 1 %}
    {% set adOrder = 0 %}
<div class="col-md-8">
    {% for pro in data %}
        {% if count == 1 and ads is not empty and ads[adOrder] is defined and data|length <7 %}


            <li class="search-result animated fadeIn">
                {{ 'homepage.ourPartners'|trans }}
                <a class='offer-element ad' href="{{ ads[adOrder].link }}" target="_blank">
                    {% if ads[adOrder].description is not null and ads[adOrder].link is not empty %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-pro-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;">
                            <div class="layer layer-offer-element animated">
                            </div>
                        </div>
                        {% if ads[adOrder].logo.imageName is not null %}<img class="logo-pro-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ads[adOrder].logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="offer-element-details">
                                <div class="offer-element-name">{{ ads[adOrder].title }}</div>
                                <div class="offer-element-title">{{ ads[adOrder].description}}</div>
                            </div>
                        </div>
                    {% else %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-pro-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;"></div>
                    {% endif %}
                </a>
            </li>

            {% set adOrder = adOrder + 1 %}
        {% endif %}
        {% set count = count + 1 %}
        <li class="search-result animated fadeIn">
            <span class='offer-element' href="{{ path('show_pro', {'id': pro.id}) }}">
                {% if pro.images.first != false and pro.images.first.imageName is not null %}



                <div id="myCarousel-{{ pro.id }}" class="background-pro-in-offer-search carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% set i = 0 %}
                        {% for image in pro.images %}
                            <li data-target="#myCarousel-{{ pro.id }}" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% set i = 0 %}
                        {% for image in pro.images %}
                            <div class="item {% if i == 0 %}active{% endif %}">
                                <img class="image-search-pro" src="{{ asset('uploads' ~ vich_uploader_asset(image, 'imageFile', 'AppBundle\\Entity\\Image')) }}">
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel-{{ pro.id }}" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-{{ pro.id }}" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% else %}
                    {% set image = 'images/default_cover_image6.jpg' %}
                    <div class="background-pro-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});">
                        <div class="layer layer-offer-element animated">
                        </div>
                    </div>
                {% endif %}
                <div class="offer-search-element">
                    <div class="offer-element-details">
                        <div class="offer-element-title">{{ pro.name }}</div>
                        <div class="offer-element-other" style="display: grid;">
                            <div class="other-element offer-location">{{ pro.location |truncate(20, true)}}</div>
                            <span class="other-element offer-location">{{ pro.zipcode |truncate(20, true)}} {{ pro.city |truncate(20, true)}}</span>
                        </div>
                    </div>
                </div>
            </span>
        </li>
        {% if (count-1) % 7 == 0 and ads is not empty and ads[adOrder] is defined %}

            <li class="search-result animated fadeIn">
                {{ 'homepage.ourPartners'|trans }}
                <a class='offer-element ad' href="{{ ads[adOrder].link }}" target="_blank">
                    {% if ads[adOrder].description is not null and ads[adOrder].link is not empty %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-pro-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;">
                            <div class="layer layer-offer-element animated">
                            </div>
                        </div>
                        {% if ads[adOrder].logo.imageName is not null %}<img class="logo-pro-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ads[adOrder].logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="offer-element-details">
                                <div class="offer-element-name">{{ ads[adOrder].title }}</div>
                                <div class="offer-element-title">{{ ads[adOrder].description}}</div>
                            </div>
                        </div>
                    {% else %}
                        {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        <div class="background-pro-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});background-position: center center;"></div>
                    {% endif %}
                </a>
            </li>

            {% set adOrder = adOrder + 1 %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="search-map shadow-box col-md-4">
        {{ ivory_google_map(map) }}
        {{ ivory_google_api([map]) }}
    </div>
{% endif %}

<script>
    $(".offer-element").on("mouseenter ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
    });
    $(".offer-element").on("mouseleave ", function(){
        $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
    });

    $('#alert-search-offer').submit(function(e) {
        e.preventDefault();
        e.returnValue = false;
        let form = this;
        let mail = $.trim($('#mail-input').val());
        let test = new RegExp('^[a-zA-Z0-9.!#$%&\'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$');

        if (mail  === '') {
            $('.error-field').html('empty mail');
            $('.error-field').show();
        }else if(!test.test(mail)){
            $('.error-field').html('email not valid');
            $('.error-field').show();
        }else {
            let url = "{{ path('notification_already_exist') }}";

            $.ajax({
                url: url,
                data: {mail:mail,type:'notification.search',id:{{ searchParam |json_encode|raw}}}
            }).done(function( data ) {
                if(data == 'true'){
                    $('.error-field').html('this notification already exist');
                    $('.error-field').show();
                }else{
                    // actually submit the form
                    form.submit();
                }

            });
        }
    });

    function detectmob() {
        if( navigator.userAgent.match(/Android/i)
            || navigator.userAgent.match(/webOS/i)
            || navigator.userAgent.match(/iPhone/i)
            || navigator.userAgent.match(/iPad/i)
            || navigator.userAgent.match(/iPod/i)
            || navigator.userAgent.match(/BlackBerry/i)
            || navigator.userAgent.match(/Windows Phone/i)
        ){
            return true;
        }
        else {
            return false;
        }
    }

    let featuredOfferTop = $('.search-map').offset().top;
    let featuredOfferLeft = $('.search-map').offset().left;
    let featuredOfferWidth = $('.search-map').outerWidth();
    $(window).scroll(function() {
        let currentScroll = $(window).scrollTop();
        if (currentScroll +160 >= featuredOfferTop && detectmob() == false) {
            $('.search-map').css({
                position: 'fixed',
                top: '105px',
                left: featuredOfferLeft,
                width: featuredOfferWidth,
            });
        } else {
            $('.search-map').css({
                position: 'static'
            });
        }
    });
</script>
