{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'offer.search.title' | trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron searchpage-jumbotron">
        <h2>{{ 'offer.search.title' | trans }}</h2>

        <form method="post" action="" id="search-offer-form" class="search-bar">


            <div class="row form-group search-input-container">
                <div class=" col-md-4">
                    <input value="{{ keyword }}" class="form-control" type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                </div>
                <div class="col-md-3">
                    {{ autoComplete|raw  }}
                    {{ autoCompleteScript|raw  }}
                </div>
                <div class="col-md-3">
                    <select title="Type" id="type-input" class="select2" data-placeholder="{{ 'form.offer.search.categoryPH' | trans }}">
                        <option></option>
                        <option value="form.registration.type1" {% if type == "form.registration.type1" %}selected{% endif %}>{{ 'form.registration.type1'|trans }}</option>
                        <option value="form.registration.type2" {% if type == "form.registration.type2" %}selected{% endif %}>{{ 'form.registration.type2'|trans }}</option>
                        <option value="form.registration.type3" {% if type == "form.registration.type3" %}selected{% endif %}>{{ 'form.registration.type3'|trans }}</option>
                        <option value="form.registration.type4" {% if type == "form.registration.type4" %}selected{% endif %}>{{ 'form.registration.type4'|trans }}</option>
                        <option value="form.registration.type5" {% if type == "form.registration.type5" %}selected{% endif %}>{{ 'form.registration.type5'|trans }}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="rendezvous-button searchOffer" value="Search">
                </div>
            </div>

                <div class="row">
                    <div class="col-md-1" style="display: none">
                        <select id="number-of-offer" class="col-md-1 col-md-offset-3 form-control">
                            <option value="20" selected>20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
        </form>
    </div>

    <style>
        .searchpage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/rendezvous-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .pac-container:after {
            /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

            background-image: none !important;
            height: 0;
        }
        .pac-icon {
            display: none;
        }

        .pac-item-query {
            padding-left: 10px;
        }
        .pac-item span {
            color: #333;
        }
        .pac-matched{
            font-weight: 800 !important;
        }
    </style>


    <div class="container">

        <div class="row">
            <div class="{% if featuredOffer is defined and featuredOffer|length > 0 and (chosenPro is null or chosenPro is empty) %}col-md-8{% endif %}">
                <ul id="myUL">

                </ul>
            </div>
            {% if featuredOffer is defined and featuredOffer|length > 0 and (chosenPro is null or chosenPro is empty) %}
            <div class="col-md-3 featured-offer-search">
                <h1>{{ 'featured.offer.title'|trans }}</h1>
                <ul >
                    {% for offer in featuredOffer %}
                        <li class="zoom">
                            <a href="{{ path('show_offer', {'id': offer.offer.id, 'url':offer.offer.offerUrl}) }}">
                                <div class="thumbnail  featured-offer-item">
                                    {% if offer.offer.image is not null and offer.offer.image.imageName is not null %}
                                        {% set image =  'uploads' ~ vich_uploader_asset(offer.offer.image, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                    {% elseif offer.offer.pro.coverImage.imageName is not null %}
                                        {% set image =  'uploads' ~ vich_uploader_asset(offer.offer.pro.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                    {% elseif offer.offer.pro.logo.imageName is not null %}
                                        {% set image =  'uploads' ~ vich_uploader_asset(offer.offer.pro.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                    {% else %}
                                        {% set image = 'images/default_cover_image6.jpg' %}
                                    {% endif %}
                                    <div class="caption background-offer" style="display: flex; justify-content: center;align-items: center;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});min-height: 110px;background-position: center center;">
                                        <div class="layer">
                                        </div>
                                        <div class="offer-thumb-image-div">
                                            {% if offer.offer.pro.logo.imageName is not null and offer.offer.pro.coverImage.imageName is not null %}<img src="{{asset('uploads' ~ vich_uploader_asset(offer.offer.pro.logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}" class="offer-thumb-logo" />{% endif %}
                                        </div>
                                    </div>

                                    <div class="caption">
                                        <h3>{{ offer.offer.title|truncate(20, true) }}</h3>
                                        <p><span class="other-element offer-location"><i class="fa fa-map-marker"></i>{{ offer.offer.location|truncate(20, true) }}</span><span class="other-element"><i class="fa fa-file-text-o"></i>{{ offer.offer.contractType.name |trans }}</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div id="paginator-offer">

        </div>

        {#<div class="compare-offers">#}
            {#<div class="header-compare">#}
                {#<div class="title-compare">{{ 'searchPage.compareTitle'|trans }}  <i class="fas fa-plus-square icon-open-compare"></i></div>#}
                {#<div class="list-to-compare" id="droppable">#}
                    {#<div class="drop-here">{{ 'searchPage.dropHere'|trans }}</div>#}
                {#</div>#}
                {#<div class="compare-button-container"><button class="btn btn-success compare-button" value="">{{ 'searchPage.compare'|trans }}</button> </div>#}
            {#</div>#}

        {#</div>#}

        {#<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-comparison">#}
            {#<div class="modal-dialog">#}
                {#<div class="modal-content">#}
                    {#<div class="modal-header">#}
                        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                        {#<h4 class="modal-title" id="myModalLabel">{{ 'searchPage.compareTitle'|trans }}</h4>#}
                    {#</div>#}
                    {#<div class="table-comparison">#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <style>
            .title-compare{
                margin-bottom: 9px;
                color: white;
                padding-top: 0;
                cursor:pointer;
            }
            .compare-offers{
                position: fixed;
                bottom: 20px;
                right: 50px;
                width: 30%;
            }
            .header-compare{
                background: #272f3b;
                padding: 12px;
                border-radius: 5px;
            }
            .list-to-compare{
                height: 500px;
                background-color: white;
                color: black;
                display: none;
            }
            .offer-to-compare{
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: white;
                display: flex;
                align-items: center;
            }
            .hover-offer-comparison{
                background-color: #1F80F0;
            }
            .icon-open-compare{
                float: right;
            }
            .drop-here{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
            }
            .remove-offer{
                position: absolute;
                right: 30px;
            }
            .compare-button-container{
                width: 100%;
                display: none;
                background-color: #272f3b;
                height: 50px;
            }
            .compare-button{
                margin-top: 14px;
            }
            .compare-offer-logo{
                width: 50px;
                height: 50px;
            }
            .compare-offer-title{
                margin-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 38px;
            }
            .modal-dialog{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
                text-align:center;
                width: 80%;
            }
            .modal-content{
                display:inline-block;
                background-color: #21282B;
                color: white;
            }
            .table-comparison thead th{
                text-align: center;
            }
            .table-comparison td{
                padding-left: 10px;
                padding-right: 10px;
                border: 1px white;
                margin-bottom: 10px;
            }
            .table-comparison table{
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
                border-collapse: separate;
                border-spacing: 14px 14px;
            }
        </style>

        <script>
            let searchedTags = [];
            function searchOffer(row, totalItem, scroll=true) {

                $(".search-result").removeClass('fadeIn').addClass('fadeOut');
                $(".search-map").removeClass('fadeIn').addClass('fadeOut');
                //$("#myUL").html(loader);
                let keyword = $("#keyword-input").val();
                let location = $("#place_input").val();
                let pro = $("#pro-input").val();
                let type = $("#type-input").val();
                let url = window.location.href;

                url = "{{ path('search_offer') }}";
                $.ajax({
                    url: url,
                    data: {keyword:keyword,location:location,pro:pro,type:type,row:row,number:totalItem}
                }).done(function( data ) {

                    $('#loading').hide();

                    $("#myUL").html(data);
                    let total = $('#hidden-search-info').data('total');
                    let page = $('#hidden-search-info').data('page');
                    let str = '<a onClick="onPage('+(page==1?1:(page-1))+')" href="#">&laquo;</a>'

                    for (i = 1; i <= total; i++) {
                        str += '<a onClick="onPage(' + i + ')" class="offer-page-link ' + (i == page?'selected-page':'') + '" href="#">' + i + '</a>';
                    }

                    str += '<a onClick="onPage('+(page==total?total:(page+1))+')" href="#">&raquo;</a>';
                    document.getElementById("paginator-offer").innerHTML = str;

                    var url = window.location.href;
                    url = url.substr(0, url.lastIndexOf("?"));
                    url += '?';

                    url += 'keyword='+keyword+'&location='+location+'&type='+type;

                    window.history.replaceState('object or string', 'Title', url);

                    $(".draggable").draggable({
                        revert: 'invalid',
                        zIndex: 700,
                        drag : Drag
                    })
                });
            }

            window.onload = function() {

                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            };

            $("#search-offer-form input[type='submit']").click(function(e) {
                    e.preventDefault();
                    let total = $('#number-of-offer').val();
                    searchOffer(1,total);
            });
            $('#place_input').on('change', function () {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $(".type-contract-checkbox").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total, false);
            });

            $("#pro-input").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $("#category-input").change(function() {
                let total = $('#number-of-offer').val();
                searchOffer(1,total);
            });

            $('#number-of-offer').change(function() {
                let page = $('#hidden-search-info').data('page');
                let total = this.value;
                searchOffer(page,total);
            });

            function onPage(page){
                let total = $('#number-of-offer').val();
                searchOffer(page,total);
            }

            function detectmob() {
                if( navigator.userAgent.match(/Android/i)
                    || navigator.userAgent.match(/webOS/i)
                    || navigator.userAgent.match(/iPhone/i)
                    || navigator.userAgent.match(/iPad/i)
                    || navigator.userAgent.match(/iPod/i)
                    || navigator.userAgent.match(/BlackBerry/i)
                    || navigator.userAgent.match(/Windows Phone/i)
                ){
                    return true;
                }
                else {
                    return false;
                }
            }

            // let featuredOfferTop = $('.featured-offer-search').offset().top;
            // let featuredOfferLeft = $('.featured-offer-search').offset().left;
            // let featuredOfferWidth = $('.featured-offer-search').outerWidth();
            // $(window).scroll(function() {
            //     let currentScroll = $(window).scrollTop();
            //     if (currentScroll +160 >= featuredOfferTop && detectmob() == false) {
            //         $('.featured-offer-search').css({
            //             position: 'fixed',
            //             top: '55px',
            //             left: featuredOfferLeft,
            //             width: featuredOfferWidth,
            //         });
            //     } else {
            //         $('.featured-offer-search').css({
            //             position: 'static'
            //         });
            //     }
            // });

            window.onscroll = function() {myFunction()};

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
                    if (($(".navbar-bottom").offset().top) <= ($(window).scrollTop() + $(window).height()) ) {
                        if(!$(".compare-offers").hasClass('sticky')){
                            $(".compare-offers").css("bottom", (20+ window.scrollY + window.innerHeight - $(".navbar-bottom").offset().top));
                        }

                    }else{
                        $(".compare-offers").css("bottom", "20px");
                    }
            }

            $('.title-compare').on('click', function () {
                if($('.list-to-compare').css('display') == 'none'){
                    $('.list-to-compare').show();
                    $('.icon-open-compare').hide();
                    if($('.offer-to-compare').length > 0){
                        $('.compare-button-container').show()
                    }
                }else {
                    $('.list-to-compare').hide();
                    $('.compare-button-container').hide()
                    $('.icon-open-compare').show();
                }
            })

        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $("#droppable").droppable({ drop: Drop,
                    over: function( event, ui ) {
                        $(this).addClass("hover-offer-comparison");
                    },
                    out: function( event, ui ) {
                        $(this).removeClass("hover-offer-comparison");
                    }
                })
            } );

            function Drop(event, ui) {
                var draggableId = ui.draggable.attr("data-title");
                var logo = ui.draggable.attr("data-logo");
                var offerId = ui.draggable.attr("data-id");
                var info = ui.draggable.attr("data-info");
                var offer = "<div class='offer-to-compare' data-info='"+info+"' data-id='"+offerId+"'><img class='compare-offer-logo' src='"+logo+"'><div class='compare-offer-title'>"+ draggableId + "</div><a class='remove-offer' href='#' onclick='removeOffer(event, this)'><i class='far fa-times-circle'></i></a></div>";
                $('.drop-here').hide();
                $(this).append(offer);
                $(this).removeClass("hover-offer-comparison");
                ui.draggable.removeAttr("style");
                $('.compare-button-container').show()
            }
            function Drag(event, ui) {
                $('.list-to-compare').show();
                $('.icon-open-compare').hide();
            }
            function removeOffer(e, button) {
                e.preventDefault();
                button.parentElement.remove();
                var numberOfOffers = $('.offer-to-compare').length;
                if(numberOfOffers == 0){
                    $('.compare-button-container').hide()
                    $('.drop-here').show();
                }
            }


            $(".compare-button").on("click", function(e){

                var table = new Table();

                var values = [];
                $('.offer-to-compare').each(function () {
                   var newValue = JSON.parse($(this).attr('data-info'));
                    newValue = newValue.map(function(v) {
                        if(v == ''){
                            return "-";
                        }
                        return v;
                    });
                    values.push(newValue);
                });
                var data = {
                    v: values
                }
                table
                    .setHeader(data.k)
                    .setData(data.v).setTableClass('table slot-table')
                    .build()


                $("#modal-comparison").modal('show');
            });

            function Table() {
                //sets attributes
                this.header = [];
                this.data = [[]];
                this.tableClass = ''
            }

            Table.prototype.setHeader = function(keys) {
                //sets header data
                this.header = keys;
                return this
            };

            Table.prototype.setData = function(data) {
                //sets the main data
                this.data = data;
                return this
            };

            Table.prototype.setTableClass = function(tableClass) {
                //sets the table class name
                this.tableClass = tableClass;
                return this
            }

            Table.prototype.build = function(container) {

                //default selector
                container = container || '.table-container';

                //creates table
                var table = $('<table></table>').addClass(this.tableClass);

                var tr = $('<tr></tr>'); //creates row
                var th = $('<th></th>'); //creates table header cells
                var td = $('<td></td>'); //creates table cells


                //creates
                var tbody = $('<tbody></tbody>');

                var row = td.clone(); //creates a row

                var head = ['{{ 'dashboard.pro.slot.offer'|trans }}','{{ 'notification.pro'|trans }}','{{ 'offer.wage'|trans }}','{{ 'offer.experience'|trans }}','{{ 'offer.benefits'|trans }}','{{ 'offer.available'|trans }}','{{ 'offer.contract'|trans }}'];
                head.forEach(function(e,j) {
                    var tt = tr.clone();
                    tt.append(th.clone().text(e));
                    row.append(tt);
                });
                tbody.append(row);
                //fills out the table body
                this.data.forEach(function(d) {
                    var row = td.clone(); //creates a row
                    d.forEach(function(e,j) {
                        if(j == 0){
                            e = '<td><a target="_blank" href="'+e[1]+'">'+e[0]+'</a></td>';
                            row.append(e)
                        }else {
                            row.append(tr.clone().text(e)) //fills in the row
                        }

                    });
                    tbody.append(row) //puts row on the tbody
                });

                $('.table-comparison').html(table.append(tbody));

                return this
            };


        </script>
    </div>

{% endblock %}