{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}
    <div class="jumbotron homepage-jumbotron">
        <span style="font-size: 42px">{{ 'dashboard.title' | trans }}</span>
    </div>

    <div class="container rendezvous-container">
        <div class="tab-content client-content">

            <div class="text-center">{{ 'dashboard.client.list' | trans }}</div>
            <h3>Mes prochain rendez vous</h3>

            <div class="row">
                <div class="next-rendezvous-list col-md-8">
                    {% for rendezvous in nextRendezvous %}
                        <div class="next-rendezvous-container shadow-box">
                            <div>
                                <div>
                                    <b>{{ rendezvous.startDate|date('H') }}h{{ rendezvous.startDate|date('i') }}</b> le <b>{{ rendezvous.startDate|date('d/m/Y') }}</b>
                                </div>
                                <div>
                                    <b>{{ rendezvous.user.pro.name }}</b> - <b>{{  rendezvous.user.pro.location }}
                                        {{ rendezvous.user.pro.zipcode }}
                                        {{ rendezvous.user.pro.city }}</b>
                                </div>
                                <div>
                                    {{ rendezvous.service.name }} - {% set hours = rendezvous.service.length // 60 %}
                                    {% set minutes = rendezvous.service.length % 60 %}
                                    {% if hours >= 1 %}
                                        {{ hours }}h {{ minutes }}min
                                    {% else %}
                                        {{ minutes }}min
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="shadow-box">
                        {{ ivory_google_map(map) }}
                        {{ ivory_google_api([map]) }}
                    </div>
                </div>

                <h3>Mes derniers rendez vous</h3>
                {% for rendezvous in lastRendezvous %}
                    <div class="next-rendezvous-container shadow-box">
                        <div>
                            <div>
                                le <b>{{ rendezvous.startDate|date('H') }}h{{ rendezvous.startDate|date('i') }}</b> le <b>{{ rendezvous.startDate|date('d/m/Y') }}</b>
                            </div>
                            <div>
                                <b>{{ rendezvous.user.pro.name }}</b> - <b>{{  rendezvous.user.pro.location }}
                                    {{ rendezvous.user.pro.zipcode }}
                                    {{ rendezvous.user.pro.city }}</b>
                            </div>
                            <div>
                                {{ rendezvous.service.name }} - {% set hours = rendezvous.service.length // 60 %}
                                {% set minutes = rendezvous.service.length % 60 %}
                                {% if hours >= 1 %}
                                    {{ hours }}h {{ minutes }}min
                                {% else %}
                                    {{ minutes }}min
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>



        </div>
    </div>

    <style>
        .next-rendezvous-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 290px;
            text-align: center;
            font-size: 20px;
        }
        .date-postulated{
            margin-top: 25px;
        }
        .delete-favorite{
            margin-top: 20px;
        }
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/rendezvous-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .logo-pro-in-applied-offer{
            width: 73px;
            max-width: 73px;
            z-index: 1;
            padding: 10px;
            border: 1px #ddd solid;
            border-radius: 3px;
            background-color: white;
            margin-right: 5px;
        }
    </style>

{% endblock %}