{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}

    <div class="container rendezvous-container">
        <div class="tab-content client-content">

            <h3>Mes prochain rendez vous</h3>

            <div class="row">
                <div class="next-rendezvous-list col-md-8">
                    {% for rendezvous in nextRendezvous %}
                        <div class="next-rendezvous-container shadow-box">
                            <div>
                                <div>
                                    <b>{{ rendezvous.startDate|date('H') }}h{{ rendezvous.startDate|date('i') }}</b> le <b>{{ rendezvous.startDate|date('d/m/Y') }}</b>
                                </div>
                                <div>
                                    <b>{{ rendezvous.user.pro.name }}</b> - <b>{{  rendezvous.user.pro.location }}
                                        {{ rendezvous.user.pro.zipcode }}
                                        {{ rendezvous.user.pro.city }}</b>
                                </div>
                                <div>
                                    {{ rendezvous.service.name }} - {% set hours = rendezvous.service.length // 60 %}
                                    {% set minutes = rendezvous.service.length % 60 %}
                                    {% if hours >= 1 %}
                                        {{ hours }}h {{ minutes }}min
                                    {% else %}
                                        {{ minutes }}min
                                    {% endif %}
                                </div>
                                <div>
                                    <button class="btn btn-danger cancel-rendezvous" data-href="{{ path('cancel_rendezvous', {'id':rendezvous.id}) }}">Annuler le rendez vous</button>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                {% if location|first[0] is defined %}
                    <div class="col-md-4">
                        <div class="shadow-box">
                            <div id="map"></div>
                        </div>
                    </div>
                    <script>
                        // Initialize and add the map
                        function initMap() {
                            // The location of Uluru
                            var location = {lat: {{ location|first[0] }}, lng: {{ location|first[1] }}};
                            // The map, centered at Uluru
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 17, center: location, mapTypeControl: false, fullscreenControl: false});
                            // The marker, positioned at Uluru

                            var bounds = new google.maps.LatLngBounds();
                            var infoWindow = new google.maps.InfoWindow();
                            {% for position in location %}
                                var marker = new google.maps.Marker({position: {lat: {{ position[0] }}, lng: {{ position[1] }}}, map: map});
                                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                    return function() {
                                        {% if position[5] != '' %}
                                            {% set image =  'uploads' ~ vich_uploader_asset(position[5], 'imageFile', 'AppBundle\\Entity\\Image') %}
                                        {% else %}
                                            {% set image = 'images/default_cover_image6.jpg' %}
                                        {% endif %}
                                        var content = '<a target="_blank" href="'+ "{{ position[4] }}" +'"><div><img class="pro-image-map" src="{{ asset(image) }}"></div><div class="pro-title-map">' + "{{ position[3] }}" + '</div></a>'+"{{ position[6] }}";
                                        infoWindow.setContent(content);
                                        infoWindow.open(map, marker);
                                    }
                                })(marker));
                                bounds.extend({lat: {{ position[0] }}, lng: {{ position[1] }}});
                            {% endfor %}
                            {% if location|length > 1 %}
                                map.fitBounds(bounds);
                            {% endif %}
                        }
                    </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY8KoA6XgncXKSfDq7Ue7R2a1QWFSFxjc&callback=initMap">
                    </script>
                    <style>
                        .pro-title-map{
                            margin-top: 5px;
                            font-size: 15px;
                        }
                        .pro-image-map{
                            width: 200px;
                        }
                        #map {
                            height: 400px;  /* The height is 400 pixels */
                            width: 100%;  /* The width is the width of the web page */
                        }
                    </style>
                {% endif %}


            </div>
            {% if lastRendezvous is defined and lastRendezvous|length > 0 %}
                <h3>Mes derniers rendez vous</h3>
                {% for rendezvous in lastRendezvous %}
                    <div class="next-rendezvous-container shadow-box">
                        <div>
                            <div>
                                le <b>{{ rendezvous.startDate|date('H') }}h{{ rendezvous.startDate|date('i') }}</b> le <b>{{ rendezvous.startDate|date('d/m/Y') }}</b>
                            </div>
                            <div>
                                <b>{{ rendezvous.user.pro.name }}</b> - <b>{{  rendezvous.user.pro.location }}
                                    {{ rendezvous.user.pro.zipcode }}
                                    {{ rendezvous.user.pro.city }}</b>
                            </div>
                            <div>
                                {{ rendezvous.service.name }} - {% set hours = rendezvous.service.length // 60 %}
                                {% set minutes = rendezvous.service.length % 60 %}
                                {% if hours >= 1 %}
                                    {{ hours }}h {{ minutes }}min
                                {% else %}
                                    {{ minutes }}min
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-cancel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Etes vous sûre de vouloir annuler ce rendez vous?</h4>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                    <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .cancel-rendezvous{
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        .next-rendezvous-container{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 290px;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <script>
        $(".cancel-rendezvous").on("click", function(e){
            $('#modal-btn-yes').attr("href", $(this).data('href'));

            $("#modal-cancel").modal('show');
        });

        $(".modal-btn-no").on("click", function(){
            $(".modal").modal('hide');
        });
    </script>

{% endblock %}