<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}JobNow{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/main.js') }}"></script>
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/919c9c113d.js"></script>

        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top header-navbar navbar-expand-lg">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="container">


            <a class="navbar-brand  header-text" href="{{ path('jobnow_home') }}"><img class="logo-jobnow" src="{{asset('images/logo_jobnow.png')}}"></a>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle c" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-search"></i>{{ 'header.candidates.title'|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('search_page_offer') }}"><i class="fas fa-search-plus"></i>{{ 'header.candidates.findJob'|trans }}</a></li>
                        <li><a href="{{ path('list_employer') }}"><i class="fas fa-building"></i>{{ 'header.candidates.companies'|trans }}</a></li>
                        {%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                            <li><a href="{{ path('dashboard_candidate') }}#applied"><i class="fas fa-clipboard-list"></i>{{ 'header.candidates.dashboard.applied'|trans }}</a></li>
                            <li><a href="{{ path('dashboard_candidate') }}#alerts"><i class="fas fa-flag"></i>{{ 'header.candidates.dashboard.alert'|trans }}</a></li>
                            <li><a href="{{ path('dashboard_candidate') }}#favorites"><i class="fas fa-star"></i>{{ 'header.candidates.dashboard.favorites'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>

                {%  if (app.user.roles is not defined) or (app.user.roles is defined and 'ROLE_CANDIDATE' not in app.user.roles) %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fas fa-clipboard"></i>{{ 'header.employers.title'|trans }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('post_offer') }}"><i class="fas fa-edit"></i>{{ 'header.employers.post'|trans }}</a></li>
                            {#<li><a href="{{ path('search_candidate') }}">{{ 'header.employers.findCandidate'|trans }}</a></li>#}
                            <li><a href="{{ path('jobnow_credit') }}"><img class="logo-credit" src="{{asset('images/credit.svg')}}"> {{ 'header.employers.pricing'|trans }}</a></li>
                            {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
                            <li><a href="{{ path('dashboard_employer') }}"><i class="fas fa-th-large"></i>{{ 'header.employers.dashboard'|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('contact_us_page') }}"><i class="fas fa-headphones"></i>{{ 'contact.us.employer'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>



            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
                        <li class="navbar-brand-header header-text"><div class="credit-total"><a href="{{ path('jobnow_credit') }}"><img class="logo-credit" src="{{asset('images/credit.svg')}}"> {{ app.user.employer.credit  }} </a></div></li>
                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{%  if (app.user.roles is defined) and ('ROLE_CANDIDATE' in app.user.roles) %}
                                            {{ path('edit_candidate') }}
                                        {% elseif 'ROLE_EMPLOYER' in app.user.roles %}
                                            {{ path('edit_employer') }}
                                        {% else %}
                                            {{ path('fos_user_profile_edit') }}
                                        {% endif %}">
                                    <i class="fas fa-pencil-alt edit-icon"></i>{{ 'header.profile'|trans }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i>{{ 'header.logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ 'header.register'|trans }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('create_candidate') }}"><i class="fas fa-search"></i>{{ 'header.candidates.register'|trans }}</a></li>
                            <li><a href="{{ path('create_employer') }}"><i class="fas fa-clipboard"></i>{{ 'header.employers.register'|trans }}</a></li>
                        </ul>
                    </li>

                    <li><a id="login" href="{{ path('fos_user_security_login') }}"><i class="fas fa-user-circle"></i>{{ 'header.login.title'|trans }}</a></li>
                {% endif %}
                {% if app.request.get('_route') is not null %}
                <li class="dropdown language-selector">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-globe"></i>{{ app.request.locale }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if 'jobnow_home' in app.request.attributes.get('_route') or 'fos_user_security_login' in app.request.attributes.get('_route') or 'faq_page' in app.request.attributes.get('_route')  %}
                            <li><a href="{{ path(app.request.get('_route'), { '_locale': 'fr'}) }}">Français</a></li>
                            <li><a href="{{ path(app.request.get('_route'), { '_locale': 'en'}) }}">English</a></li>
                        {% else %}
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr', 'locale':'fr'})) }}">Français</a></li>
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en', 'locale':'en'})) }}">English</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block header %}
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-text" href="#"> © 2018 JobNow</a>
        </div>
        <div id="navbarfooter" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('about_us') }}">{{ 'footer.about'|trans }}</a></li>
                <li><a href="{{ path('contact_us_page') }}">{{ 'contact.us.smallTitle'|trans }}</a></li>
                <li><a href="{{ path('faq_page') }}">{{ 'footer.faq'|trans }}</a></li>
                <li><a href="{{ path('privacy_page') }}">{{ 'footer.privacy'|trans }}</a></li>
                <li><a href="{{ path('legal_page') }}">{{ 'footer.legal'|trans }}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</nav>



<div class="content-block">
    <div style="">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>