{% extends "::layout.html.twig" %}

{% block title %}
  {{ 'form.registration.title.candidate' | trans }} - {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row register-candidate">
        <div class="col-md-6  col-md-offset-3">
            <h3 class="title">{{ 'form.registration.title.candidate' | trans }}</h3>
            <div>{{ 'form.registration.subTitle.candidate'|trans }}</div>

            <hr>

            <h3 class="login-login-title">{{ 'form.registration.title.create'|trans }}</h3>

            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="row form-group">
                <div class="col-md-6 form-group">
                    {{ form_label (form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label (form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>

                <div class="col-md-12 form-group">
                {{ form_label (form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
                </div>

                <div class="col-md-12">
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>

            </div>

            <div style="display: none">
                {{ form_label (form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}


                {{ form_label (form.age) }}
                {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}


                {{ form_label (form.experience) }}
                {{ form_widget(form.experience) }}
                {{ form_errors(form.experience) }}

                {{ form_label (form.license) }}
                {{ form_widget(form.license) }}
                {{ form_errors(form.license) }}

                {{ form_label (form.searchedtag) }}
                {{ form_widget(form.searchedtag) }}
                {{ form_errors(form.searchedtag) }}

                {{ form_label (form.tag) }}
                {{ form_widget(form.tag) }}
                {{ form_errors(form.tag) }}

                {{ form_label (form.diploma) }}
                {{ form_widget(form.diploma) }}
                {{ form_errors(form.diploma) }}

                {{ form_label (form.socialMedia) }}
                {{ form_widget(form.socialMedia) }}
                {{ form_errors(form.socialMedia) }}

                {{ form_label (form.phone) }}
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>


            <div class="col-md-6 col-md-offset-3">
                {{ form_widget(form.submit, { 'label': 'offer.submit' }) }}
            </div>



                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}


        </div>
    </div>

{% endblock %}