{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  {{ 'form.registration.title.candidate' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="register-candidate container">
        <div class="col-md-5">
            <h3 class="title">{{ 'form.registration.title.candidate' | trans }}</h3>
            <div>{{ 'form.registration.subTitle.candidate'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'header.login.title'|trans }}</a></div>
            <div>{{ 'form.registration.already'|trans }}</div>

            <hr>

            <h3 class="login-login-title">{{ 'form.registration.title.create'|trans }}</h3>

            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="row form-group">
                <div class="col-md-6 form-group">
                    {{ form_label (form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label (form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>

                <div class="col-md-12 form-group">
                    {{ form_label (form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                    <div class="error-already-exist">{{ 'form.registration.mailAlreadyExist'|trans }}</div>
                </div>

                <div class="col-md-12">
                    <p>{{ 'form.registration.passwordValidation'|trans }}</p>
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>

            </div>

            <div style="display: none">
                {{ form_label (form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}


                {{ form_label (form.age) }}
                {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}


                {{ form_label (form.experience) }}
                {{ form_widget(form.experience) }}
                {{ form_errors(form.experience) }}

                {{ form_label (form.license) }}
                {{ form_widget(form.license) }}
                {{ form_errors(form.license) }}

                {{ form_label (form.searchedtag) }}
                {{ form_widget(form.searchedtag) }}
                {{ form_errors(form.searchedtag) }}

                {{ form_label (form.tag) }}
                {{ form_widget(form.tag) }}
                {{ form_errors(form.tag) }}

                {{ form_label (form.diploma) }}
                {{ form_widget(form.diploma) }}
                {{ form_errors(form.diploma) }}

                {{ form_label (form.socialMedia) }}
                {{ form_widget(form.socialMedia) }}
                {{ form_errors(form.socialMedia) }}

                {{ form_label (form.phone) }}
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}

                {{ form_label (form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}

                {{ form_label (form.language) }}
                {{ form_widget(form.language) }}
                {{ form_errors(form.language) }}
            </div>


            <div class="col-md-6 col-md-offset-3">
                {{ form_widget(form.submit, { 'label': 'offer.submit' }) }}
            </div>
            <div class="col-md-12">
                <div style="margin-top: 10px; font-size: 12px;">
                    <div>
                        {{ 'form.registration.bySubmitting'|trans({'%link_start%' : '<a target="_blank" href="'~path('legal_page')~'">', '%link_end%' : '</a>'}) | raw }}
                    </div>
                    <div>
                        {{ 'form.registration.consult'|trans({'%link_start%' : '<a target="_blank" href="'~path('privacy_page')~'">', '%link_end%' : '</a>'}) | raw }}
                    </div>
                </div>
            </div>


                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}


        </div>
    </div>
    <script>
        $('#appbundle_candidate_email').on('blur', function () {
            let mail = this.value;
            url = "{{ path('user_already_exist') }}";
            $.ajax({
                url: url,
                data: {mail:mail}
            }).done(function( data ) {
                if(data != ''){
                    $('.error-already-exist').css({'display':'block'});
                    $("#appbundle_candidate_submit").prop("disabled",true);
                }else{
                    $('.error-already-exist').css({'display':'none'});
                    $("#appbundle_candidate_submit").prop("disabled",false);
                }

            });
        });
        $('#appbundle_candidate_email').on('keyup', function () {
            let mail = this.value;
            url = "{{ path('user_already_exist') }}";
            $.ajax({
                url: url,
                data: {mail:mail}
            }).done(function( data ) {
                if(data == ''){
                    $('.error-already-exist').css({'display':'none'});
                    $("#appbundle_candidate_submit").prop("disabled",false);
                }

            });
        });
    </script>
    <style>
        .error-already-exist{
            display: none;
            color: red;
            margin-top: 5px;
        }
    </style>

{% endblock %}