{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>{{ 'dashboard.title' | trans }}</h3>

        {% if notifications is defined and notifications|length > 0 %}
            <h4>{{ 'notification.mine' | trans }}</h4>


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">type</th>
                    <th scope="col">name</th>
                </tr>
                </thead>
                <tbody>
                {% for i in 1..notifications|length %}
                    <tr>
                        <td>{{ notifications[i-1].type }}</td>
                        <td>{{ notifications[i-1].name }}</td>
                        <td><a href="{{ path('delete_notification', {'id':notifications[i-1].id}) }}" class="btn btn-primary element-offer-list">{{ 'notification.delete' | trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <h4>{{ 'dashboard.candidate.list' | trans }}</h4>
        <ul id="myUL" class="candidat-dashboard">
            {% for offer in appliedOffer %}
                <li>
                    <a class='offer-element-dashboard' href="{{ path('show_offer', {'id': offer.offer.id}) }}">
                        {% if offer.offer.employer.logo is not null %}<img class="dashboard-employer-logo" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="job-title-employer">
                                <div>{{ offer.offer.title }}</div>
                                <div class="offer-element-name">{{ offer.offer.employer.name }}</div>
                            </div>

                            <span class="other-element"><i class="fa fa-map-marker"></i>{{ offer.offer.location }}</span>
                            <span class="applied-date">{{ 'dashboard.candidate.appliedThe' | trans }}{{ offer.date | date("d/m/Y")  }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}