{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}
    <div class="jumbotron homepage-jumbotron">
        <span style="font-size: 42px">{{ 'dashboard.title' | trans }}</span>
    </div>

    <div class="navbar-dashboard">
        <ul class="nav nav-tabs nav-candidate navbar-dashboard">
            <li class="active">
                <a  data-target="#applied" data-toggle="tab">{{ 'dashboard.candidate.appliedOffers'|trans }}</a>
            </li>
            <li><a data-target="#alerts" data-toggle="tab">{{ 'dashboard.candidate.notifications'|trans }}</a>
            </li>
            <li><a data-target="#favorites" data-toggle="tab">{{ 'dashboard.candidate.favorites'|trans }}</a>
            </li>
        </ul>
    </div>
    <div class="container jobnow-container">
        <div class="tab-content candidate-content">
            <div class="tab-pane active fade in" id="applied">
                <h3>{{ 'dashboard.candidate.list' | trans }}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col" style="    min-width: 200px;">date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for offer in appliedOffer %}
                        <tr>
                            <td>
                                <a href="{{ path('show_offer', {'id': offer.offer.id, 'url':offer.offer.offerUrl}) }}">
                                    {% if offer.offer.employer.logo.imageName is not null %}
                                        <img class="logo-employer-in-applied-offer" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>
                                    {% endif %}
                                    {{ offer.offer.title |trans }}
                                </a>
                            </td>
                            <td>{{ offer.date|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="alerts">
                <div>{{ 'notification.title'|trans }}</div>
                <div class="add-notification">
                    <h3>{{ 'notification.create' |trans}}</h3>
                    <form method="post" action="{{ path('create_notification') }}" id="search-offer-homepage">
                        <input name="type" type="hidden" id="type-input" value="notification.tag">
                        <select title="Category" id="id-input" name="id"  class="jobnow-dropdown">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name|trans }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="jobnow-button " value="{{ 'add' | trans }}">
                    </form>
                </div>


                {% if notifications is defined and notifications|length > 0 %}

                    <h3>{{ 'notification.mine' | trans }}</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">type</th>
                            <th scope="col">name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 1..notifications|length %}
                            <tr>
                                <td>{{ notifications[i-1].type |trans }}</td>
                                <td><a  href="{% if notifications[i-1].type == 'notification.tag' %}{{ path('search_page_offer', {'tags':[notifications[i-1].name]}) }}{% elseif notifications[i-1].type == 'notification.employer' %}{{ path('show_employer', {'id':notifications[i-1].elementId}) }}{% endif %}">{{ notifications[i-1].name|trans }}</a></td>
                                <td><a href="{{ path('delete_notification', {'id':notifications[i-1].id}) }}" class="btn btn-primary element-offer-list">{{ 'delete' | trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="favorites">
                <div>{{ 'favorite.title'|trans }}</div>
                {% if notifications is defined and notifications|length > 0 %}
                    <h3>{{ 'header.candidates.dashboard.favorites' | trans }}</h3>

                        <div class="tab-pane active fade in" id="applied">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">name</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for favorite in favorites %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('show_offer', {'id': favorite.offer.id, 'url':favorite.offer.offerUrl}) }}">
                                                {% if favorite.offer.employer.logo.imageName is not null %}
                                                    <img class="logo-employer-in-applied-offer" src="/jobnowlu/web/uploads{{ vich_uploader_asset(favorite.offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>
                                                {% endif %}
                                                {{ favorite.offer.title |trans }}
                                            </a>
                                        </td><td><a href="{{ path('delete_favorite', {'id':favorite.id}) }}" class="btn btn-primary element-offer-list">{{ 'delete' | trans }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        var url = document.location.toString();
        $(window).on('hashchange', function(e){
            if (document.location.toString().match('#')) {
                $('.nav-tabs a[data-target="#' + document.location.toString().split('#')[1] + '"]').tab('show');
            }
        });
        if (url.match('#')) {
            $('.nav-tabs a[data-target="#' + url.split('#')[1] + '"]').tab('show');
        }
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>
    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/jobnow-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
        .logo-employer-in-applied-offer{
            width: 73px;
            max-width: 73px;
            z-index: 1;
            padding: 10px;
            border: 1px #ddd solid;
            border-radius: 3px;
            background-color: white;
            margin-right: 5px;
        }
    </style>

{% endblock %}