{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Dashboard</h3>

        <h4>Vous avez postulé à ces offres:</h4>
        <ul id="myUL">
            {% for offer in offers %}
                <li>
                    <a class='offer-element' href="{{ path('show_offer', {'id': offer.id}) }}">
                        {% if offer.employer.logo is not null %}<img src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}" height="50" width="50"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="job-title-employer">
                                <div>{{ offer.title }}</div>
                                <div>{{ offer.employer.name }}</div>
                            </div>

                            <span>{{ offer.location }}</span>
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}