{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>{{ 'dashboard.title' | trans }}</h3>

        <h4>{{ 'dashboard.candidate.list' | trans }}</h4>
        <ul id="myUL" class="candidat-dashboard">
            {% for offer in appliedOffer %}
                <li>
                    <a class='offer-element-dashboard' href="{{ path('show_offer', {'id': offer.offer.id}) }}">
                        {% if offer.offer.employer.logo is not null %}<img class="dashboard-employer-logo" src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}"/>{% endif %}
                        <div class="offer-search-element">
                            <div class="job-title-employer">
                                <div>{{ offer.offer.title }}</div>
                                <div class="offer-element-name">{{ offer.offer.employer.name }}</div>
                            </div>

                            <span class="other-element"><i class="fa fa-map-marker"></i>{{ offer.offer.location }}</span>
                            <span class="applied-date">{{ 'dashboard.candidate.appliedThe' | trans }}{{ offer.date | date("d/m/Y")  }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}