{% extends "::layout.html.twig" %}


{% block content %}
    <div class="jumbotron offer-jumbotron">
        <h2>{{ candidate.user.firstName }}</h2>
        <h3 class="page-subtitle">
            <div class="updated-date">dernière modification le {{ candidate.modifiedDate |date('d/m/Y')}}</div>
        </h3>
    </div>
    <style>
        .offer-jumbotron::after{
            content: '';
            background-image:url({{asset('images/jobnow-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>


        <div class="container candidate-body">
            <div class="candidate-action">
                <div class="link-social"><a href="{{  candidate.socialMedia }} }}">{{ candidate.socialMedia }}</a></div>
                <button class="btn btn-default contact-button" id="btn-confirm">Contact</button>

                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ 'candidate.delete.sure'|trans }}</h4>
                            </div>
                            {{ render(controller(
                                'AppBundle:Contact:contact',
                                { 'email': candidate.user.email }
                            )) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>

        $("#btn-confirm").on("click", function(){
            $("#mi-modal").modal('show');
        });

    </script>

{% endblock %}