{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('dashboard_admin') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'admin.addCredit.title'|trans }}</h2>
    </div>
    <div class="container stripe-container">
        <div class="shadow-box col-md-8">
            {{ form_start(form, {attr: {id: form.vars.id}}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.zipcode) }}
                        {{ form_widget(form.zipcode) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.credits) }}
                        {{ form_widget(form.credits) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.price) }}
                        {{ form_widget(form.price) }}
                    </div>

                </div>
                <div class="col-md-4 col-md-offset-4 info-log-credit">
                    {{ form_label (form.submit) }}
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
            <style>
                .info-log-credit{
                    margin-top: 10px;
                }
            </style>

        </div>
        <div class="col-md-4">
            <div class="shadow-box">
                <div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>{{ employer.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'price.credits'|trans }} : {{ employer.credit }}</td>
                        </tr>
                        <tr>
                            <td class="with-line">{{ employer.vatNumber }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <script>
            $("#btn-confirm").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>

    <style>
        #payment-form_submit{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/dashboard.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .stripe-container{
            margin-top: 25px !important;
        }
    </style>

{% endblock %}