{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Panneau d'administration - {{ parent() }}
{% endblock %}

{% block body %}


    <div class="container jobnow-container" style="text-align: center">

        <div class="dashboard-container">
            <div class="container-square">
                <a class="zoom block-dashboard square-profile" href="{{ path('list_employer_admin') }}"><div class="content-square"><i class="fas fa-building"></i><div class="text-square">liste des employeur</div></div></a>
                <a class="zoom block-dashboard square-credit" href="{{ path('list_ad_admin',{'archived':0}) }}"><div class="content-square"><i class="fas fa-euro-sign"></i><div class="text-square">Liste des pub</div></div></a>
                <a class="zoom block-dashboard square-featured-offers" href="{{ path('featured_offer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.offer.title' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('list_offer_admin') }}"><div class="content-square"><i class="fas fa-list-ul"></i><div class="text-square">Liste des offres</div></div></a>
                <a class="zoom block-dashboard square-offers" href="{{ path('list_candidate_admin') }}"><div class="content-square"><i class="fas fa-search"></i><div class="text-square">List des Candidats</div></div></a>
                <a class="zoom block-dashboard square-bills" href="{{ path('create_ad') }}"><div class="content-square"><i class="fas fa-file"></i><div class="text-square">Créer une pub</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('featured_employer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.employer.title' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('featured_employer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">x</div></div></a>
            </div>
        </div>


        <div class="dashboard-total-offer">
            total offre active: {{ totalActiveOffer }}
        </div>
        <p></p>
        <div class="dashboard-total-offer">
            total employeur: {{ countEmployer }}
        </div>

    </div>

{% endblock %}