{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Panneau d'administration - {{ parent() }}
{% endblock %}

{% block body %}


    <div class="container jobnow-container" style="text-align: center">

        <div class="dashboard-container">
            <div class="container-square">
                <a class="zoom block-dashboard square-profile" href="{{ path('list_employer_admin') }}"><div class="content-square"><i class="fas fa-building"></i><div class="text-square">{{ 'admin.dashboard.employerList' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-credit" href="{{ path('list_ad_admin',{'archived':0}) }}"><div class="content-square"><i class="fas fa-euro-sign"></i><div class="text-square">{{ 'admin.dashboard.adList' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-offers" href="{{ path('featured_offer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.offer.title' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('list_offer_admin') }}"><div class="content-square"><i class="fas fa-list-ul"></i><div class="text-square">{{ 'admin.dashboard.offerList' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-offers" href="{{ path('list_candidate_admin') }}"><div class="content-square"><i class="fas fa-search"></i><div class="text-square">{{ 'admin.dashboard.candidateList' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-bills" href="{{ path('log_page') }}"><div class="content-square"><i class="fas fa-chart-line"></i><div class="text-square">{{ 'admin.dashboard.stat' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('featured_employer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.employer.title' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-employers" href="{{ path('list_admin') }}"><div class="content-square"><i class="fas fa-wrench"></i><div class="text-square">{{ 'admin.dashboard.adminList' | trans }}</div></div></a>
            </div>
        </div>


        <div class="dashboard-total-offer">
            {{ 'admin.dashboard.totalActiveOffers' | trans }} {{ totalActiveOffer }}
        </div>
        <p></p>
        <div class="dashboard-total-offer">
            {{ 'admin.dashboard.totalEmployers' | trans }} {{ countEmployer }}
        </div>
        <div class="dashboard-total-offer">
            {{ 'admin.dashboard.totalCandidates' | trans }} {{ candidateCount }}
        </div>
        <p></p>
        <div class="dashboard-total-offer">
            {{ 'admin.dashboard.totalSlots' | trans }} {{ totalSLot }}
        </div>

    </div>

{% endblock %}