{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Liste des offres - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="dashboard-total-offer">
            total offre active: {{ totalActiveOffer }}
        </div>

        <h2> Liste des offres </h2>

        <div class="container-button-offers">
            <input type="text" id="myInput-offer" onkeyup="showEmployer()" placeholder="Search for name.." title="Type in a name" class="search-employer">
            <input type="text" id="myInput-id" onkeyup="showOffer()" placeholder="Id" title="Type in a id" class="search-employer">
            <a href="{{ path('list_offer_admin', {'archived':   archived ? 0:1 }) }}" class="element-offer-list btn btn-primary element-offer-list global-a">
                {% if archived %}
                    Offres non archivées
                {% else %}
                    Offres archivées
                {% endif %}
            </a>
            <a href="{{ path('list_offer_admin', {'active':   active ? 0:1 }) }}" class="element-offer-list btn btn-primary element-offer-list global-a">
                {% if active %}
                    Montrer toute les offres
                {% else %}
                    Montrer les offres active
                {% endif %}
            </a>
            <a href="{{ path('list_offer_admin', {'validated':  validated is null ? 0:null }) }}" class="element-offer-list btn btn-primary element-offer-list global-a not-validated">
                {% if validated is not null %}
                    Montrer toute les offres active
                {% else %}
                    Offre non validé
                {% endif %}
            </a>
        </div>

        <table class="table table-bordered table-striped well">
            <thead>
            <tr>
                <th>Date</th>
                <th>ID</th>
                <th>Titre</th>
                <th>Société</th>
                <th>Action(s)</th>
            </tr>
            </thead>

            <tbody id="table-candidate">
            {% for offer in offers %}
                {% if active %}
                    {%  set condition = offer.isActive %}
                {% else %}
                    {%  set condition = 1 %}
                {% endif %}
                {% if condition %}
                <tr class="{% if offer.archived %}archived-offer{% endif %} {% if offer.validated is null %}offer-not-validated{% elseif offer.validated %}offer-validated{% else %}offer-invalid{% endif %}">
                    <td>{{ offer.creationDate|date('d/m/Y') }}</td>
                    <td class="offer-id">{{ offer.id }}</td>
                    <td>
                        <a target="_blank" href="{{ path('show_offer', { 'id': offer.id, 'url':'' }) }}" class="offer-name">
                            {{ offer.title }}
                        </a>
                    </td>
                    <td>{{ offer.employer.name }}</td>
                    <td>
                        {% if offer.validated is null or offer.validated == false %}
                            <a class="btn btn-success" href="{{ path('change_validation_status', {'id':offer.id, 'status':1}) }}">Valid</a>
                        {% endif %}
                        {% if offer.validated is null or offer.validated %}
                            <button class="modal-open-invalid btn btn-danger" data-id="{{ offer.id }}">
                                Invalid
                            </button>
                        {% endif %}
                        <div class="btn-group dropup">
                            <button type="button" class="element-offer-list btn btn-primary element-offer-list toggle-buttons dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-pencil-alt"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right offers-button-menu">
                                <li>
                                    <a href="{{ path('edit_offer', { 'id': offer.id }) }}" class="btn btn-primary">
                                        Editer
                                    </a>
                                </li>
                               <li>
                                   <button class="modal-open btn btn-danger" data-href="{{ path('delete_offer', { 'id': offer.id }) }}">
                                       Archiver/unarchive
                                   </button>
                               </li>
                                <li>
                                    <button class="modal-open btn btn-danger" data-href="{{ path('erase_offer', { 'id': offer.id }) }}">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Etes vous sûre de vouloir archiver/désarchiver cette offre ?</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="invalid-modal">
            <div class="modal-dialog modal-bg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pourquoi cette offre n'est elle pas valide ?</h4>
                    </div>
                    <form method="post" action="{{ path('change_validation_status') }}" id="search-offer-homepage">
                        <input id="invalid-offer-id" type="hidden" name="id">
                        <input id="invalid-offer-id" type="hidden" name="status" value="0">
                        <textarea title="message" style="width: 100%;" name="message"></textarea>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="submit">
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function showEmployer() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput-offer");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-candidate");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("offer-name")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
            function showOffer() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput-id");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-candidate");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("offer-id")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });
            $(".modal-open-invalid").on("click", function(e){
                $('#invalid-offer-id').val($(this).data('id'));
                $("#invalid-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>
        <style>
            .offer-not-validated{
                background-color: #ffa500b5 !important;
            }
            .not-validated{
                background-color: #ffa500b5 !important;
                color: black;
            }
            .offer-validated{
                background-color: #2fa551b5 !important;
            }
            .offer-invalid{
                background-color: #c74646b5 !important;
            }
            #myInput-id{
                background-position: 10px 12px;
                background-repeat: no-repeat;
                width: 10%;
                font-size: 16px;
                padding: 12px 20px 12px 13px;
                border: 1px solid #ddd;
                margin-left: 10px;
            }
        </style>
    </div>
{%  endblock %}