{% extends "AppBundle::layout.html.twig" %}

{% block title %}
   Liste des employeurs - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('dashboard_admin') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.pro.return' | trans }}</a>
    {% endif %}
    <div class="container">
        <div class="container-button-offers">
            <a href="{{ path('list_pro_admin', {'validated':  validated is null ? 1:null }) }}" class="element-offer-list btn btn-primary element-offer-list global-a not-validated">
                {% if validated is not null %}
                    {{ 'admin.offerList.showActive' | trans }}
                {% else %}
                    {{ 'admin.offerList.showNotValidated' | trans }}
                {% endif %}
            </a>
        </div>

        <h2>{{ 'admin.dashboard.proList' | trans }}</h2>

        <input type="text" id="myInput" onkeyup="showPro()" placeholder="{{ 'admin.enterCompnay'|trans }}" title="Type in a name" class="search-pro">

        <table class="table table-bordered table-striped well">
            <thead>
                <tr>
                    <th>{{ 'form.offer.search.proPH' | trans }}</th>
                    <th>{{ 'form.registration.email' | trans }}</th>
                    <th>{{ 'dashboard.action' | trans }}</th>
                </tr>
            </thead>

            <tbody id="table-pro">
                {% for pro in pros %}
                    <tr class="{% if pro.pro.phone is null %}archived-offer{% endif %} {% if pro.pro.validated is null %}offer-not-validated{% elseif pro.pro.validated %}offer-validated{% else %}offer-invalid{% endif %}">
                        <td>
                            <a class="pro-title" href="{{ path('pro_offers', { 'id': pro.pro.id }) }}">
                                {{ pro.pro.name }}
                            </a>
                        </td>
                        <td>{{ pro.email }}</td>

                        <td>
                            {% if pro.pro.validated is null or pro.pro.validated == false %}
                                <a class="btn btn-success" href="{{ path('change_validation_status', {'id':pro.pro.id, 'status':1}) }}">{{ 'admin.offerList.valid'|trans }}</a>
                            {% endif %}
                            {% if pro.pro.validated is null or pro.pro.validated %}
                                <button class="modal-open-invalid btn btn-danger" data-id="{{ pro.pro.id }}">
                                    {{ 'admin.offerList.invalid'|trans }}
                                </button>
                            {% endif %}
                            <a class="btn btn-primary" href="{{ path('edit_pro', { 'id': pro.pro.id }) }}">
                                {{ 'dashboard.pro.editOffer' | trans }}
                            </a>
                            <button class="modal-open btn btn-danger" data-href="{{ path('delete_pro', { 'id': pro.pro.id }) }}">
                                {{ 'delete' | trans }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <div id="paginator-offer">
            <a href="{{ path('list_pro_admin', {'row':(page == 1?page:page-1)}) }}">&laquo;</a>
            {% for i in 1..total %}
                <a class="offer-page-link {% if i == page %}selected-page{% endif %}" href="{{ path('list_pro_admin', {'row':i}) }}">{{ i }}</a>
            {% endfor %}
            <a href="{{ path('list_pro_admin', {'row':(page == total?page:page+1)}) }}">&raquo;</a>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'admin.surePro'|trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="invalid-modal">
            <div class="modal-dialog modal-bg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'admin.offerList.whyInvalid'|trans }}</h4>
                    </div>
                    <form method="post" action="{{ path('change_validation_status') }}" id="search-offer-homepage">
                        <input id="invalid-offer-id" type="hidden" name="id">
                        <input id="invalid-offer-id" type="hidden" name="status" value="0">
                        <textarea title="message" style="width: 100%;" name="message"></textarea>

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="{{ 'email.send'|trans }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function showPro() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-pro");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("pro-title")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
            $(".modal-open-invalid").on("click", function(e){
                $('#invalid-offer-id').val($(this).data('id'));
                $("#invalid-modal").modal('show');
            });
        </script>
        <style>
            .offer-not-validated{
                background-color: #ffa500b5 !important;
            }
            .not-validated, .total-not-validated{
                background-color: #ffa500b5 !important;
                color: black;
            }
            .offer-validated{
                background-color: #2fa551b5 !important;
            }
            .offer-invalid{
                background-color: #c74646b5 !important;
            }
        </style>
    </div>
{%  endblock %}