{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Liste des candidats - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('dashboard_admin') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="container">

        <h2>{{ 'admin.dashboard.candidateList' | trans }}</h2>

        <input type="text" id="myInput" onkeyup="showEmployer()" placeholder="{{ 'admin.enterMail'|trans }}" title="Type in a name" class="search-employer">

        <table class="table table-bordered table-striped well">
            <thead>
                <tr>
                    <th>{{ 'dashboard.candidate.name' | trans }}</th>
                    <th>{{ 'form.registration.email' | trans }}</th>
                    <th>{{ 'dashboard.action' | trans }}</th>
                </tr>
            </thead>

            <tbody id="table-candidate">
                {% for candidate in candidates %}
                    <tr>
                        <td>
                            <a href="{{ path('dashboard_candidate', { 'id': candidate.id }) }}">
                                {{ candidate.user.firstName }} {{ candidate.user.lastName }}
                            </a>
                        </td>
                        <td class="candidate-mail">{{ candidate.user.email }}</td>
                        <td>
                            <a href="{{ path('edit_candidate', { 'id': candidate.id }) }}">
                                <button type="button" class="btn btn-primary">{{ 'dashboard.employer.editOffer' | trans }}</button>
                            </a>
                            <button class="modal-open btn btn-danger" data-href="{{ path('delete_candidate', { 'id': candidate.id }) }}">
                                {{ 'delete' | trans }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <div id="paginator-offer">
            <a href="{{ path('list_candidate_admin', {'row':(page == 1?page:page-1)}) }}">&laquo;</a>
            {% for i in 1..total %}
                <a class="offer-page-link {% if i == page %}selected-page{% endif %}" href="{{ path('list_candidate_admin', {'row':i}) }}">{{ i }}</a>
            {% endfor %}
            <a href="{{ path('list_candidate_admin', {'row':(page == total?page:page+1)}) }}">&raquo;</a>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'admin.sureCandidate'|trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function showEmployer() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-candidate");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("candidate-mail")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>
{%  endblock %}