{% extends "AppBundle::layout.html.twig" %}

{% block title %}
   Liste des employeurs - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

        <h2> Liste des employeurs </h2>

        <input type="text" id="myInput" onkeyup="showEmployer()" placeholder="Search for names.." title="Type in a name" class="search-employer">

        <table class="table table-bordered table-striped well">
            <thead>
                <tr>
                    <th>Société</th>
                    <th>Email</th>
                    <th>Crédits</th>
                    <th>Addresse</th>
                    <th>Action(s)</th>
                </tr>
            </thead>

            <tbody id="table-employer">
                {% for employer in employers %}
                    <tr>
                        <td>
                            <a class="employer-title" href="{{ path('employer_offers', { 'id': employer.employer.id }) }}">
                                {{ employer.employer.name }}
                            </a>
                        </td>
                        <td>{{ employer.email }}</td>

                        <td>{{ employer.employer.credit }}</td>
                        <td>{{ employer.employer.location }}</td>
                        <td>
                            <a href="{{ path('edit_employer', { 'id': employer.employer.id }) }}">
                                <button type="button" class="btn btn-primary">Editer</button>
                            </a>
                            <button class="modal-open btn btn-danger" data-href="{{ path('delete_employer', { 'id': employer.employer.id }) }}">
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Etes vous sûre de vouloir effacer cette employeur ?</h4>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function showEmployer() {
                let input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("table-employer");
                a = ul.getElementsByTagName("tr");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                for (i = 0; i < a.length; i++) {
                    let h = a[i].getElementsByClassName("employer-title")[0];
                    if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";

                    }
                }
            }
        </script>
        <script>
            $(".modal-open").on("click", function(e){
                $('#modal-btn-yes').attr("href", $(this).data('href'));
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>
{%  endblock %}