{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}
    <div class="container jobnow-container">
        <div class="candidate-content">
            <div>
                <h3>{{ 'offer.candidatesList' | trans }}</h3>
                <h3><a href="{{ path('show_offer', {'id':offer.id, 'url':offer.offerUrl}) }}">{{ offer.title }}</a></h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">nom</th>
                        <th scope="col">mail</th>
                        <th scope="col">date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for postulated in postulatedOffers %}
                        <tr>
                            <td><a href="{{ path('show_candidate', {'id':postulated.candidate.id}) }}">{{ postulated.candidate.user.firstname }} {{ postulated.candidate.user.lastName }}</a></td>
                            <td>{{ postulated.candidate.user.email }}</td>
                            <td>{{ postulated.date|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}