{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <script>

        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("span")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>

    <div class="container">

        <h3>{{ 'dashboard.title' | trans }}</h3>

        <h4>{{ 'employer.credit.have'|trans({'%credit%': employer.credit}) }}</h4>
        <a href="{{ path('jobnow_credit') }}" class="btn btn-primary">{{ 'employer.credit.buy' | trans }}</a>
        <br>
        <br>

        <div class="shadow-box">
            <h4>Slot</h4>
            <div>Les slots vous permettent de mettre en ligne une offre de votre choix, modifiable a volonté, en ligne pendant un ans.</div>
            {% if slots is defined and slots|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Offer</th>
                        <th scope="col">end date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in 1..slots|length %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            {% if slots[i-1].offer is not null %}
                                <td>{{ slots[i-1].offer.title }}</td>
                            {% else %}
                                <td>Empty offer</td>
                            {% endif %}
                            <td>{{ slots[i-1].endDate|date("d/m/Y") }}</td>
                            <td><a href="{{ path('empty_slot', {'id':slots[i-1].id}) }}" class="btn btn-primary element-offer-list">{{ 'slot.remove.title' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <button class="btn btn-primary modal-open"  data-trad="{{ 'slot.buy.sure'|trans({'%credit%': buySlot}) }}"  data-href="{{ path('buy_slot') }}">{{ 'slot.buy.title' | trans }}</button>

        </div>

        <a href="{{ path('featured_offer_page') }}" class="btn btn-primary element-offer-list">{{ 'featured.offer.title' | trans }}</a>
        <a href="{{ path('featured_employer_page') }}" class="btn btn-primary element-offer-list">{{ 'featured.employer.title' | trans }}</a>

        <button class="btn btn-primary element-offer-list  modal-open" data-trad="{{ 'offer.boost.sure'|trans({'%credit%': boostOffers}) }}" data-href="{{ path('boost_offers') }}">{{ 'dashboard.employer.boostOffers' | trans }}</button>
        <br><br>
        <div class="shadow-box">
            <h3>{{ 'dashboard.employer.myOffers' | trans }}</h3>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="{{ 'dashboard.employer.searchTitle' | trans }}" title="{{ 'dashboard.employer.typeTitle' | trans }}">

            <ul id="myUL">
                {% for offer in offers %}
                    <li>
                        <div class='offer-element-dashboard {% if offer.archived %}archived-offer{% endif %}'>
                            <span>{{ offer.title |truncate(33, true)}}</span>
                            {% if offer.archived %}
                                <button class="btn btn-danger element-offer-list archived-button unarchived" data-href="{{ path('delete_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.unarchiveOffer' | trans }}</button>
                            {% else %}
                                <button class="btn btn-danger element-offer-list archived-button modal-open" data-trad="{{ 'offer.delete.sure'|trans }}" data-href="{{ path('delete_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.archiveOffer' | trans }}</button>
                            {% endif %}
                            <a href="{{ path('edit_offer', {'id': offer.id }) }}" class="btn btn-primary element-offer-list">{{ 'dashboard.employer.editOffer' | trans }}</a>
                            <div class="element-offer-list">
                                {% if offer.archived %}
                                    <span class="element-offer-list archived-info">{{ 'offer.archived' | trans }}</span>
                                {% else %}
                                    {% if date(offer.endDate) > date() %}
                                        <span class="element-offer-list count-info end-date-activation">{{ 'offer.endDate' | trans }} {{ offer.endDate|date("m/d/Y")}}</span>
                                    {% else %}
                                        <button style="min-width: 158px;" class="btn btn-primary element-offer-list  modal-open" data-trad="{{ 'offer.activate.sure'|trans({'%credit%': publishedOffer}) }}" data-href="{{ path('activate_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.activateOffer' | trans }}</button>
                                    {% endif %}
                                    {% if offer.slot is null  %}
                                        <a class="btn btn-primary element-offer-list slot-button" href="{{ path('add_to_slot', {'id': offer.id }) }}">{{ 'slot.add.title' | trans }}</a>
                                    {% else %}
                                        <a class="btn btn-primary element-offer-list slot-button" href="{{ path('remove_from_slot', {'id': offer.id }) }}">{{ 'slot.remove.title' | trans }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <span class="element-offer-list count-info"><i class="fas fa-eye"></i>{{ offer.countView}}</span>
                            <span class="element-offer-list count-info">{{ 'offer.countContact' | trans }} {{ offer.countContact}}</span>
                            <div id="collapse{{ offer.id }}" class="collapse-offer-info">
                                <div class="description-offer-dashboard">
                                    Description:
                                    <div>{{ offer.description }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('dashboard_employer', {'archived':   app.request.get('archived') ? 0:1 }) }}" class="btn btn-primary element-offer-list show-archived">
                {% if app.request.get('archived') %}
                    {{ 'dashboard.employer.hideArchived' | trans }}
                {% else %}
                    {{ 'dashboard.employer.showArchived' | trans }}
                {% endif %}
            </a>
            <br>
            <br>
        </div>


            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-dashboard">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                            <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(".offer-element").click(function() {
                    $(this).children(".collapse-offer-info").slideToggle("medium");
                });

                $(".unarchived").click(function() {
                    window.location.replace($(this).data('href'));
                });

                $(".modal-open").on("click", function(e){
                    $('#modal-btn-yes').attr("href", $(this).data('href'));
                    console.log($(this).data('trad'));
                    $('#myModalLabel').html($(this).data('trad'));
                    $("#modal-dashboard").modal('show');
                });

                $(".modal-btn-no").on("click", function(){
                    $(".modal").modal('hide');
                });

            </script>

    </div>

{% endblock %}