{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <div class="container">
        Featured Offer
        <table>
            {% set firstWeekStart = '2017-01-01 00:00' %}
            {% set modify = 0 %}
            {% for i in 1..12 %}

                <tr>
                    <td>
                        <div><b>semaine {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}
                        {% if (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]))%}<button class="btn btn-primary element-offer-list reserve-featured-offer" data-list="{% if featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined%}{{ featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] |json_encode() }}{% endif %}" data-date="{{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}" data-href="{{ path('reserve_featured_offer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        <div><b>semaine {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+"~  modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]))%}<button class="btn btn-primary element-offer-list reserve-featured-offer" data-list="{% if featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined%}{{ featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] |json_encode() }}{% endif %}" data-date="{{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}" data-href="{{ path('reserve_featured_offer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        <div><b>semaine {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+"~ modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]))%}<button class="btn btn-primary element-offer-list reserve-featured-offer" data-list="{% if featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined%}{{ featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] |json_encode() }}{% endif %}" data-date="{{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}" data-href="{{ path('reserve_featured_offer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        <div><b>semaine {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+" ~ modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]))%}<button class="btn btn-primary element-offer-list reserve-featured-offer" data-list="{% if featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined%}{{ featuredOfferArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] |json_encode() }}{% endif %}" data-date="{{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}" data-href="{{ path('reserve_featured_employer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-featured">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'offer.boost.sure'|trans({'%credit%': featuredOfferCredit}) }}</h4>
                </div>
                <select id="featured-offer-id" name="offer">
                        <option value="0">select a value</option>
                    {% for offer in offers %}
                        <option value="{{ offer.id }}">{{ offer.title }}</option>
                    {% endfor %}
                </select>
                <div class="modal-footer">
                    <input hidden id="hide-href">
                    <a type="button" class="btn btn-default" id="modal-btn-yes-reserve-featured-offer">{{ 'yes'|trans }}</a>
                    <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".reserve-featured-offer").on("click", function(){
            $('#hide-href').val($(this).data('href'));
            $('#modal-btn-yes-reserve-featured-offer').attr("href", $(this).data('href')+ '&offerId='+$('#featured-offer-id').val());
            $("#featured-offer-id").children().removeAttr('disabled');
            if ($(this).is('[data-list]')) {
                let i;
                for (i = 0; i < $(this).data('list').length; i++) {
                    $("#featured-offer-id option[value=" + $(this).data('list')[i] + "]").attr("disabled","disabled");
                }
            }
            $("#modal-featured").modal('show');
        });

        $("#featured-offer-id").on("change", function(){
            $('#modal-btn-yes-reserve-featured-offer').attr("href", $('#hide-href').val() + '&offerId='+$('#featured-offer-id').val());

        });

        $(".modal-btn-no").on("click", function(){
            $(".modal").modal('hide');
        });

    </script>


{% endblock %}