{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            position: relative;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="container">
        <h1>{{ 'featured.employer.title' | trans }}</h1>
        <table>
            {% set firstWeekStart = '2018-01-01 00:00' %}
            {% set modify = 0 %}
            {% for i in 1..13 %}

                <tr>
                    <td>
                        {% if now > firstWeekStart|date_modify("+" ~ modify ~ "week")%}
                            <div class="layer layer-offer-element"></div>
                        {% endif %}
                        <div><b>{{ 'featured.week'|trans }} {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y") }}
                        {% if (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']))%}<button class="btn btn-primary element-offer-list reserve-featured-employer" data-href="{{ path('reserve_featured_employer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id'] is defined and user.employer.id in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']) %}<div><button type="button" class="btn btn-success">{{ 'featured.reserved'|trans }}</button></div>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined and (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
                            {% for employer in featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['featured'] %}
                                <div>
                                {{ employer.employer.name }}
                                <a href="{{ path('delete_featured_employer', { 'id': employer.id }) }}">
                                    <button type="button" class="btn btn-danger">{{ 'delete'|trans }}</button>
                                </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        {% if now > firstWeekStart|date_modify("+" ~ modify ~ "week")%}
                            <div class="layer layer-offer-element"></div>
                        {% endif %}
                        <div><b>{{ 'featured.week'|trans }} {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+"~  modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']))%}<button class="btn btn-primary element-offer-list reserve-featured-employer" data-href="{{ path('reserve_featured_employer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id'] is defined and user.employer.id in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']) %}<span class="count-info reserved-employer">{{ 'featured.reserved'|trans }}</span>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined and (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
                            {% for employer in featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['featured'] %}
                                <div>
                                    {{ employer.employer.name }}
                                    <a href="{{ path('delete_featured_employer', { 'id': employer.id }) }}">
                                        <button type="button" class="btn btn-danger">{{ 'delete'|trans }}</button>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        {% if now > firstWeekStart|date_modify("+" ~ modify ~ "week")%}
                            <div class="layer layer-offer-element"></div>
                        {% endif %}
                        <div><b>{{ 'featured.week'|trans }} {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+"~ modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']))%}<button class="btn btn-primary element-offer-list reserve-featured-employer" data-href="{{ path('reserve_featured_employer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id'] is defined and user.employer.id in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']) %}<div><button type="button" class="btn btn-success">{{ 'featured.reserved'|trans }}</button></div>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined and (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
                            {% for employer in featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['featured'] %}
                                <div>
                                    {{ employer.employer.name }}
                                    <a href="{{ path('delete_featured_employer', { 'id': employer.id }) }}">
                                        <button type="button" class="btn btn-danger">{{ 'delete'|trans }}</button>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                    <td>
                        {% if now > firstWeekStart|date_modify("+" ~ modify ~ "week")%}
                            <div class="layer layer-offer-element"></div>
                        {% endif %}
                        <div><b>{{ 'featured.week'|trans }} {{ modify + 1 }}</b></div>
                        {{ firstWeekStart|date_modify("+" ~ modify  ~"week")|date("d/m/Y") }}
                        {% if (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is not defined or (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]|length < 3) and user.employer.id not in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']))%}<button class="btn btn-primary element-offer-list reserve-featured-employer" data-href="{{ path('reserve_featured_employer', {'date':firstWeekStart|date_modify("+" ~ modify ~ "week"), 'user':user.id}) }}">{{ 'featured.employer.reserve' | trans }}</button>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id'] is defined and user.employer.id in (featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['id']) %}<div><button type="button" class="btn btn-success">{{ 'featured.reserved'|trans }}</button></div>{% endif %}
                        {% if featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")] is defined and (app.user.roles is defined) and ('ROLE_ADMIN' in app.user.roles) %}
                            {% for employer in featuredEmployerArray[firstWeekStart|date_modify("+" ~ modify ~ "week")|date("d/m/Y")]['featured'] %}
                                <div>
                                    {{ employer.employer.name }}
                                    <a href="{{ path('delete_featured_employer', { 'id': employer.id }) }}">
                                        <button type="button" class="btn btn-danger">{{ 'delete'|trans }}</button>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% set modify = modify+ 1  %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-featured">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'featured.employer.modal'|trans({'%credit%': featuredEmployerCredit}) }}</h4>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" id="modal-btn-yes-reserve-featured-employer">{{ 'yes'|trans }}</a>
                    <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".reserve-featured-employer").on("click", function(e){
            $('#modal-btn-yes-reserve-featured-employer').attr("href", $(this).data('href'));
            $("#modal-featured").modal('show');
        });

        $(".modal-btn-no").on("click", function(){
            $(".modal").modal('hide');
        });

    </script>


{% endblock %}