{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'dashboard.employer.myOffers' | trans }}
{% endblock %}

{% block body %}
    <script>

        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput-offer");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("tr");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("offer-title-link")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
        function showOffer() {
            let input, filter, ul, li, a, i;
            input = document.getElementById("myInput-id");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            a = ul.getElementsByTagName("tr");
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            for (i = 0; i < a.length; i++) {
                let h = a[i].getElementsByClassName("offer-id")[0];
                if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";

                }
            }
        }
    </script>

    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="container">

        <div class="shadow-box">
            <h4>{{ 'dashboard.employer.slot.title'|trans }}</h4>
            <div>{{ 'dashboard.employer.slot.use'|trans }}</div>
            {% if slots is defined and slots|length > 0 %}

                <table class="table slot-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'dashboard.employer.slot.offer'|trans }}</th>
                            <th scope="col">{{ 'dashboard.employer.slot.endDate'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in 1..slots|length %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            {% if slots[i-1].offer is not null %}
                                <td>{{ slots[i-1].offer.title }}<a href="{{ path('empty_slot', {'id':slots[i-1].id}) }}" class="btn btn-primary element-offer-list">{{ 'slot.remove.title' | trans }}</a></td>
                            {% else %}
                                <td>{{ 'dashboard.employer.slot.empty'|trans }}</td>
                            {% endif %}
                            <td>{{ slots[i-1].endDate|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <button class="btn btn-primary modal-open"  data-trad="{{ 'slot.buy.sure'|trans({'%credit%': buySlot}) }}"  data-href="{{ path('buy_slot') }}">{{ 'slot.buy.title' | trans }}</button>

        </div>

        <span class="dashboard-total-offer"><div>{{ 'dashboard.employer.totalOnline'|trans }} {{ countActiveOffer }} </div><div>{{ 'dashboard.employer.totalInSlot'|trans }} {{ countOfferInSlot }}</div></span>

        <button class="boost-button btn btn-primary element-offer-list  modal-open" data-trad="{{ 'offer.boost.sure'|trans({'%credit%': boostOffers}) }}" data-href="{{ path('boost_offers') }}">{{ 'dashboard.employer.boostOffers' | trans }}</button>
        <br><br>
        <div class="shadow-box">
            <h3>{{ 'dashboard.employer.myOffers' | trans }}</h3>

            <style>

                @media screen and (max-device-width: 480px)  {
                    .container-button-offers{
                        display: grid !important;
                    }
                    .element-offer-list{
                        float: none !important;
                    }
                    /* Force table to not be like tables anymore */
                    table, thead, tbody, th, td, tr {
                        display: block;
                    }

                    /* Hide table headers (but not display: none;, for accessibility) */
                    thead tr {
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                    }

                    tr { border: 1px solid #ccc; }

                    td {
                        /* Behave  like a "row" */
                        border: none;
                        border-bottom: 1px solid #eee;
                        position: relative;
                        padding-left: 50% !important;
                    }

                    td:before {
                        /* Now like a table header */
                        position: absolute;
                        /* Top/left values mimic padding */
                        top: 6px;
                        left: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }

                    /*
                    Label the data
                    */
                    .offers-table td:nth-of-type(1):before { content: "{{ 'offer.title'|trans }}"; }
                    .offers-table td:nth-of-type(2):before { content: "{{ 'dashboard.view'|trans }}"; }
                    .offers-table td:nth-of-type(3):before { content: "{{ 'dashboard.applied'|trans }}"; }
                    .offers-table td:nth-of-type(4):before { content: "{{ 'dashboard.employer.slot.endDate'|trans }}"; }
                    .offers-table td:nth-of-type(5):before { content: "{{ 'dashboard.action'|trans }}"; }


                    .slot-table td:nth-of-type(0):before { content: "#"; }
                    .slot-table td:nth-of-type(1):before { content: "{{ 'dashboard.employer.slot.offer'|trans }}"; }
                    .slot-table td:nth-of-type(2):before { content: "{{ 'dashboard.employer.slot.endDate'|trans }}"; }
                }
            </style>

            <div class="container-button-offers">
                <input type="text" id="myInput-offer" onkeyup="myFunction()" placeholder="{{ 'dashboard.employer.searchTitle' | trans }}" title="{{ 'dashboard.employer.typeTitle' | trans }}">
                <input type="text" id="myInput-id" onkeyup="showOffer()" placeholder="Id" title="Type in a id" class="search-employer">
                {% if app.request.get('archived') %}
                    <button disabled class="global-a btn btn-danger element-offer-list archived-button unarchived" data-global="1" data-href="{{ path('delete_offer') }}">{{ 'dashboard.employer.unarchiveOffer' | trans }}</button>
                {% else %}
                    <button disabled class="global-modal btn btn-danger element-offer-list archived-button modal-open" data-global="1" data-trad="{{ 'offer.delete.sure'|trans }} " data-href="{{ path('delete_offer') }}">{{ 'dashboard.employer.archiveOffer' | trans }}</button>
                {% endif %}
                <button disabled style="min-width: 158px;" class="global-activate btn btn-primary element-offer-list modal-open" data-global="1" data-href="{{ path('activate_offer') }}" data-price="1" data-trad="{{ 'offer.activate.sureMultiple'|trans}}">{{ 'dashboard.employer.activateOffer' | trans }}</button>
                {#<button disabled class="global-a btn btn-primary element-offer-list slot-button" data-href="{{ path('add_to_slot') }}">{{ 'slot.add.title' | trans }}</button>#}
            </div>
            <table class="table offers-table">
                <thead>
                <tr>
                    <th scope="col"><input class="checkbox-myOffers-global" type="checkbox"/></th>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'offer.title'|trans }}</th>
                    <th scope="col"><i class="fas fa-eye"></i></th>
                    <th scope="col"><i class="fas fa-envelope"></i></th>
                    <th scope="col">{{ 'dashboard.employer.slot.endDate'|trans }}</th>
                    <th scope="col">{{ 'dashboard.action'|trans }}</th>
                </tr>
                </thead>
            <tbody id="myUL">
                {% for offer in offers %}
                        <tr class='offer-element-dashboard {% if offer.archived %}archived-offer{% endif %}'>
                            <th><input class="checkbox-myOffers {% if offer.isActive() == false %}not-active{% endif %}" type="checkbox" id="{{ offer.id }}"/></th>
                            <th class="offer-id">{{ offer.id }}</th>
                            <td><a target="_blank" class="offer-title-link" href="{{ path('show_offer', {'id': offer.id, 'url':offer.offerUrl}) }}">{{ offer.title |truncate(33, true)}}</a></td>
                            <td>{{ offer.countView}}</td>
                            <td><a data-toggle="tooltip" title="{{ 'dashboard.viewCandidate'|trans }}" href="{{ path('applied_candidate_page', {'id': offer.id}) }}" class="btn btn-primary">{{ offer.countContact}}</a></td>

                            <td>
                                {% if offer.archived %}
                                    {{ 'offer.archived' | trans }}
                                {% else %}
                                    {% if date(offer.endDate) > date() %}
                                        {{ offer.endDate|date("d/m/Y")}}
                                    {% elseif offer.slot is not null %}
                                        {{ 'offer.inSlot' | trans }}
                                    {% else %}
                                        {{ 'dashboard.not'|trans }}
                                    {% endif %}
                                {% endif %}
                            </td>
                           <td>
                                <div class="btn-group dropup">
                                    <button type="button" class="element-offer-list btn btn-primary element-offer-list toggle-buttons dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-pencil-alt"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right offers-button-menu">
                                        <li><a href="{{ path('edit_offer', {'id': offer.id }) }}" class="btn btn-primary element-offer-list">{{ 'dashboard.employer.editOffer'|trans }}</a></li>
                                        {% if offer.archived %}
                                            <li><button class="btn btn-danger element-offer-list archived-button unarchived" data-href="{{ path('delete_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.unarchiveOffer' | trans }}</button></li>
                                        {% else %}
                                            <li><button class="btn btn-danger element-offer-list archived-button modal-open" data-trad="{{ 'offer.delete.sure'|trans }}" data-href="{{ path('delete_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.archiveOffer' | trans }}</button></li>

                                            <li><button {% if offer.slot is not null %}disabled{% endif %} class="btn btn-primary element-offer-list  modal-open" data-trad="{{ 'offer.activate.sure'|trans({'%credit%': publishedOffer}) }}" data-href="{{ path('activate_offer', {'id': offer.id }) }}">{{ 'dashboard.employer.activateOffer' | trans }}</button></li>

                                            {% if offer.slot is not null or offer.isactive == false %}
                                                {% if offer.slot is null  %}
                                                    <li><a class="btn btn-primary element-offer-list slot-button" href="{{ path('add_to_slot', {'id': offer.id }) }}">{{ 'slot.add.title' | trans }}</a></li>
                                                {% else %}
                                                    <li><a class="btn btn-primary element-offer-list slot-button" href="{{ path('remove_from_slot', {'id': offer.id }) }}">{{ 'slot.remove.title' | trans }}</a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('employer_offers', {'archived':   app.request.get('archived') ? 0:1 }) }}" class="btn btn-primary element-offer-list show-archived">
                {% if app.request.get('archived') %}
                    {{ 'dashboard.employer.hideArchived' | trans }}
                {% else %}
                    {{ 'dashboard.employer.showArchived' | trans }}
                {% endif %}
            </a>
            <br>
            <br>
        </div>


            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-dashboard">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                            <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-first-time">
                <div class="modal-dialog modal-tl user-guide-modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            {{ 'header.how'|trans }}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>

                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            {#<ol class="carousel-indicators">#}
                                {#<li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                                {#<li data-target="#myCarousel" data-slide-to="1"></li>#}
                                {#<li data-target="#myCarousel" data-slide-to="2"></li>#}
                            {#</ol>#}
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{{ asset('images/capture_activate.png') }}" alt="Los Angeles" style="width:100%;">
                                    <div class="fist-time-info">
                                        {{ 'offer.carousel.activate'|trans }}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            {#<a class="btn btn-default left" href="#myCarousel" data-slide="prev">#}
                                {#<span class="glyphicon glyphicon-chevron-left"></span>#}
                                {#<span class="sr-only">Previous</span>#}
                            {#</a>#}
                            {#<a class="btn btn-default right" href="#myCarousel" data-slide="next">#}
                                {#<span class="glyphicon glyphicon-chevron-right"></span>#}
                                {#<span class="sr-only">Next</span>#}
                            {#</a>#}
                            <button type="button" class="btn btn-primary modal-btn-no">{{ 'offer.apply.close'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#myCarousel').carousel({
                    interval: false
                });
                $(document).ready(function() {
                    if (localStorage.getItem('firstTimeState') != 'shown') {
                        $("#modal-first-time").modal('show');
                        localStorage.setItem('firstTimeState','shown')
                    }
                });

                $(".offer-element").click(function() {
                    $(this).children(".collapse-offer-info").slideToggle("medium");
                });

                $(".unarchived").click(function() {
                    window.location.replace($(this).data('href'));
                });

                $(".modal-open").on("click", function(e){
                    $('#modal-btn-yes').attr("href", $(this).data('href'));
                    $('#modal-btn-yes').attr("data-global", $(this).data('global'));
                    let trad = $(this).data('trad');
                    if($(this).data('price') == "1"){
                        // let notActive = 0;
                        // $('.checkbox-myOffers:checkbox:checked').each(function () {
                        //     notActive += $(this).hasClass('not-active')?1:0;
                        // });
                        trad = $(this).data('trad').replace('%credit%', $('.checkbox-myOffers:checkbox:checked').length * {{ publishedOffer }});
                    }

                    $('#myModalLabel').html(trad);
                    $("#modal-dashboard").modal('show');
                });

                $(".modal-btn-no").on("click", function(){
                    $(".modal").modal('hide');
                });

                $("#modal-btn-yes").on("click", function(e){
                    if($(this).data('global') == '1'){
                        e.preventDefault();
                        globalAction($(this).attr('href'))
                    }
                });

                $(".global-a").on("click", function(e){
                    e.preventDefault();
                    let url = $(this).data('href');
                    globalAction(url);
                });

                function globalAction(url) {
                    let id = Array();
                    $('.checkbox-myOffers:checkbox:checked').each(function (i) {
                        id.push($(this).attr("id"));
                    });
                    $.ajax({
                        url: url,
                        data: {id:id,ajax:true}
                    }).done(function( urlFromController ) {
                        window.location.href = urlFromController;
                    });
                }


                $(".checkbox-myOffers-global").on("change", function(e){
                    if($(this).prop("checked") == true){
                        $(".checkbox-myOffers").prop("checked", true);
                    }else{
                        $(".checkbox-myOffers").prop("checked", false);
                    }
                });

                $(".checkbox-myOffers-global,.checkbox-myOffers").on("change", function(e){
                    if($('.checkbox-myOffers:checkbox:checked').length == 0){
                        $('.global-modal, .global-a, .global-activate').prop("disabled",true);
                    }else{
                        // let notActive = 0;
                        // $('.checkbox-myOffers:checkbox:checked').each(function () {
                        //     notActive += $(this).hasClass('not-active')?1:0;
                        // });
                        //
                        // if(notActive>0){
                        //     $('.global-activate').prop("disabled",false);
                        // }else{
                        //     $('.global-activate').prop("disabled",true);
                        // }

                        $('.global-activate').prop("disabled",false);
                        $('.global-modal, .global-a').prop("disabled",false);
                    }
                });


            </script>

    </div>

{% endblock %}