{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'dashboard.title' | trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'dashboard.title' | trans }}</h2>
    </div>

    <div class="container rendezvous-container" style="text-align: center">

        <div class="dashboard-container">
            <div class="container-square">
                <a class="zoom block-dashboard square-profile" href="{{ path('show_pro', {'id':pro.id}) }}"><div class="content-square"><i class="fas fa-user"></i><div class="text-square">{{ 'dashboard.pro.watchProfile' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-offers" href="{{ path('manage_service') }}" ><div class="content-square"><i class="fas fa-list-ul"></i><div class="text-square">Mes service</div></div></a>
                <a class="zoom block-dashboard square-credit" href="{{ path('pro_offers') }}"><div class="content-square"><i class="fas fa-list-ul"></i><div class="text-square">{{ 'dashboard.pro.myOffers' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-offers" href="{{ path('featured_offer_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.offer.title' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-bills" href="{{ path('rendezvous_credit') }}"><div class="content-square"><i class="fas fa-shopping-cart"></i><div class="text-square">{{ 'pro.credit.buy' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-post" href="{{ path('rendezvous_bills') }}"><div class="content-square"><i class="fas fa-file"></i><div class="text-square">{{ 'dashboard.pro.myBills' | trans }}</div></div></a>
                <a class="zoom block-dashboard square-contact" href="{{ path('contact_us_page') }}"><div class="content-square"><i class="fas fa-headphones"></i><div class="text-square">{{ 'contact.us.pro'|trans }}</div></div></a>
                <a class="zoom block-dashboard square-featured-pros" href="{{ path('featured_pro_page') }}"><div class="content-square"><i class="far fa-calendar-alt"></i><div class="text-square">{{ 'featured.pro.title' | trans }}</div></div></a>
            </div>
        </div>

    </div>
    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/dashboard.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
    </style>

{% endblock %}