
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'footer.faq'|trans }}
{% endblock %}

{% block body %}


    <div class="container rendezvous-container">
        <div class="overlay">
            <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>

        <div class="schedule-action-container">
            <div class="select-collaborator-container">
                <select class="select2 select-collaborator" onchange="changeCollaborator(this)">
                    <option value="0" {% if  userId == 0%}selected{% endif %}>Global</option>
                    {% for collaborator in collaborators %}
                        <option value="{{ collaborator.id }}" {% if collaborator.id == userId %}selected{% endif %}>{{ collaborator.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="replicate-button btn btn-primary" onclick="replicateSchedule()">Répliquer a la semaine prochaine</button>
        </div>


        <script>
            $(document).ready(() => {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'agendaWeek, agendaDay',
                    },
                    slotLabelFormat: 'H:mm',
                    columnHeaderFormat: 'ddd D/M',
                    timezone: ('Europe/London'),
                    allDaySlot: false,
                    defaultView: 'agendaWeek',
                    lazyFetching: true,
                    firstDay: 1,
                    selectable: true,
                    editable: true,
                    maxTime: "22:00:00",
                    minTime: "06:00:00",
                    locale: '{{ app.request.locale }}',
                    eventDurationEditable: true,
                    events: {{ schedules|json_encode()|raw }},
                    eventRender: function(event, element) {
                        element.attr('title', event.tip);
                        element.prepend( "<span class='removebtn'>X</span>" );
                        element.find(".removebtn").click(function() {
                            var url = "{{ path('remove_schedule') }}";
                            $.ajax({
                                url: url,
                                data: {id:event.id}
                            });
                            $('#calendar').fullCalendar('removeEvents',event._id);
                        });
                    },
                    select: function(start, end, jsEvent, view) {
                        {% if  userId != 0%}
                            var newEvent = new Object();
                            newEvent.title = '{{ username }}';
                            newEvent.start = start;
                            newEvent.end = end;
                            start=start.format('Y-MM-DD HH:mm:ss');
                            end=end.format('Y-MM-DD HH:mm:ss');
                            url = "{{ path('save_schedule') }}";
                            $.ajax({
                                url: url,
                                data: {userId:{{ userId }},startDate:start, endDate:end}
                            }).done(function( data ) {
                                newEvent.id = data;
                            });

                            $('#calendar').fullCalendar('renderEvent', newEvent);
                        {% endif %}
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        var start = event.start.format('Y-MM-DD HH:mm:ss');
                        var end = event.end.format('Y-MM-DD HH:mm:ss');
                        var url = "{{ path('save_schedule') }}";
                        $.ajax({
                            url: url,
                            data: {id:event.id,startDate:start, endDate:end}
                        });
                    },
                    eventResize: function(event, delta, revertFunc) {
                        var start = event.start.format('Y-MM-DD HH:mm:ss');
                        var end = event.end.format('Y-MM-DD HH:mm:ss');
                        var url = "{{ path('save_schedule') }}";
                        $.ajax({
                            url: url,
                            data: {id:event.id,startDate:start, endDate:end}
                        });
                    }
                })
            });
            
            function changeCollaborator(select) {
                var url = '{{ path('manage_schedule') }}';
                url += '?userId='+select.value;
                document.location.href = url;
            }

            function replicateSchedule() {
                $(".overlay").css('display','flex');
                var url = "{{ path('replicate_schedule') }}";
                var start = $('#calendar').fullCalendar('getView').start.format('YYYY-MM-DD HH:mm:ss');
                var end = $('#calendar').fullCalendar('getView').end.format('YYYY-MM-DD HH:mm:ss');
                $.ajax({
                    url: url,
                    data: {userId:{{ userId }},startDate:start,endDate:end}
                }).done(function (data) {
                    document.location.href = data;
                });
            }
        </script>
        <div id='calendar'></div>
    </div>



    <style>
        .select-collaborator-container{
            width: 20%;
        }
        .schedule-action-container{
            display: flex;
        }
        .replicate-button{
            margin-left: 10px;
        }
        .fc-event .fc-bg {
            display: none !important;
        }
        .removebtn {
            color:black;
            position: absolute;
            top: 0;
            right: 0;
            width:13px;
            height: 13px;
            text-align:center;
            border-radius:50%;
            font-size: 10px;
            cursor: pointer;
            background-color: #FFF;
            z-index: 1000;
        }
        #calendar{
            margin-top: 10px;
        }
        .overlay {
            background: #352828;
            z-index: 200;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            align-items: center;
            justify-content: center;
        }
        .lds-default {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }
        .lds-default div {
            position: absolute;
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 50%;
            animation: lds-default 1.2s linear infinite;
        }
        .lds-default div:nth-child(1) {
            animation-delay: 0s;
            top: 29px;
            left: 53px;
        }
        .lds-default div:nth-child(2) {
            animation-delay: -0.1s;
            top: 18px;
            left: 50px;
        }
        .lds-default div:nth-child(3) {
            animation-delay: -0.2s;
            top: 9px;
            left: 41px;
        }
        .lds-default div:nth-child(4) {
            animation-delay: -0.3s;
            top: 6px;
            left: 29px;
        }
        .lds-default div:nth-child(5) {
            animation-delay: -0.4s;
            top: 9px;
            left: 18px;
        }
        .lds-default div:nth-child(6) {
            animation-delay: -0.5s;
            top: 18px;
            left: 9px;
        }
        .lds-default div:nth-child(7) {
            animation-delay: -0.6s;
            top: 29px;
            left: 6px;
        }
        .lds-default div:nth-child(8) {
            animation-delay: -0.7s;
            top: 41px;
            left: 9px;
        }
        .lds-default div:nth-child(9) {
            animation-delay: -0.8s;
            top: 50px;
            left: 18px;
        }
        .lds-default div:nth-child(10) {
            animation-delay: -0.9s;
            top: 53px;
            left: 29px;
        }
        .lds-default div:nth-child(11) {
            animation-delay: -1s;
            top: 50px;
            left: 41px;
        }
        .lds-default div:nth-child(12) {
            animation-delay: -1.1s;
            top: 41px;
            left: 50px;
        }
        @keyframes lds-default {
            0%, 20%, 80%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
        }
    </style>

{% endblock %}