{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Reservation
{% endblock %}

{% block body %}

    <div class="container rendezvous-container">

        <div class="title-pro">{{ pro.name }}</div>
        <div class="article-title">{{ pro.location }} {{ pro.zipcode }} {{ pro.city }}</div>
        <div class="shadow-box container-reservation-info">
            <div class="header-reservation-page">
                <div class="service-name">

                    {{ service.name }} - {% set hours = service.length // 60 %}
                    {% set minutes = service.length % 60 %}
                    {% if hours >= 1 %}
                        {{ hours }}h {{ minutes }}min
                    {% else %}
                        {{ minutes }}min
                    {% endif %} - {{ service.price }}€
                </div>
                <div class="select-collaborator-container other-service-info">
                    <select class="select2" title="" onchange="changeCollaborator(this)">
                        <option value="">Global</option>
                        {% for collaborator in collaborators %}
                            <option value="{{ collaborator.id }}" {% if collaboratorId == collaborator.id %}selected{% endif %}>{{ collaborator.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <a class="return-to-pro" href="{{ path('show_pro',{'id':pro.id}) }}"><i class="fas fa-times-circle"></i></a>
        </div>
        <div class="shadow-box container-reservation-field">
                {% set now = "now"|date %}
                {% set containerId = 1 %}
                {% if is_mobile() and not is_tablet() %}
                    {% set row = 3 %}
                {% else %}
                    {% set row = 7 %}
                {% endif %}
                {% for i in 0 .. numberOfDays %}
                    {% if i == 0 %}
                        <div class="service-reservation-info active" id="1">
                    {% endif %}
                    {% if i % row == 0 and i != 0 %}
                        {% set containerId = containerId + 1 %}
                        <span class="glyphicon glyphicon-chevron-right next-week"></span></div><div class="service-reservation-info" id="{{ containerId }}"><span class="glyphicon glyphicon-chevron-left precedent-week"></span>
                    {% endif %}
                    {% set givenDate = now|date_modify("+"~i ~"day") %}
                    <div class="reservation-of-day">
                        <div class="header-table-reservation-page">
                            <div>
                                {{ givenDate|date('l')|trans }}
                            </div>
                            <div>
                                {{ givenDate|date('d/m') }}
                            </div>

                        </div>
                        {% if collaboratorId is defined and collaboratorId != '' %}
                            {% set array = schedules[collaboratorId] %}
                            {% if array[givenDate|date('Y-m-d')] is defined %}
                                {% for dayDate in array[givenDate|date('Y-m-d')] %}
                                    {% set precondition = true %}
                                    {% for i in 0..10000 if precondition %}
                                        {% set givenDate = dayDate.startDate|date_modify("+"~i *30 ~"minute") %}
                                        {% set endOfPeriod = dayDate.endDate|date_modify("-"~ service.length ~"minute") %}
                                        {% set endgivenDate = givenDate|date_modify("+"~ service.length ~"minute") %}
                                        {% if givenDate >= endOfPeriod%}
                                            {% set precondition = false %}
                                        {% else %}
                                            <div  class="time-button-reservation-container">
                                                {% set busy = 0 %}
                                                {% if rendezvous[collaboratorId][givenDate|date('Y-m-d')] is defined %}
                                                    {% for busyTime in rendezvous[collaboratorId][givenDate|date('Y-m-d')] %}
                                                        {% if givenDate|date('H:i:s') <= busyTime.startDate|date('H:i:s') and endgivenDate|date('H:i:s') > busyTime.startDate|date('H:i:s') or givenDate|date('H:i:s') >= busyTime.startDate|date('H:i:s') and endgivenDate|date('H:i:s') <= busyTime.startDate|date('H:i:s') or givenDate|date('H:i:s') >= busyTime.startDate|date('H:i:s') and givenDate|date('H:i:s') < busyTime.endDate|date('H:i:s') %}
                                                            {% set busy = busy + 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <a class="choose-time {% if busy > 0 %}busy-slot{% endif %}" data-date="{{ givenDate|date('Y-m-d') }}" data-hour="{{ givenDate|date('H:i:s') }}" data-time="{{ givenDate|date('l')|trans}} {{ givenDate|date('m/Y H:i') }}">
                                                    {{ givenDate|date('H:i') }}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% set array = globalSchedules %}
                            {% if array[givenDate|date('Y-m-d')] is defined %}
                                {% for dayDate in array[givenDate|date('Y-m-d')] %}
                                    {% set precondition = true %}
                                    {% for i in 0..10000 if precondition %}
                                        {% set givenDate = dayDate.startDate|date_modify("+"~i *30 ~"minute") %}
                                        {% set endOfPeriod = dayDate.endDate|date_modify("-"~ service.length ~"minute") %}
                                        {% set endgivenDate = givenDate|date_modify("+"~ service.length ~"minute") %}
                                        {% if givenDate >= endOfPeriod%}
                                            {% set precondition = false %}
                                        {% else %}
                                            <div class="time-button-reservation-container">
                                                {% set numberOfAvailable = rendezvous|length %}
                                                {%  set collaboratorList = '' %}
                                                {% for collaboratorId,collaboratorSchedule in rendezvous %}
                                                    {#Check the rendez vous of collaborator#}
                                                    {% if collaboratorSchedule[givenDate|date('Y-m-d')] is defined %}
                                                        {% set busy = 0 %}
                                                        {#Check if the collaborator has a rendezvous that time#}
                                                        {% for busyTime in collaboratorSchedule[givenDate|date('Y-m-d')] %}
                                                            {% if givenDate|date('H:i:s') <= busyTime.startDate|date('H:i:s') and endgivenDate|date('H:i:s') > busyTime.startDate|date('H:i:s') or givenDate|date('H:i:s') >= busyTime.startDate|date('H:i:s') and endgivenDate|date('H:i:s') <= busyTime.startDate|date('H:i:s') or givenDate|date('H:i:s') >= busyTime.startDate|date('H:i:s') and givenDate|date('H:i:s') < busyTime.endDate|date('H:i:s') %}
                                                                {% set busy = busy + 1 %}
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if busy > 0 %}
                                                            {% set numberOfAvailable = numberOfAvailable - 1 %}
                                                        {% else %}
                                                            {#Check if the collaborator is here that day #}
                                                            {% set presentCollaborator = 0 %}
                                                            {% for dayDate in schedules[collaboratorId][givenDate|date('Y-m-d')] %}
                                                                {% set endOfPeriod = dayDate.endDate|date_modify("-"~ service.length ~"minute") %}
                                                                {% if givenDate < endOfPeriod and givenDate >= dayDate.startDate%}
                                                                    {% set presentCollaborator = presentCollaborator + 1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if presentCollaborator > 0 %}
                                                                {% set collaboratorList = collaboratorList ~ collaboratorId ~ '-'%}
                                                            {% else %}
                                                                {% set numberOfAvailable = numberOfAvailable - 1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {#no rendez vous but he may not be there#}
                                                        {% if schedules[collaboratorId][givenDate|date('Y-m-d')] is defined %}
                                                            {% set presentCollaborator = 0 %}
                                                            {% for dayDate in schedules[collaboratorId][givenDate|date('Y-m-d')] %}
                                                                {% set endOfPeriod = dayDate.endDate|date_modify("-"~ service.length ~"minute") %}
                                                                {% if givenDate < endOfPeriod and givenDate >= dayDate.startDate%}
                                                                    {% set presentCollaborator = presentCollaborator + 1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if presentCollaborator > 0 %}
                                                                {% set collaboratorList = collaboratorList ~ collaboratorId ~ '-'%}
                                                            {% else %}
                                                                {% set numberOfAvailable = numberOfAvailable - 1 %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% set numberOfAvailable = numberOfAvailable - 1 %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <a class="choose-time {% if numberOfAvailable <= 0 %}busy-slot{% endif %}" data-list="{{ collaboratorList }}" data-date="{{ givenDate|date('Y-m-d') }}" data-hour="{{ givenDate|date('H:i:s') }}" data-time="{{ givenDate|date('l')|trans}} {{ givenDate|date('m/Y H:i') }}">
                                                    {{ givenDate|date('H:i') }}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if i == numberOfDays %}
                        </div> {# close last row #}
                    {% endif %}
                {% endfor %}


        </div>

        <div class="container-summary-reservation">
            <div class="shadow-box" style="display: flex;">
                <div class="summary-information">

                </div>
                <a class="cancel-selection-button"><i class="fas fa-pencil-alt"></i></a>
            </div>
            <div class="shadow-box" style="text-align: center">

                <form action="{{ path('reserve_rendezvous',{'proId':pro.id}) }}" method="POST">
                    <input type="hidden" id="reservation-serviceId" name="serviceId">
                    <input type="hidden" id="reservation-date" name="date">
                    <input type="hidden" id="reservation-hour" name="hour">
                    <input type="hidden" id="reservation-list" name="list">
                    <input type="hidden" id="reservation-collaboratorId" name="collaboratorId">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% else %}
                        <input type="hidden" id="reservation-connectionType" name="connectionType" value="register">
                        <h3>Vous devez être connecté pour finaliser la reservation</h3>

                        <div class="submit-rendezvous-container register-client">
                            <div class="col-md-5 connect-reserve-container">

                                <div class="article-title login-title">Se connecté</div>
                                <a class="show-register-form">Nouveau sur Rendezvous?</a>

                                <div class="article-title register-element">Nouveau sur Rendezvous?</div>
                                <a class="show-login-form">Vous avez déjà un compte ?</a>

                                <div class="login-field-container register-element">
                                    <div class="login-label">Prénom</div>
                                    <input type="text" name="firstName" class="register-field" required>
                                </div>
                                <div class="login-field-container register-element">
                                    <div class="login-label">Nom</div>
                                    <input type="text" name="lastName" class="register-field" required>
                                </div>
                                <div class="login-field-container register-element">
                                    <div class="login-label">Numéro de téléphone</div>
                                    <input type="text" name="phone" class="register-field" required>
                                </div>
                                <div class="login-field-container">
                                    <div class="login-label">Email</div>
                                    <input type="email" name="email" required>
                                </div>
                                <div class="login-field-container">
                                    <div class="login-label">Password</div>
                                    <input type="password" name="password" required>
                                </div>
                            </div>
                        </div>



                    {% endif %}
                    <button class="submit-reservation rendezvous-button">Submit</button>

                </form>


            </div>
        </div>


    </div>

    <style>
        .connect-reserve-container{
            padding: 20px;
            background-color: #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .login-label{
            width: 100px;
        }
        .login-field-container{
            display: flex;
            margin-top: 15px;
            justify-content: center;
        }
        .login-title, .show-register-form{
            display: none;
        }
    </style>
    <script>
        function changeCollaborator(select) {
            var url = "{{ path('reservation_page',{'proId':pro.id}) }}";

            url += "&serviceId="+"{{ service.id }}"+"&collaboratorId=" + select.value;
            document.location.href = url;
        }

        $('.choose-time').on('click', function () {
            $('.container-reservation-field').hide();
            var summaryContainer = $('.container-summary-reservation');
            summaryContainer.show();
            $('.summary-information').html('<div>'+$(this).data('time')+'</div>');

            $('#reservation-serviceId').val({{ service.id }});
            $('#reservation-date').val($(this).data('date'));
            $('#reservation-hour').val($(this).data('hour'));
            $('#reservation-list').val($(this).data('list'));
            {% if collaboratorId is defined %}
            $('#reservation-collaboratorId').val({{ collaboratorId }});
            {% endif %}
            window.scrollTo(0,0);
        });

        $('.cancel-selection-button').on('click', function () {
            $('.container-summary-reservation').hide();
            $('.container-reservation-field').show();
            $('.submit-reservation').attr('href', '#')
        });

        $('.precedent-week').on('click', function () {
            var parent = $(this).parent();
            parent.removeClass('active');
            $('#'+(parseInt(parent.attr('id'))-1)).addClass('active')
        });

        $('.next-week').on('click', function () {
            var parent = $(this).parent();
            parent.removeClass('active');
            $('#'+(parseInt(parent.attr('id'))+1)).addClass('active')
        });

        $('.show-login-form').on('click', function () {
            $(this).hide();
            $('.register-element').hide();
            $('.show-register-form').show();
            $('.login-title').show();
            $('.register-field').removeAttr('required');
            $('#reservation-connectionType').val('login');
        });

        $('.show-register-form').on('click', function () {
            $(this).hide();
            $('.register-element').show();
            $('.show-login-form').show();
            $('.login-title').hide();
            $('.register-field').prop('required',true);
            $('#reservation-connectionType').val('register');
        });

    </script>

{% endblock %}