{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron employer-jumbotron">
        <div>
            <div class="container-logo-employer">
                {% if user.employer.logo.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(user.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% else %}
                    {% set image = 'images/logo-default.png' %}
                {% endif %}
                <img class="logo-employer" src="{{ asset(image) }}"/>
            </div>
            <div class="title-employer">{{ user.employer.name }}</div>
        </div>

    </div>

    <div class="row edit-container">
        <div class="col-md-8 col-md-offset-2">

            <h3 class="login-login-title">{{ 'form.registration.title.edit'|trans }}</h3>

            {% if completion < 100 %}
                <div class="completion-container">
                    Completer vos informations
                    <div class="meter red">
                        <span class="completion-bar" style="width: {{ completion }}%"></span>
                    </div>
                </div>
            {% endif %}

            <div class="completion-success animated fadeIn">
                Profile complété
            </div>

            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="row">


                <fieldset>
                    <legend>Données personnelles:</legend>

                    <div class="col-md-3 form-group">
                        {{ form_label (form.email,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.email , { 'attr': {'readonly':'readonly'} }) }}
                        {{ form_errors(form.email) }}
                    </div>


                    <div class="col-md-3 form-group">
                        {{ form_label (form.firstName,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="col-md-3 form-group">
                        {{ form_label (form.lastName,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="col-md-3 form-group">
                        {{ form_label (form.phone,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Données sur la société</legend>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.name,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.tag,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.tag) }}
                            {{ form_errors(form.tag) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.location,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.location) }}
                            {{ form_errors(form.location) }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_label (form.description,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.description, { 'attr': {'class':'edit-text'} }) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.logo,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.logo) }}
                            {{ form_errors(form.logo) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.coverImage,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.coverImage) }}
                            {{ form_errors(form.coverImage) }}
                        </div>
                </fieldset>

                <div class="col-md-4 col-md-offset-4">
                    {{ form_widget(form.submit, { 'label': 'offer.submit' }) }}
                </div>

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}

        </div>
        <button class="btn btn-default" id="btn-confirm">{{ 'candidate.delete.delete'|trans }}</button>
        <a class="btn btn-default" href="{{ path('add_collaborator') }}">Ajouter un collaborateur</a>
        <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>
        <a class="btn btn-default" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'candidate.delete.sure'|trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</button>
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('input, textarea').each(function(){
            if($(this).attr('id') != 'appbundle_employer__token') {
                if (!$(this).val().length) {
                    $(this).addClass('empty');
                    $(this).removeClass('not-empty');
                } else {
                    $(this).addClass('not-empty');
                    $(this).removeClass('empty');
                }
            }
        });
        $('input, textarea').blur(function()
        {
            let empty = $('.empty').length;
            let full = $('.not-empty').length;
            if( !$(this).val().length ) {
                $(this).addClass('empty');
                $(this).removeClass('not-empty');
            } else {
                $(this).addClass('not-empty');
                $(this).removeClass('empty');
            }
             empty = $('.empty').length;
             full = $('.not-empty').length;
             let percent = full / (full + empty) * 100;
            $('.completion-bar').animate({'width' :percent + '%'});
            if(percent >= 100){
                $('.completion-container').fadeOut("slow", function () {
                    $(this).css({display:"none"});
                    $('.completion-success').css({'display' :'block'});
                });
            }else{
                $('.completion-container').css({'display' :'block'});
                $('.completion-success').css({'display' :'none'});
            }
        });
        $('#appbundle_employer_tag').on("change", function(e) {
            if($(this).val().length != 0){
                $('#appbundle_employer_tag').addClass('not-empty');
                $('#appbundle_employer_tag').removeClass('empty');
            }else{
                $('#appbundle_employer_tag').addClass('empty');
                $('#appbundle_employer_tag').removeClass('not-empty');
            }
            let empty = $('.empty').length;
            let full = $('.not-empty').length;
            let percent = full / (full + empty) * 100;
            $('.completion-bar').animate({'width' :percent + '%'});
            if(percent >= 100){
                $('.completion-container').fadeOut("slow", function () {
                    $(this).css({display:"none"});
                    $('.completion-success').css({'display' :'block'});
                });
            }else{
                $('.completion-container').css({'display' :'block'});
                $('.completion-success').css({'display' :'none'});
            }
        });
        $("#btn-confirm").on("click", function(e){
            e.preventDefault();
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function(){
            window.location.replace("{{ path('delete_employer', {'id':user.employer.id}) }}");
        });

        $("#modal-btn-no").on("click", function(){
            $("#mi-modal").modal('hide');
        });
    </script>

    <style>
        {% if user.employer.coverImage.imageName is not null %}
        {% set image =  'uploads' ~ vich_uploader_asset(user.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
        {% else %}
        {% set image = 'images/default_cover_image6.jpg' %}
        {% endif %}
        .employer-jumbotron::after{
            content: '';
            background-image:url({{ asset(image) }});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}