{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}




    <div class="jumbotron employer-jumbotron">
        <div>
            <div class="container-logo-employer">
                {% if user.employer.logo.imageName is not null %}
                    {% set image =  'uploads' ~ vich_uploader_asset(user.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                {% else %}
                    {% set image = 'images/logo-default.png' %}
                {% endif %}
                <img class="logo-employer" src="/jobnowlu/web/{{ image }}"/>
            </div>
            <div class="title-employer">{{ user.employer.name }}</div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h3 class="login-login-title">{{ 'form.registration.title.edit'|trans }}</h3>


            {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="row">


                <fieldset>
                    <legend>Données personnelles:</legend>

                    <div class="col-md-3 form-group">
                        {{ form_label (form.email,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.email , { 'attr': {'readonly':'readonly'} }) }}
                        {{ form_errors(form.email) }}
                    </div>


                    <div class="col-md-3 form-group">
                        {{ form_label (form.firstName,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="col-md-3 form-group">
                        {{ form_label (form.lastName,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="col-md-3 form-group">
                        {{ form_label (form.phone,null, { 'label_attr': {'class': 'label-form'} }) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Données sur la société</legend>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.name,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.tag,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.tag) }}
                            {{ form_errors(form.tag) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label (form.location,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.location) }}
                            {{ form_errors(form.location) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.description,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.description, { 'attr': {'class':'edit-text'} }) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.whyUs,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.whyUs, { 'attr': {'class':'edit-text'} }) }}
                            {{ form_errors(form.whyUs) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.logo,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.logo) }}
                            {{ form_errors(form.logo) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label (form.coverImage,null, { 'label_attr': {'class': 'label-form'} }) }}
                            {{ form_widget(form.coverImage) }}
                            {{ form_errors(form.coverImage) }}
                        </div>
                </fieldset>

                <div class="col-md-4 col-md-offset-4">
                    {{ form_widget(form.submit, { 'label': 'offer.submit' }) }}
                </div>

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}

        </div>
    </div>

    <style>
        {% if user.employer.coverImage.imageName is not null %}
        {% set image =  'uploads' ~ vich_uploader_asset(user.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
        {% else %}
        {% set image = 'images/default_cover_image6.jpg' %}
        {% endif %}
        .employer-jumbotron::after{
            content: '';
            background-image:url('/jobnowlu/web/{{ image }}');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}