{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container well">

        <h3>Post offer</h3>

        {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}



        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}


    </div>

{% endblock %}