{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

<div class="container login jobnow-container">
    <div class="col-sm4 col-md-4">

        <div class="login-register">

            <h3 class="title">{{ 'login.forgotPassword.new'|trans }}</h3>

            <p>{{ 'login.forgotPassword.validation'|trans }}</p>
        </div>

        <hr>

        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="jobnow-button login login-button" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

    </div>
</div>

{% endblock fos_user_content %}
