
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'dashboard.employer.myBills' | trans }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="container jobnow-container">
        <h1>{{ 'dashboard.employer.myBills' | trans }}</h1>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}

            <div class="shadow-box">
                {% if logsCredit|length > 0 %}
                    <h3>{{ 'price.history'|trans }}</h3>
                    <table class="table" style="width:100%">
                        <tr>
                            <th><a href="{{ path('jobnow_bills', {'sort':(sort=='ASC'?'DESC':'ASC'), 'row':page, 'id': id}) }}">{{ 'bill.date'|trans }}  <i class="fas fa-caret-{% if sort == 'ASC' %}up{% else %}down{% endif %}"></i></a></th>
                            <th>{{ 'price.credits'|trans }}</th>
                            <th>{{ 'price.price'|trans }}</th>
                            <th>{{ 'price.bills'|trans }}</th>
                        </tr>
                        {% for logCredit in logsCredit %}
                            <tr>
                                <td>{{ logCredit.date|date('d/m/Y') }}</td>
                                <td>{{ logCredit.credit }}</td>
                                <td>{{ logCredit.price|localizedcurrency('EUR') }}</td>
                                <td>
                                    <a href="{{ path('jobnow_bills_generate', {'id':logCredit.id}) }}" download>
                                        <i class="fas fa-file"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div id="paginator-offer">
                        <a href="{{ path('jobnow_bills', {'row':(page == 1?page:page-1), 'id': id}) }}">&laquo;</a>
                        {% for i in 1..total %}
                            <a class="offer-page-link {% if i == page %}selected-page{% endif %}" href="{{ path('jobnow_bills', {'row':i, 'id': id}) }}">{{ i }}</a>
                        {% endfor %}
                        <a href="{{ path('jobnow_bills', {'row':(page == total?page:page+1), 'id': id}) }}">&raquo;</a>
                    </div>
                {% else %}
                    {{ 'price.allow' | trans }}
                {% endif %}
            </div>
        {% endif %}


    </div>
    <style>
        .no-bonus{
            margin-bottom: 50px;
            margin-top: 20px;
        }
        .strike {
            position: relative;
            display: inline-block;
        }
        .strike:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 120%;
            background: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(165deg);
        }
    </style>

{% endblock %}