
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'dashboard.employer.myBills' | trans }}</h1>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}

            <div class="shadow-box">
                {% if logsCredit|length > 0 %}
                    <h3>{{ 'price.history'|trans }}</h3>
                    <table class="table" style="width:100%">
                        <tr>
                            <th>Date</th>
                            <th>{{ 'price.credits'|trans }}</th>
                            <th>{{ 'price.price'|trans }}</th>
                        </tr>
                        {% for logCredit in logsCredit %}
                            <tr>
                                <td>{{ logCredit.date|date('d-m-Y H:i:s') }}</td>
                                <td>{{ logCredit.credit }}</td>
                                <td>{{ logCredit.price|localizedcurrency('EUR') }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    {{ 'price.allow' | trans }}
                {% endif %}
            </div>
        {% endif %}


    </div>
    <style>
        .no-bonus{
            margin-bottom: 50px;
            margin-top: 20px;
        }
        .strike {
            position: relative;
            display: inline-block;
        }
        .strike:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 120%;
            background: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(165deg);
        }
    </style>

{% endblock %}