
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'employer.credit.title' | trans }}</h1>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
            <h3>{{ 'employer.credit.have'|trans({'%credit%': credit}) }}</h3>
        {% endif %}

        <h3>Our packages</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>1 Credit</h3>
                        <h4 class="no-bonus">{{ creditService.getOneCredit }}€</h4>
                        <p>No Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 1}) }}" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>10 Credits</h3>
                        <h4 class="strike">{{ creditService.getTenCredit + 10}}€</h4>
                        <h4>{{ creditService.getTenCredit }}€</h4>
                        <p>+ 10€ Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 2}) }}" class="btn btn-primary" role="button">Buy</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>50 Credits</h3>
                        <h4 class="strike">{{ creditService.getFiftyCredit + 100}}€</h4>
                        <h4>{{ creditService.getFiftyCredit }}€</h4>
                        <p>+ 100 € Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 3}) }}" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
        </div>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
            <div class="shadow-box">
            <h3>History</h3>
            <table class="table" style="width:100%">
                <tr>
                    <th>Date</th>
                    <th>Credit(s)</th>
                    <th>Price</th>
                </tr>
                {% for logCredit in logsCredit %}
                    <tr>
                        <td>{{ logCredit.date|date('d-m-Y H:i:s') }}</td>
                        <td>{{ logCredit.credit }}</td>
                        <td>{{ logCredit.price|localizedcurrency('EUR') }}</td>

                    </tr>
                {% endfor %}
            </table>
            </div>
        {% endif %}


    </div>
    <style>
        .no-bonus{
            margin-bottom: 50px;
            margin-top: 20px;
        }
        .strike {
            position: relative;
            display: inline-block;
        }
        .strike:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 120%;
            background: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(165deg);
        }
    </style>

{% endblock %}