
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}

    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'employer.credit.title' | trans }}</h2>
    </div>
    <div class="container jobnow-container buy-container">

        {#{%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}#}
            {#<h3>{{ 'employer.credit.have'|trans({'%credit%': credit}) }}</h3>#}
        {#{% endif %}#}

        {#<h3>{{ 'price.ourPackages' | trans }}</h3>#}
        <div class="row container-buy-choice">
            <div class="col-sm-4 col-md-4">
                <div class="credit-choice">
                    {#<img src="..." alt="...">#}
                    <div class="header-credit-choice">
                        <h3>1 {{ 'price.credit' | trans }}</h3>
                    </div>
                    <div class="caption">
                        <img class="logo-choice-coin" src="{{asset('images/coin.svg')}}">
                        <div class="no-bonus">{{ (creditService.getOneCredit*100)/(117) }}€ <span class="no-tax">{{ 'bill.tex'|trans }}</span></div>
                        <p>{{ 'price.noBonus' | trans }}</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 1}) }}" class="jobnow-button buy-credit" role="button">{{ 'price.buy' | trans }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="credit-choice">
                    {#<img src="..." alt="...">#}
                    <div class="header-credit-choice">
                        <h3>5 {{ 'employer.credit.title' | trans }}</h3>
                    </div>
                    <div class="caption">
                        <img class="logo-choice" src="{{asset('images/bill.svg')}}">
                        <div class="strike">{{ (creditService.getfiveCredit*100)/(117) + 10}}€</div>
                        <div>{{ (creditService.getfiveCredit*100)/(117) }}€ <span class="no-tax">{{ 'bill.tex'|trans }}</span></div>
                        <p class="bonus-discount">+ 10€ Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 2}) }}" class="jobnow-button buy-credit" role="button">{{ 'price.buy' | trans }}</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="credit-choice">
                    {#<img src="..." alt="...">#}
                    <div class="header-credit-choice">
                        <h3>10 {{ 'employer.credit.title' | trans }}</h3>
                    </div>
                    <div class="caption">
                        <img class="logo-choice" src="{{asset('images/stack.svg')}}">
                        <div class="strike">{{ (creditService.getTenCredit*100)/(117) + 100}}€</div>
                        <div>{{ (creditService.getTenCredit*100)/(117) }}€ <span class="no-tax">{{ 'bill.tex'|trans }}</span></div>
                        <p class="bonus-discount">+ 100 € Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 3}) }}" class="jobnow-button buy-credit" role="button">{{ 'price.buy' | trans }}</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="shadow-box credit-text">
            {{ 'price.find' | trans }}
        </div>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
            {% if credit >0 %}
                <div class="shadow-box">
                    {{ 'price.go'|trans }}
                    <a href="{{ path('dashboard_employer') }}" class="btn btn-primary" style="float: right;" role="button">{{ 'dashboard.title'|trans }}</a>
                </div>
            {% endif %}
        {% endif %}


    </div>
    <style>
        .no-tax{
            font-size: 12px;
        }
        @media (min-width: 1200px){
            .buy-container{
                width: 1030px !important;
            }
        }

        .bonus-discount{
            margin-top: 12px;
        }
        .strike{
            margin-top: 9px;
            margin-bottom: 10px;
        }
        .logo-choice{
            width: 150px;
            margin: auto;
            display: list-item;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .logo-choice-coin{
            width: 100px;
            margin: auto;
            display: list-item;
            margin-top: 32px;
            margin-bottom: 57px;
        }
        .credit-text{
            margin-bottom: 10px !important;
            padding-bottom: 10px !important;
            padding-top: 10px !important;
        }
        .credit-choice{
            webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
            -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
            box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
            -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
            -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
            -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
            background-color: white;
            margin-bottom: 20px;
        }
        .header-credit-choice{
            background: #337ab7;
            color: white;
            padding: 15px;
            font-size: 26px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .caption{
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }
        .buy-credit{
            margin-top: 10px;
        }
        .no-bonus{
            margin-bottom: 50px;
            margin-top: 9px;
        }
        .strike {
            position: relative;
            display: inline-block;
        }
        .strike:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 120%;
            background: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(165deg);
        }
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/dashboard.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}