
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'employer.credit.title' | trans }}</h1>

        <div>{{ 'employer.credit.subTitle'|trans }}</div>
        <h3>{{ 'employer.credit.have'|trans({'%credit%': credit}) }}</h3>

        <h3>Our packages</h3>
        <h4>Save money and get free bonus credits when you buy in bulk</h4>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>1 Credit</h3>
                        <p>No Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 1}) }}" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>10 Credits</h3>
                        <p>+ 10€ Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 2}) }}" class="btn btn-primary" role="button">Buy</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>50 Credits</h3>
                        <p>+ 100 € Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 3}) }}" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
        </div>

        <h3>History</h3>
            <div class="row">
                <div class="col-md-8">
                    <table style="width:100%">
                        <tr>
                            <th>Date</th>
                            <th>Credit(s)</th>
                            <th>Price</th>
                        </tr>
                        {% for logCredit in logsCredit %}
                            <tr>
                                <td>{{ logCredit.date|date('d-m-Y H:i:s') }}</td>
                                <td>{{ logCredit.credit }}</td>
                                <td>{{ logCredit.price|localizedcurrency('EUR') }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>

{% endblock %}