
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}

    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="container jobnow-container">
        <h1>{{ 'employer.credit.title' | trans }}</h1>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
            <h3>{{ 'employer.credit.have'|trans({'%credit%': credit}) }}</h3>
        {% endif %}

        <h3>{{ 'price.ourPackages' | trans }}</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>1 {{ 'price.credit' | trans }}</h3>
                        <h4 class="no-bonus">{{ creditService.getOneCredit }}€</h4>
                        <p>{{ 'price.noBonus' | trans }}</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 1}) }}" class="btn btn-primary" role="button">{{ 'price.buy' | trans }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>5 {{ 'employer.credit.title' | trans }}</h3>
                        <h4 class="strike">{{ creditService.getfiveCredit + 10}}€</h4>
                        <h4>{{ creditService.getfiveCredit }}€</h4>
                        <p>+ 10€ Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 2}) }}" class="btn btn-primary" role="button">{{ 'price.buy' | trans }}</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class=" shadow-box">
                    {#<img src="..." alt="...">#}
                    <div class="caption">
                        <h3>10 {{ 'employer.credit.title' | trans }}</h3>
                        <h4 class="strike">{{ creditService.getTenCredit + 100}}€</h4>
                        <h4>{{ creditService.getTenCredit }}€</h4>
                        <p>+ 100 € Bonus</p>
                        <p><a href="{{ path('jobnow_payment', {'id': 3}) }}" class="btn btn-primary" role="button">{{ 'price.buy' | trans }}</a></p>
                    </div>
                </div>
            </div>
        </div>

        {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
            {% if credit >0 %}
                <div class="shadow-box">
                    {{ 'price.go'|trans }}
                    <a href="{{ path('dashboard_employer') }}" class="btn btn-primary" style="float: right;" role="button">{{ 'dashboard.title'|trans }}</a>
                </div>
            {% endif %}
        {% endif %}


    </div>
    <style>
        .no-bonus{
            margin-bottom: 50px;
            margin-top: 20px;
        }
        .strike {
            position: relative;
            display: inline-block;
        }
        .strike:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 120%;
            background: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(165deg);
        }
    </style>

{% endblock %}