<div class="bill-container">
    <h1>
        JOBNOWLU
    </h1>

    <div>228 Route d’Esch L-1471 Luxembourg</div>
    <div>TVA LU21691623</div>
    <div class="id-bill">
        <div><h2>{{ 'bill.estimation'|trans }}</h2></div>
        <div><b>{{ 'bill.date'|trans }} :</b>{{ "now"|date("d/m/Y") }}</div>
    </div>

    <div>
        <div class="to-bill">
            <div><b>{{ 'bill.to'|trans }}</b></div>
            <div>{{ name }}</div>
            <div>{{ vatNumber }}</div>
        </div>
        <div class="object-bill">
            <div><b>{{ 'bill.object'|trans }}</b></div>
            <div>{{ 'bill.buyCredit'|trans }}</div>
        </div>
    </div>

    <div>
        <table class="table-bill">
            <thead>
            <tr>
                <th>{{ 'bill.date'|trans }}</th>
                <th>{{ 'bill.numberCredit'|trans }}</th>
                <th>{{ 'bill.vat'|trans }}</th>
                <th>{{ 'bill.amount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="with-line">{{ "now"|date("d/m/Y") }}</td>
                <td class="with-line">{{ numberCredit }}</td>
                <td class="with-line">{% if withVat %}17%{% else %}0{% endif %}</td>
                {% if withVat %}
                    {% set firstPrice = (price*100)/(117) %}
                {% else %}
                    {% set firstPrice = price %}
                {% endif %}
                <td class="with-line">€ {{ firstPrice |round(2, 'floor')}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="right-border"></td>
                <td class="with-line"></td>
                <td class="with-line"></td>
            </tr>
            <tr>
                <td></td>
                <td class="right-border"></td>
                <td class="with-line">{{ 'bill.totalExludingTax'|trans }}</td>
                <td class="with-line">€ {{ firstPrice |round(2, 'floor') }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="right-border"></td>
                <td class="with-line">{{ 'bill.vat'|trans }}</td>
                {% if withVat %}
                    {% set secondPrice = (price*100)/(117)*(17/100) %}
                {% else %}
                    {% set secondPrice = 0 %}
                {% endif %}
                <td class="with-line">€ {{ secondPrice |round(2, 'floor') }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="right-border"></td>
                <td class="with-line">{{ 'bill.totalIncludingTaxes'|trans }}</td>
                <td class="with-line"><b>€ {{ price }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<style>
    .id-bill{
        position: absolute;
        left: 500px;
        top: 60px;
    }
    .to-bill{
        position: absolute;
        left: 10px;
        top: 230px;
        width: 45%;
    }
    .object-bill{
        position: absolute;
        left: 400px;
        top: 230px;

    }
    .table-bill{
        margin-top: 250px;
    }
    .bill-container{
        padding: 50px;
        font-size: 16px;
    }
    table {
        border-collapse:collapse;
        text-align:center;
    }

    caption {
        caption-side:bottom;
        font-weight:bold;
        font-style:italic;
        margin:4px;
    }

    th {
        border: 1px solid gray;
        background-color: #337ab7;
    }

    .with-line {
        border: 1px solid gray;
    }
    .right-border{
        border-right: 1px solid gray;
    }
    th, td {
        height: 24px;
        padding:4px;
        width: 145px;
        vertical-align:middle;
    }
</style>