{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'employer.credit.title' | trans }}  - {{ parent() }}
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'price.payment.title' | trans }}</h2>
    </div>
    <div class="container stripe-container">
        <div class="shadow-box col-md-8">
            {{ form_start(form, {attr: {id: form.vars.id}}) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                    <div class="col-md-6 info-log-credit">
                        {{ form_label (form.zipcode) }}
                        {{ form_widget(form.zipcode) }}
                    </div>

                    <div class="col-md-12 card-info">
                        <div>
                            CVC: Code de sécurité au dos de la carte
                        </div>
                        <label for="card-element">
                            {{ 'price.payment.enter'|trans }}
                        </label>
                        <div id="card-element" class="form-control"></div>
                        <div id="card-errors" class="help-block" role="alert"></div>
                        {{ form_widget(form.token) }}
                    </div>

                </div>
            </div>
            <style>
                .info-log-credit{
                    margin-top: 10px;
                }
                .card-info{
                    margin-top: 20px;
                }
            </style>

            <button class="btn btn-default" id="btn-confirm">{{ 'price.payment.validate'|trans }}</button>
        </div>
        <div class="col-md-4">
            <div class="shadow-box">
                <div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td scope="row" class="with-line">{{ 'bill.numberCredit'|trans }}</td>
                            <td class="with-line">{{ nbrCredit }}</td>
                        </tr>
                        <tr>
                            <td class="with-line">{{ 'bill.totalExludingTax'|trans }}</td>
                            <td class="with-line">{{ (price*100)/(117) }} €</td>
                        </tr>
                        <tr>
                            <td class="with-line">{{ 'bill.vat'|trans }}</td>
                            <td class="with-line">17%</td>
                        </tr>
                        <tr>
                            <td class="with-line">{{ 'bill.tax'|trans }}</td>
                            <td class="with-line">{{ (price*100)/(117)*(17/100) }} €</td>
                        </tr>
                        <tr>
                            <td class="with-line">{{ 'bill.totalIncludingTaxes'|trans }}</td>
                            <td class="with-line"><b>{{ price }} €</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'price.payment.sure'|trans({'%nbrCredits%': nbrCredit}) }}</h4>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget(form.submit, { 'label': 'price.buy' }) }}
                        <button type="button" class="btn btn-primary" id="modal-btn-no">{{ 'no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <script>
            $("#btn-confirm").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-no").on("click", function(e){
                e.preventDefault();
                $("#mi-modal").modal('hide');
            });

            $("#payment-form_submit").on("click", function(){
                $("#mi-modal").modal('hide');
            });
        </script>

    </div>

    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
        var form = document.getElementById('{{ form.vars.id }}');
        var errors = document.getElementById('card-errors');
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();
        var card = elements.create('card', {
            hidePostalCode: true
        });
        card.mount('#card-element');
        card.addEventListener('change', function(event) {
            if (event.error) {
                errors.textContent = event.error.message;
                form.classList.add('has-error');
            } else {
                errors.textContent = '';
                form.classList.remove('has-error');
            }
        });
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    errors.textContent = result.error.message;
                    form.classList.add('has-error');
                } else {
                    document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });
        });
    </script>
    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/dashboard.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
        .stripe-container{
            margin-top: 25px !important;
        }
    </style>

{% endblock %}