
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'footer.about'|trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'footer.about'|trans }}</h2>
    </div>

    <div class="container rendezvous-container">

        <div class="shadow-box animated fadeIn">
            <div class="offer-about">{{ 'about.let'|trans }}</div>
            <div>{{ 'about.text1'|trans }}</div>
            <div>{{ 'about.text2'|trans }}</div>
            <div>{{ 'about.text3'|trans }}</div>
        </div>

    </div>


    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/rendezvous-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
    </style>
{% endblock %}