
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'footer.faq'|trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'footer.faq'|trans }}</h2>
        <h3>{{ 'faq.subTitle'|trans }}</h3>
    </div>

    <div class="container rendezvous-container">
        <style>
            .accordion {
                font-size: 20px;
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                transition: 0.4s;
            }

            .active, .accordion:hover {
                background-color: #ccc;
            }

            .accordion:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
            }

            .panel {
                padding: 0 18px;
                font-size: 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
            #tab-employer, #tab-candidate{
                display: none;
            }
            .faq-choice{
                text-align: center;
            }
            .choose-faq{
                font-size: 25px;
                margin-bottom: 15px;
            }
            .faq-button .fas{
                margin-right: 10px;
            }
        </style>
        </head>
        <body>

        <div class="shadow-box faq-choice">
            {#<div class="choose-faq">{{('faq.kind')|trans}}</div>#}
            <div>
                <button onclick="showTab('tab-candidate')" class="rendezvous-button faq-button"><i class="fas fa-search"></i>{{ 'header.candidates.register'|trans }}</button>
                <button onclick="showTab('tab-employer')" class="rendezvous-button faq-button"><i class="fas fa-clipboard"></i>{{ 'header.employers.register'|trans }}</button>
            </div>

        </div>

        <div id="tab-employer">
            <div class="shadow-box">{{('faq.employer.intro')|trans}}</div>
            {% for i in range(1,8) %}
                <p></p>
                <button class="accordion">{{('faq.employer.'~i~'.question')|trans}}</button>
                <div class="panel">
                    <p>{{('faq.employer.'~i~'.answer')|trans}}</p>
                </div>
            {% endfor %}
        </div>
        <div id="tab-candidate">
            <div class="shadow-box">{{('faq.candidate.intro')|trans}}</div>
            {% for i in range(1,3) %}
                <p></p>
                <button class="accordion">{{('faq.candidate.'~i~'.question')|trans}}</button>
                <div class="panel">
                    <p>{{('faq.candidate.'~i~'.answer')|trans}}</p>
                </div>
            {% endfor %}
        </div>


        <script>
            function showTab(id) {
                let tab = $('#'+id),
                    otherId = (id == 'tab-employer'?'tab-candidate':'tab-employer'),
                    otherTab = $('#'+otherId);
                if(tab.is(":visible")){
                    tab.hide();
                }else{
                    otherTab.hide();
                    tab.show();
                }
            }

            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>
        </body>
    </div>

    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/rendezvous-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
    </style>
{% endblock %}