
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container well">
        <h1> Page d'acceuil </h1>
        <ul>
            <li> Hello World! </li>
        </ul>
        <form method="post" action="{{ path('search_page_offer') }}" id="search-offer-homepage">
            <div>
                <input type="text" name="keyword" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                <input type="text" name="location" id="location-input" placeholder="{{ 'form.offer.search.location' | trans }}" title="{{ 'form.offer.search.location' | trans }}">
                <input type="submit" class="btn btn-primary searchOffer">
            </div>
        </form>

    </div>

{% endblock %}




