{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.home'|trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'homepage.title'|trans }}</h2>
        <h3 class="homepage-subtitle">{{ 'homepage.subtitle'|trans }}</h3>
        <p>
            <form method="GET" action="{{ path('search_page_offer') }}" id="search-offer-homepage">
                <div class="homepage-search-bar search-bar">
                    <div class="div-keyword-input">
                        {{ autoComplete|raw  }}{{ autoCompleteScript|raw  }}
                    </div>
                    <select title="Type" id="type-input" name="type"  class="selectpicker homepage-tag">
                        <option value="" disabled selected>{{ 'form.registration.type'|trans }}</option>
                        <option value="form.registration.type1">{{ 'form.registration.type1'|trans }}</option>
                        <option value="form.registration.type2">{{ 'form.registration.type2'|trans }}</option>
                        <option value="form.registration.type3">{{ 'form.registration.type3'|trans }}</option>
                        <option value="form.registration.type4">{{ 'form.registration.type4'|trans }}</option>
                        <option value="form.registration.type5">{{ 'form.registration.type5'|trans }}</option>
                    </select>
                    <input type="submit" class="rendezvous-button searchOffer-home" value="{{ 'form.offer.search.search' | trans }}">
                </div>
            </form>
        </p>
    </div>
    <div class="container homepage-container">


        {% if featuredPro|length > 0 %}
            <div class="row featured-pro fade-in-right animated">
                <h1 class="featured-offer text-center">{{ 'featured.pro.title'|trans }}</h1>
                {% if featuredPro|length == 1 %}
                    {% set blocPro = 12 %}
                {% elseif featuredPro|length == 2 %}
                    {% set blocPro = 6 %}
                {% else %}
                    {% set blocPro = 4 %}
                {% endif %}
                {%  for pro in featuredPro %}
                <a class="col-sm-{{ blocPro }} col-md-{{ blocPro }} zoom thump-pro" href="{{ path('show_pro', {'id':pro.pro.id}) }}">
                    <div class="thumbnail featured-pro-item" >
                        <div class="header-thumb-pro">
                            {% if pro.pro.logo.imageName is not null %}
                                {% set image =  'uploads' ~ vich_uploader_asset(pro.pro.logo, 'imageFile', 'AppBundle\\Entity\\Image') %}
                            {% else %}
                                {% set image = 'images/logo-default.png' %}
                            {% endif %}
                            <img src="{{asset(image)}}" class="pro-thumb-logo" />
                            <h3>{{ pro.pro.name }}</h3>
                        </div>
                        {% if pro.pro.coverImage.imageName is not null %}
                            {% set image =  'uploads' ~ vich_uploader_asset(pro.pro.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                        {% else %}
                            {% set image = 'images/default_cover_image6.jpg' %}
                        {% endif %}
                        <div class="caption" style="background-position: center center;background-repeat: no-repeat;background-size: cover;background-image: url({{asset(image)}});min-height: 185px;">
                        </div>
                        <div class="thumb-pro-info">
                            {{ pro.pro.description}}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <hr>
        {% endif %}

    </div>
    <div class="about-us-container">
        <div class="container rendezvous-container">
            <div class="rendezvous-description fadeIn animated">
                <div style="display: -webkit-inline-box;">
                    <img class="about-us-icon" src="{{asset('images/search.svg')}}"><h3>{{ 'header.about.title'|trans }}</h3>
                </div>
                <p><b>{{ 'homepage.ourMission.1.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.1.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.2.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.2.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.3.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.3.text' |trans}}</p>
            </div>
        </div>
    </div>
    {% if ads is not empty %}
        <div class="container rendezvous-container container">
            <h1 class="featured-offer text-center">{{ 'homepage.ourPartners'|trans }}</h1>
            <ul class="ads-list-hompeage" id="myUL">
                {% for ad in ads %}
                <li class="search-result animated fadeIn">
                    <a class='offer-element ad' href="{{ ad.link }}" target="_blank">
                        {% if ads[0].description is not null and ad.link is not empty %}
                            {% set image =  'uploads' ~ vich_uploader_asset(ad.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                            <div class="background-pro-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{asset(image)}});background-position: center center;">
                                <div class="layer layer-offer-element animated">
                                </div>
                            </div>
                            {% if ad.logo.imageName is not null %}<img class="logo-pro-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ad.logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                            <div class="offer-search-element">
                                <div class="offer-element-details">
                                    <div class="offer-element-name">{{ ad.title }}</div>
                                    <div class="offer-element-title">{{ ad.description}}</div>
                                </div>
                            </div>
                        {% else %}
                            {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                            <div class="background-pro-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{asset(image)}});background-position: center center;"></div>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <style>
        .ads-list-hompeage{
            list-style-type: none;
            margin-top: 20px;
        }
        .about-us-icon{
            width: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .rendezvous-description{
            color: white;
            margin-top: 60px;
            margin-bottom: 60px;
            text-align: center;
            max-width: 777px;
            margin-left: auto;
            margin-right: auto;
        }
        .about-us-container{
            background-color: #272f3b;
            margin-top: 40px;
        }
        .homepage-href-row{
            padding: 10px;
            padding-right: 25px;
            font-size:20px;
        }
        .homepage-href-tag{
            text-decoration: none !important;
        }
        .pac-container:after {
            /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

            background-image: none !important;
            height: 0;
        }
        .pac-icon {
            display: none;
        }

        .pac-item-query {
            padding-left: 10px;
        }
        .pac-item span {
            color: #333;
        }
        .pac-matched{
            font-weight: 800 !important;
        }




        @media screen and (max-width: 1130px) {

            .homepage-jumbotron::after{
                background-position: center center !important;
            }

        }

        .homepage-jumbotron{

            background:rgba(0,0,0,0.5) !important;
        }


        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/rendezvous-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center -187px;
        }
    </style>
    <script>
        $(".offer-element").on("mouseenter ", function(){
            $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
        });
        $(".offer-element").on("mouseleave ", function(){
            $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
        });
    </script>

{% endblock %}




