
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>Find the career you deserve</h2>
        <p class="homepage-subtitle">Your job search starts and ends with us</p>
        <p>
            <form method="post" action="{{ path('search_page_offer') }}" id="search-offer-homepage">
                <div class="homepage-search-bar">
                    <input name="keyword" type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}">
                    <input name="location" type="text" id="location-input" placeholder="{{ 'form.offer.search.location' | trans }}" title="{{ 'form.offer.search.location' | trans }}">
                    <input type="submit" class="jobnow-button searchOffer" value="Search">
                </div>
            </form>
        </p>
    </div>
    <div class="container">
        <div class="row featured-offer fade-in-right animated">
            {% if featuredOffer|length > 0 %}
                <h1>Featured Jobs</h1>
            {% endif %}
            {% if featuredOffer|length == 1 %}
                {% set blocOffer = 12 %}
            {% elseif featuredOffer|length == 2 %}
                {% set blocOffer = 6 %}
            {% else %}
                {% set blocOffer = 4 %}
            {% endif %}
            {%  for offer in featuredOffer %}
                <a class="col-sm-6 col-md-{{ blocOffer }} zoom" href="{{ path('show_offer', {'id': offer.offer.id}) }}">
                    <div class="thumbnail">
                        <div class="caption background-offer" style="display: flex; justify-content: center;align-items: center;background-repeat: no-repeat;background-size: cover;background-image: url('/jobnowlu/web/uploads{{ vich_uploader_asset(offer.offer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');min-height: 185px;">
                            <div class="layer">
                            </div>
                            <div class="offer-thumb-image-div">
                                {% if offer.offer.employer.logo is not null %}<img src="/jobnowlu/web/uploads{{ vich_uploader_asset(offer.offer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}" class="offer-thumb-logo" />{% endif %}
                            </div>
                        </div>

                        <div class="caption">
                            <h3>{{ offer.offer.title|truncate(20, true) }} / {{ offer.offer.id }}</h3>
                            <p>{{ offer.offer.location }} / {{ offer.offer.contractType.name |trans }}</p>
                            <p class="offer-thumb-description">{{ offer.offer.description |truncate(250, true)}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="row featured-employer fade-in-left animated">
            {% if featuredEmployer|length > 0 %}
                <h1>Featured Employer</h1>
            {% endif %}
            {% if featuredEmployer|length == 1 %}
                {% set blocEmployer = 12 %}
            {% elseif featuredEmployer|length == 2 %}
                {% set blocEmployer = 6 %}
            {% else %}
                {% set blocEmployer = 4 %}
            {% endif %}
            {%  for employer in featuredEmployer %}
            <a class="col-sm-6 col-md-{{ blocEmployer }} zoom thump-employer" href="{{ path('show_employer', {'id':employer.employer.id}) }}">
                <div class="thumbnail" >
                    <div class="header-thumb-employer">
                        {% if employer.employer.logo is not null %}<img src="/jobnowlu/web/uploads{{ vich_uploader_asset(employer.employer.logo, 'imageFile', 'AppBundle\\Entity\\Image') }}" class="employer-thumb-logo" />{% endif %}
                        <h3>{{ employer.employer.name }}</h3>
                    </div>
                    <div class="caption" style="background-repeat: no-repeat;background-size: cover;background-image: url('/jobnowlu/web/uploads{{ vich_uploader_asset(employer.employer.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') }}');min-height: 185px;">
                    </div>
                    <div class="thumb-employer-info">
                        {{ employer.employer.description |truncate(300, true)}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <hr>

        <div class="jumbotron jobnow-description fade-in-right animated">
            <p>Our mission is to enable locally-present companies find the right candidates at the right moment and to help candidates find their ideal job in Luxembourg. Therefore our dedicated local team of multi-lingual experts works hard every day in order to offer first class customer service combined with state of the art technology. Today, jobs.lu is the benchmark in Luxembourg when it comes to high quality online recruitment and we will continue to develop ourselves further in order to meet our commitment</p>
        </div>


    </div>

    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/jobnow-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}




